openapi: 3.2.0
info:
  title: Picker Production Documentation Referral API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Referral
paths:
  /referral/listAllReferral:
    get:
      summary: delete referral scheme by admin
      operationId: getReferralListallreferral
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: userID of the user to fetch referral created by that user only
        name: createdByUser
        in: query
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: isDeleted
        in: query
        schema:
          type: boolean
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: limit data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Referral
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /referral/addReferralScheme:
    post:
      summary: set referral scheme
      operationId: postReferralAddreferralscheme
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Referral
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                instant:
                  type: boolean
                  description: false if wait for certain number of bookings before referral applied, else true
                isAfterBooking:
                  type: boolean
                  default: 'false'
                  description: 'true if to be applied after booking is completed, else true '
                waitBookingNumber:
                  type: number
                  default: 0
                  description: if instant if false, bookings wait, before referral applied
                minimumBookingPrice:
                  type: number
                  default: 0
                  description: Minimum price of booking on which referral will be applied
                cashbackForOwner:
                  type: number
                  description: cashback for user who created referral
                cashbackForUser:
                  type: number
                  description: cashback for user who used referral
                percentageForOwner:
                  type: number
                  description: '% off for user who created referral'
                percentageForUser:
                  type: number
                  description: '% off for user who used referral'
                operatableBookingsForOwner:
                  type: number
                  description: operatable upto bookings for user who created referral
                operatableBookingsForUser:
                  type: number
                  description: operatable upto bookings for user who used referral
                role:
                  type: string
                  enum:
                  - customer
                  - driver
                  - serviceProvider
                  description: role of user order is  customer/driver/serviceProvider/admin
                coordinates:
                  type: array
                  items:
                    type: array
                    items:
                      type: number
                    collectionFormat: multi
                  minItems: 4
                  description: '[[0,0],[1,1],[2,2],[0,0]]'
                regionName:
                  type: string
                  description: name for coordinates
              required:
              - instant
              - minimumBookingPrice
              - operatableBookingsForOwner
              - operatableBookingsForUser
  /referral/addReferralSchemeType:
    post:
      summary: set referral scheme type
      operationId: postReferralAddreferralschemetype
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Referral
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                referralSchemeType:
                  type: string
                  enum:
                  - One Referral for whole App
                  - Role Specific referrals
                  - Region Specific referrals
                  - Role and Region Specific referrals
                  description: type of referral scheme to be used
              required:
              - referralSchemeType
  /referral/deleteScheme:
    delete:
      summary: delete referral scheme by admin
      operationId: deleteReferralDeletescheme
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Referral
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                referralPattern:
                  type: string
                  description: Referral pattern to delete
              required:
              - referralPattern
