openapi: 3.2.0
info:
  title: Picker Production Documentation Products API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Products
paths:
  /customer/getFavorites:
    get:
      summary: Get list favorite products and businesses from user
      operationId: getCustomerGetfavorites
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: latitude
        in: query
        required: false
        schema:
          type: number
      - name: longitude
        in: query
        required: false
        schema:
          type: number
      tags:
      - Products
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /customer/search:
    get:
      summary: Search businesses and products by searchText
      operationId: getCustomerSearch
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: searchText
        in: query
        required: true
        schema:
          type: string
          minLength: 3
      - name: latitude
        in: query
        required: false
        schema:
          type: number
      - name: longitude
        in: query
        required: false
        schema:
          type: number
      tags:
      - Products
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/setProductAndCategoriesOrder:
    post:
      summary: Generate a dynamic link for business
      operationId: postBusinessSetproductandcategoriesorder
      tags:
      - Products
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_68'
components:
  schemas:
    Model_68:
      type: object
      properties:
        products:
          $ref: '#/components/schemas/products'
          type: array
        categories:
          $ref: '#/components/schemas/products'
          type: array
      required:
      - products
      - categories
    products:
      type: array
      items:
        $ref: '#/components/schemas/Model_67'
    Model_67:
      type: object
      properties:
        id:
          type: string
        order:
          type: number
      required:
      - id
      - order
