openapi: 3.2.0
info:
  title: Picker Production Documentation Chat API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Chat
paths:
  /chat/getChatForBooking:
    get:
      summary: get all chat for booking
      operationId: getChatGetchatforbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: bookingID
        in: query
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: limit
        in: query
        schema:
          type: number
      - name: skip
        in: query
        schema:
          type: number
      tags:
      - Chat
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /chat/getChatForBookingByComeChat:
    get:
      summary: get all chat for booking
      operationId: getChatGetchatforbookingbycomechat
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: bookingID
        in: query
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: limit
        in: query
        schema:
          type: number
      - name: skip
        in: query
        schema:
          type: number
      tags:
      - Chat
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
