openapi: 3.2.0
info:
  title: Picker Production Documentation User API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: User
paths:
  /{param*}:
    get:
      summary: for front end static rendering
      operationId: getParam
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /angular4-docs/{param*}:
    get:
      summary: for angular 4 docs
      operationId: getAngular4docsParam
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /bookings/getAllBookingsDashBoard:
    get:
      summary: Get General info about businesses
      operationId: getBookingsGetallbookingsdashboard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
      - name: to
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: onlyPast
        in: query
        required: false
        schema:
          type: boolean
      - name: onlyActives
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /bookings/getCoportatesAllBookings:
    get:
      summary: Get General info about businesses
      operationId: getBookingsGetcoportatesallbookings
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
      - name: to
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: onlyPast
        in: query
        required: false
        schema:
          type: boolean
      - name: onlyActives
        in: query
        required: false
        schema:
          type: boolean
      - description: ID of the selected user to filter its bookings
        name: userID
        in: query
        required: false
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /bookings/getCorporateBookingsByUserId:
    get:
      summary: Get coportates orders by businessId
      operationId: getBookingsGetcorporatebookingsbyuserid
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: userId
        in: query
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/categories:
    get:
      summary: Get all the products from a business
      operationId: getBusinessCategories
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/categoriesByUserId:
    get:
      summary: Get all the products from a business
      operationId: getBusinessCategoriesbyuserid
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: businessUserId
        in: query
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/checkAvailableNames:
    get:
      summary: Check if the name of the business is available
      operationId: getBusinessCheckavailablenames
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getAccountInfoIntegrationDashboard:
    get:
      summary: Get General info about specific business
      operationId: getBusinessGetaccountinfointegrationdashboard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: userId
        in: query
        required: false
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getAssociatedBusiness:
    get:
      summary: Get General info about businesses
      operationId: getBusinessGetassociatedbusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: storeType
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: sortField
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBookingsDataByDatesDashboard:
    get:
      summary: Get General info about businesses
      operationId: getBusinessGetbookingsdatabydatesdashboard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: fromDate
        in: query
        required: true
        schema:
          type: string
      - name: toDate
        in: query
        required: true
        schema:
          type: string
      - name: isSemester
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBookingsIntegrationDashboard:
    get:
      summary: Get General info about businesses
      operationId: getBusinessGetbookingsintegrationdashboard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: userID
        in: query
        required: false
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBusinessCategories:
    get:
      summary: Get the business categories in order
      operationId: getBusinessGetbusinesscategories
      parameters:
      - name: visibility
        in: query
        required: false
        schema:
          type: string
          enum:
          - VISIBLE
          - NOT_VISIBLE
          - ALL
      - description: The number of catgeories that will be returned for each page
        name: limit
        in: query
        required: false
        schema:
          type: number
      - description: For pagination effect. On first page it is 0, then for each next page is (page x limit) so it can return the next X categories
        name: skip
        in: query
        required: false
        schema:
          type: number
      - name: latitude
        in: query
        required: false
        schema:
          type: number
      - name: longitude
        in: query
        required: false
        schema:
          type: number
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBusinessInfo:
    get:
      summary: Get the business info and its products grouped by category
      operationId: getBusinessGetbusinessinfo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: ID of the business
        name: businessID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBusinessInfoByUserId:
    get:
      summary: Get the business info and its products grouped by category
      operationId: getBusinessGetbusinessinfobyuserid
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: ID of the user
        name: userId
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBusinessesByDistance:
    get:
      summary: Get the business categories in order
      operationId: getBusinessGetbusinessesbydistance
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: latitude
        in: query
        required: false
        schema:
          type: number
      - name: longitude
        in: query
        required: false
        schema:
          type: number
      - description: ID of the business category
        name: category
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBusinessesBySubcategory:
    get:
      summary: Get the business of the subcategory ordered by distance to user location
      operationId: getBusinessGetbusinessesbysubcategory
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: latitude
        in: query
        required: true
        schema:
          type: number
      - name: longitude
        in: query
        required: true
        schema:
          type: number
      - description: ID of the business category
        name: category
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: Name of the subcategory
        name: subcategory
        in: query
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBusinessesGeneralInfo:
    get:
      summary: Get General info about businesses
      operationId: getBusinessGetbusinessesgeneralinfo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getStats:
    get:
      summary: Get the business dashboard information
      operationId: getBusinessGetstats
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: dateTo
        in: query
        required: true
        schema:
          type: string
      - name: dateFrom
        in: query
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/products:
    get:
      summary: Get all the products from a business
      operationId: getBusinessProducts
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - description: ID of the category of the product
        name: categoryID
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: ID of the business
        name: businessID
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: Status of the products to show
        name: status
        in: query
        required: true
        schema:
          type: string
      - description: Object path to populate
        name: populates
        in: query
        required: false
        schema:
          type: string
      - description: Order of the products DESC or ASC
        name: updatedAt
        in: query
        required: false
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/sendSundayReports:
    get:
      summary: Ping Server
      operationId: getBusinessSendsundayreports
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/turnOffOnBusinessById:
    get:
      summary: Get General info about specific business
      operationId: getBusinessTurnoffonbusinessbyid
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: businessUserId
        in: query
        required: true
        schema:
          type: string
      - name: businessId
        in: query
        required: true
        schema:
          type: string
      - name: currentStatus
        in: query
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /user/forgotPasswordMobile:
    get:
      summary: Sends Reset Password Token To User
      operationId: getUserForgotpasswordmobile
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: countryCode
        in: query
        required: true
        schema:
          type: string
      - name: mobile
        in: query
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /user/getReferralBenifitsHistory:
    get:
      summary: Get referral benifits history
      operationId: getUserGetreferralbenifitshistory
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /user/getReferralCode:
    get:
      summary: Get referral code for user
      operationId: getUserGetreferralcode
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /user/getResetPasswordToken:
    get:
      summary: Sends Reset Password Token To User
      operationId: getUserGetresetpasswordtoken
      parameters:
      - name: content-language
        in: header
        required: true
        schema:
          type: string
      - x-format:
          email: true
        name: email
        in: query
        required: true
        schema:
          type: string
      - description: Role of user who forgot password
        name: role
        in: query
        required: false
        schema:
          type: string
          enum:
          - customer
          - driver
          - admin
          - business
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /user/getUserFromIP:
    get:
      summary: Get User from device token
      operationId: getUserGetuserfromip
      parameters:
      - name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: remoteIP
        in: query
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /user/getWallet:
    get:
      summary: Get wallet data for user
      operationId: getUserGetwallet
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /user/pingMe:
    get:
      summary: Ping Server
      operationId: getUserPingme
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /user/addPhoneNumber:
    put:
      summary: Add Phone Number
      operationId: putUserAddphonenumber
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_38'
  /user/addToWallet:
    put:
      summary: Add money to user wallet
      operationId: putUserAddtowallet
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bookingNumericId:
                  type: number
                amount:
                  type: number
                  minimum: 0
                description:
                  type: string
              required:
              - bookingNumericId
              - amount
              - description
  /user/changePassword:
    put:
      summary: Change Password
      operationId: putUserChangepassword
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                oldPassword:
                  type: string
                  minLength: 6
                  description: password must contains minimum 6 character
                newPassword:
                  type: string
                  minLength: 6
                  description: password must contains minimum 6 character
              required:
              - oldPassword
              - newPassword
  /user/contactUs:
    put:
      summary: Contact Us
      operationId: putUserContactus
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  pattern: /^[a-zA-Z ]+$/
                email:
                  type: string
                query:
                  type: string
              required:
              - name
              - email
              - query
  /user/preferenceSettings:
    put:
      summary: Add Preference Settings
      operationId: putUserPreferencesettings
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                carName:
                  type: string
                  enum:
                  - BIKE
                  - LITE
                  - NONE
                  description: ' BIKE or LITE or NONE '
                paymentMethod:
                  type: string
                  enum:
                  - CARD
                  - CASH
                  - NONE
                  description: ' CARD or CASH or NONE'
              required:
              - carName
              - paymentMethod
  /user/resendEmail:
    put:
      summary: Resend email verify link
      operationId: putUserResendemail
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /user/resendOTP:
    put:
      summary: Resend OTP for Driver
      operationId: putUserResendotp
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_39'
  /user/resetPassword:
    put:
      summary: Reset Password
      operationId: putUserResetpassword
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                passwordResetToken:
                  type: string
                newPassword:
                  type: string
                  minLength: 6
                  description: password must contains minimum 6 character
              required:
              - passwordResetToken
              - newPassword
  /user/setPassword:
    put:
      summary: set Password
      operationId: putUserSetpassword
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                emailVerificationToken:
                  type: string
                password:
                  type: string
                  minLength: 6
                  description: password must contains minimum 6 character
              required:
              - emailVerificationToken
              - password
  /user/setPrimaryNumber:
    put:
      summary: set primary number
      operationId: putUserSetprimarynumber
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_40'
  /user/updateDeviceToken:
    put:
      summary: update device token
      operationId: putUserUpdatedevicetoken
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_41'
  /user/updatePhoneNumber:
    put:
      summary: Update Phone Number
      operationId: putUserUpdatephonenumber
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_42'
  /user/updateUTCoffset:
    put:
      summary: update UTC offset
      operationId: putUserUpdateutcoffset
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: utc offset
        name: utcoffset
        in: header
        required: true
        schema:
          type: number
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /user/verifyForgotPasswordOTP:
    put:
      summary: Sends Reset Password Token To User
      operationId: putUserVerifyforgotpasswordotp
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                countryCode:
                  type: string
                mobile:
                  type: string
                OTP:
                  type: number
              required:
              - countryCode
              - mobile
              - OTP
  /business/verifyEmail:
    post:
      summary: Verify registration email for business
      operationId: postBusinessVerifyemail
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_69'
  /serviceProvider/accessTokenLogin:
    post:
      summary: get details with token
      operationId: postServiceproviderAccesstokenlogin
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                appVersion:
                  type: string
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - IOS
                  - ANDROID
                  description: type of the device currently using
                deviceToken:
                  type: string
                deviceID:
                  type: string
                  description: Unique ID of the device
              required:
              - deviceType
  /serviceProvider/login:
    post:
      summary: Login Via Email & Password For User
      operationId: postServiceproviderLogin
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: utc offset
        name: utcoffset
        in: header
        required: true
        schema:
          type: number
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                role:
                  type: string
                  enum:
                  - serviceProvider
                  description: role of user
                password:
                  type: string
                  minLength: 6
                  description: password must contains minimum 6 character
                deviceToken:
                  type: string
                appVersion:
                  type: string
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - IOS
                  - ANDROID
                  description: type of the device current using
                deviceID:
                  type: string
                  description: Unique ID of the device
              required:
              - role
              - password
              - deviceType
  /serviceProvider/logout:
    post:
      summary: Logout user
      operationId: postServiceproviderLogout
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /user/accessTokenLogin:
    post:
      summary: Get details of the user associated with the token
      operationId: postUserAccesstokenlogin
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                appVersion:
                  type: string
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - IOS
                  - ANDROID
                  - HUAWEI
                  description: Type of the device currently using
                deviceToken:
                  type: string
                deviceID:
                  type: string
                  description: Unique ID of the device
                geoSparkToken:
                  type: string
              required:
              - deviceType
  /user/login:
    post:
      summary: Email/Password login for users
      operationId: postUserLogin
      parameters:
      - description: en/ar/es
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: utc offset
        name: utcoffset
        in: header
        required: true
        schema:
          type: number
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                role:
                  type: string
                  enum:
                  - customer
                  - driver
                  - serviceProvider
                  - admin
                  - business
                  description: Role of the user who is logging in
                password:
                  type: string
                  minLength: 6
                  description: User's password
                deviceToken:
                  type: string
                appVersion:
                  type: string
                rememberMe:
                  type: boolean
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - IOS
                  - ANDROID
                  - HUAWEI
                  description: Type of the device currently using
                deviceID:
                  type: string
                  description: Unique ID of the device
                geoSparkToken:
                  type: string
              required:
              - role
              - password
              - deviceType
  /user/logout:
    post:
      summary: Logout user
      operationId: postUserLogout
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /user/mobileLogin:
    post:
      summary: Login via mobile phone
      operationId: postUserMobilelogin
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: utc offset
        name: utcoffset
        in: header
        required: true
        schema:
          type: number
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                countryCode:
                  type: string
                mobile:
                  type: string
                primaryMobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                role:
                  type: string
                  enum:
                  - customer
                  - business
                  description: role of user
                deviceToken:
                  type: string
                appVersion:
                  type: string
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - IOS
                  - ANDROID
                  description: type of the device current using
                deviceID:
                  type: string
                  description: Unique ID of the device
                firebaseID:
                  type: string
                  description: ID from firebase after SMS send
                socialType:
                  type: string
                  enum:
                  - Facebook
                  - Google
                  - GoogleApp
                  description: social media type
                socialID:
                  type: string
              required:
              - countryCode
              - mobile
              - role
              - deviceType
  /user/uploadFile:
    post:
      summary: Upload File
      operationId: postUserUploadfile
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  description: image file
                  format: binary
                type:
                  type: string
                  description: If the image is for MARKETPLACE
              required:
              - image
  /user/verifyEmail:
    post:
      summary: Resend email verify link
      operationId: postUserVerifyemail
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_77'
  /user/verifyMobileOTP:
    post:
      summary: Verify OTP sent to mobile
      operationId: postUserVerifymobileotp
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_78'
  /user/deletePhoneNumber:
    delete:
      summary: delete Phone Number
      operationId: deleteUserDeletephonenumber
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_39'
  /user/deleteUser/{lang}/{email}:
    delete:
      summary: Hard Delete User for tester only
      operationId: deleteUserDeleteuserLangEmail
      parameters:
      - description: en/ar
        name: lang
        in: path
        required: true
        schema:
          type: string
      - x-format:
          email: true
        name: email
        in: path
        required: true
        schema:
          type: string
      tags:
      - User
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    Model_78:
      type: object
      properties:
        mobile:
          type: string
          description: Phone number to validate
        OTPCode:
          type: number
          description: OTP sent via SMS to the user
          maximum: 999999
        isDevice:
          type: boolean
          description: Whether the device that made the request is the same as the one the OTP was sent to
        deviceType:
          type: string
          description: Type of the device current using
          enum:
          - WEB
          - IOS
          - ANDROID
        role:
          type: string
          description: Role of the user who made the request
          enum:
          - customer
          - business
        firebaseID:
          type: string
          description: ID from firebase after SMS send
      required:
      - mobile
      - isDevice
      - deviceType
      - role
    Model_77:
      type: object
      properties:
        emailVerificationToken:
          type: number
          minimum: 100000
          maximum: 999999
      required:
      - emailVerificationToken
    Model_40:
      type: object
      properties:
        countryCode:
          type: string
          maxLength: 4
          x-convert:
            trim: true
        mobile:
          type: string
          minLength: 5
          pattern: /^[0-9]+$/
      required:
      - countryCode
      - mobile
    Model_38:
      type: object
      properties:
        countryCode:
          type: string
          description: '+91'
          maxLength: 4
          x-convert:
            trim: true
        mobile:
          type: string
          minLength: 5
          pattern: /^[0-9]+$/
      required:
      - countryCode
      - mobile
    Model_39:
      type: object
      properties:
        mobile:
          type: string
          minLength: 5
          pattern: /^[0-9]+$/
      required:
      - mobile
    Model_69:
      type: object
      properties:
        emailVerificationToken:
          type: number
          minimum: 1000
          maximum: 9999
      required:
      - emailVerificationToken
    Model_42:
      type: object
      properties:
        oldMobile:
          type: string
          minLength: 5
          pattern: /^[0-9]+$/
        countryCode:
          type: string
          description: '+91'
          maxLength: 4
          x-convert:
            trim: true
        newMobile:
          type: string
          minLength: 5
          pattern: /^[0-9]+$/
      required:
      - oldMobile
      - countryCode
      - newMobile
    Model_41:
      type: object
      properties:
        deviceToken:
          type: string
          description: android/ios device token
          x-convert:
            trim: true
        role:
          type: string
          description: role of user
          enum:
          - customer
          - driver
          - serviceProvider
      required:
      - deviceToken
      - role
