openapi: 3.2.0
info:
  title: Picker Production Documentation Region API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Region
paths:
  /region/listAllRegion:
    get:
      summary: get region by admin
      operationId: getRegionListallregion
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: isBlocked
        in: query
        required: true
        schema:
          type: boolean
          default: false
      - name: isDeleted
        in: query
        required: true
        schema:
          type: boolean
          default: false
      - name: superRegionID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Region
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /region/listAllSuperRegion:
    get:
      summary: Get all Super Regions available
      operationId: getRegionListallsuperregion
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: isActive
        in: query
        required: false
        schema:
          type: boolean
          default: true
      tags:
      - Region
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /region/regionDetails:
    get:
      summary: get region details
      operationId: getRegionRegiondetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: region_id
        in: query
        required: true
        schema:
          type: string
      tags:
      - Region
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /region/blockRegion:
    put:
      summary: block region
      operationId: putRegionBlockregion
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Region
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                region_id:
                  type: string
              required:
              - region_id
  /region/editRegion:
    put:
      summary: block region
      operationId: putRegionEditregion
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Region
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                region_id:
                  type: string
                regionName:
                  type: string
                  description: name of region to be used
                coordinates:
                  type: array
                  items:
                    type: array
                    items:
                      type: number
                    collectionFormat: multi
                  minItems: 4
                  description: '[[0,0],[1,1],[2,2],[0,0]]'
                role:
                  type: string
                  enum:
                  - admin
                carType:
                  type: number
                  description: ' 1-Bike 0-Lite 3-BOTH'
                paymentType:
                  type: number
                  description: ' 1-CARD 2-CASH 4-BOTH'
                rideType:
                  type: number
                  description: ' 1-NOW 2-LATER 3-BOTH'
                specialFeesActive:
                  type: array
                  items:
                    type: string
                highDemandThreshold:
                  type: number
                  minimum: 0
                regionStatus:
                  type: string
              required:
              - region_id
              - regionName
              - coordinates
              - role
              - carType
              - paymentType
              - rideType
              - regionStatus
  /region/unblockRegion:
    put:
      summary: block region
      operationId: putRegionUnblockregion
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Region
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                region_id:
                  type: string
              required:
              - region_id
  /api/checkRegion:
    post:
      summary: Returns the region data corresponding to the selected location
      operationId: postApiCheckregion
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Region
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                pickupLongitude:
                  type: number
                  maximum: 180
                  minimum: -180
                pickupLatitude:
                  type: number
                  maximum: 90
                  minimum: -90
              required:
              - pickupLongitude
              - pickupLatitude
  /region/addRegion:
    post:
      summary: set region
      operationId: postRegionAddregion
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Region
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                regionName:
                  type: string
                  description: name of region to be used
                coordinates:
                  type: array
                  items:
                    type: array
                    items:
                      type: number
                    collectionFormat: multi
                  minItems: 4
                  description: '[[0,0],[1,1],[2,2],[0,0]]'
                role:
                  type: string
                  enum:
                  - admin
                carType:
                  type: number
                  description: ' 1-Bike 0-Lite 3-BOTH'
                paymentType:
                  type: number
                  description: ' 1-CARD 2-CASH 4-BOTH'
                rideType:
                  type: number
                  description: ' 1-NOW 2-LATER 3-BOTH'
              required:
              - regionName
              - coordinates
              - role
              - carType
              - paymentType
              - rideType
  /region/checkRegion:
    post:
      summary: Returns the region data corresponding to the selected location
      operationId: postRegionCheckregion
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Region
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                pickupLongitude:
                  type: number
                  maximum: 180
                  minimum: -180
                pickupLatitude:
                  type: number
                  maximum: 90
                  minimum: -90
              required:
              - pickupLongitude
              - pickupLatitude
  /region/setAllRegionStatusGreen:
    post:
      summary: block region
      operationId: postRegionSetallregionstatusgreen
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Region
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /region/updateRegionsOnAllBusiness:
    post:
      summary: Update Regions on all businesses
      operationId: postRegionUpdateregionsonallbusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Region
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /region/deleteRegion:
    delete:
      summary: delete region by admin
      operationId: deleteRegionDeleteregion
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Region
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                region_id:
                  type: string
                  description: Region id to delete
                role:
                  type: string
                  enum:
                  - admin
              required:
              - region_id
              - role
