openapi: 3.2.0
info:
  title: Picker Production Documentation Booking Issue API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: bookingIssue
paths:
  /booking/setBookingIssue:
    put:
      summary: Set issue for a booking
      operationId: putBookingSetbookingissue
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - bookingIssue
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_28'
components:
  schemas:
    Model_28:
      type: object
      properties:
        bookingID:
          type: string
          description: _id of the booking selected
          minLength: 24
          maxLength: 24
        bookingIssuesIds:
          $ref: '#/components/schemas/bookingIssuesIds'
          type: array
      required:
      - bookingID
      - bookingIssuesIds
    bookingIssuesIds:
      type: array
      description: Array of booking issue ids
      items:
        type: string
        minLength: 24
        maxLength: 24
