openapi: 3.2.0
info:
  title: Picker Production Documentation Mass Delivery API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Mass Delivery
paths:
  /mass-delivery:
    get:
      summary: Get all mass delivery registers
      operationId: getMassdelivery
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: skip
        in: query
        required: false
        schema:
          type: integer
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - x-constraint:
          single: true
        name: currentStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            enum:
            - 0
            - 5
      - name: massDeliveryID
        in: query
        required: false
        schema:
          type: number
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      tags:
      - Mass Delivery
