openapi: 3.2.0
info:
  title: Picker Production Documentation Driver API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Driver
paths:
  /driver/getAllAvailableDriver:
    get:
      summary: Returns a list of drivers that match the criteria selected
      operationId: getDriverGetallavailabledriver
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: regionID
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: User's email or name
        name: searchBooking
        in: query
        required: false
        schema:
          type: string
      - name: searchText
        in: query
        required: false
        schema:
          type: string
      - name: carType
        in: query
        required: true
        schema:
          type: number
          enum:
          - 1
          - 0
      - description: Search for drivers near this latitude
        name: latitude
        in: query
        required: false
        schema:
          type: number
      - description: Search for drivers near this longitude
        name: longitude
        in: query
        required: false
        schema:
          type: number
      - name: minimumDriverCash
        in: query
        required: false
        schema:
          type: number
          minimum: 0
      - name: bookingID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /driver/getAllAvailableDriverMyFleet:
    get:
      summary: Returns a list of drivers that match the criteria selected
      operationId: getDriverGetallavailabledrivermyfleet
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: regionID
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: User's email or name
        name: searchBooking
        in: query
        required: false
        schema:
          type: string
      - name: searchText
        in: query
        required: false
        schema:
          type: string
      - name: carType
        in: query
        required: true
        schema:
          type: number
          enum:
          - 1
          - 0
      - description: Search for drivers near this latitude
        name: latitude
        in: query
        required: false
        schema:
          type: number
      - description: Search for drivers near this longitude
        name: longitude
        in: query
        required: false
        schema:
          type: number
      - name: minimumDriverCash
        in: query
        required: false
        schema:
          type: number
          minimum: 0
      - name: bookingID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /driver/getAllDriver:
    get:
      summary: get all Driver
      operationId: getDriverGetalldriver
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /driver/getDriverBalances:
    get:
      summary: Returns the drivers work balance and total pay
      operationId: getDriverGetdriverbalances
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /driver/getDriverTracking:
    get:
      summary: get all Driver
      operationId: getDriverGetdrivertracking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: carType
        in: query
        required: true
        schema:
          type: number
          enum:
          - 1
          - 0
          - 3
      - name: status
        in: query
        required: true
        schema:
          type: number
          enum:
          - 1
          - 2
          - 3
      - name: superRegionID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /driver/getVehicleDetails:
    get:
      summary: get vehicle details
      operationId: getDriverGetvehicledetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: isDeleted
        in: query
        schema:
          type: boolean
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: limit data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /driver/listVehicleTypeAndCompany:
    get:
      summary: get vehicle type and company
      operationId: getDriverListvehicletypeandcompany
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: isDeleted
        in: query
        schema:
          type: boolean
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: limit data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /serviceProvider/getAllAvailableDriver:
    get:
      summary: Returns a list of drivers that match the criteria selected
      operationId: getServiceproviderGetallavailabledriver
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - description: region ID is optional
        name: regionID
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: carType
        in: query
        required: true
        schema:
          type: number
          enum:
          - 1
          - 0
      - description: Search for drivers near this latitude
        name: latitude
        in: query
        required: false
        schema:
          type: number
      - description: Search for drivers near this longitude
        name: longitude
        in: query
        required: false
        schema:
          type: number
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /booking/notificationInteraction:
    put:
      summary: Save notification interaction for booking assign
      operationId: putBookingNotificationinteraction
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bookingID:
                  type: string
                  description: Booking ID
                wasRead:
                  type: boolean
                  description: If notification was read by user
                wasAccepted:
                  type: boolean
                  description: If notification was accepted by user
              required:
              - bookingID
  /driver/amountCollected:
    put:
      summary: Update Booking
      operationId: putDriverAmountcollected
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_36'
  /driver/clearDriver:
    put:
      summary: To unstuck driver
      operationId: putDriverCleardriver
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Driver user id
        name: userID
        in: query
        required: true
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /driver/duty:
    put:
      summary: Driver Update on duty off duty
      operationId: putDriverDuty
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: go online and offline duty
        name: onDutyFlag
        in: query
        required: true
        schema:
          type: boolean
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /driver/updateAutoAcceptation:
    put:
      summary: update the driver Automatic acceptation
      operationId: putDriverUpdateautoacceptation
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Update the driver automatic acceptation
        name: autoAcceptation
        in: query
        required: true
        schema:
          type: boolean
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /driver/updateBookingStatus:
    put:
      summary: Update status of the selected booking
      operationId: putDriverUpdatebookingstatus
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bookingID:
                  type: string
                  description: ID of the selected booking
                bookingCurrentStatus:
                  type: number
                  enum:
                  - 11
                  - 5
                  - 2
                  - 3
                  - 4
                  - 21
                  - 22
                  - 1
                  - 32
                  - 34
                  - 33
                  - 31
                  - 35
                bookingCurrentStatusText:
                  type: string
                  enum:
                  - NOT_DELIVERED
                  - COMPLETED
                  - ARRIVED_AT_PICKUP
                  - WAY_TO_DELIVER
                  - ARRIVED_AT_DELIVERY
                  - ON_DECK
                  - READY_FOR_PICKUP
                  - ACCEPTED
                  - RETURNING
                  - RETURNED_TO_PICKUP
                  - RETURNED
                  - PROVIDER_NOT_FOUND
                  - IN_TRANSIT
                latitude:
                  type: number
                  description: Driver's current location
                longitude:
                  type: number
                  description: Driver's current location
                reason:
                  type: string
                isAdmin:
                  type: boolean
                updateReason:
                  type: string
                  enum:
                  - DASHBOARD_UPDATE
                  - ADMIN_UPDATE
              required:
              - bookingID
              - bookingCurrentStatus
              - bookingCurrentStatusText
  /driver/updateLocation:
    put:
      summary: Driver Location Update
      operationId: putDriverUpdatelocation
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_37'
  /driver/updateProfile:
    put:
      summary: Driver Update profile
      operationId: putDriverUpdateprofile
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  pattern: /^[a-zA-Z ]+$/
                lastName:
                  type: string
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                companyName:
                  type: string
                  minLength: 2
                  pattern: /^[a-zA-Z ]+$/
                countryCode:
                  type: string
                  minLength: 2
                companyAddress:
                  type: string
                  minLength: 2
                latitude:
                  type: number
                  maximum: 90
                  minimum: -90
                longitude:
                  type: number
                  maximum: 180
                  minimum: -180
                city:
                  type: string
                  description: user address city
                state:
                  type: string
                  description: user address state
                zipCode:
                  type: string
                  description: zipcode of user address
                image:
                  type: object
                  description: thumbImage,fullImage(OBJECT KEYS)
                email:
                  type: string
              required:
              - mobile
              - countryCode
  /driver/updateWallet:
    put:
      summary: Update the amount of cash that the driver has with him/her
      operationId: putDriverUpdatewallet
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  maximum: 200
                  minimum: 0
                  description: Amount of cash the driver has with him/her in that instance
              required:
              - amount
  /driver/validateOTP:
    put:
      summary: Verify driver's OTP
      operationId: putDriverValidateotp
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: validated
        in: query
        required: true
        schema:
          type: boolean
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /driver/addVehicle:
    post:
      summary: Driver Update vehicle
      operationId: postDriverAddvehicle
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicleType:
                  type: string
                vehicleCompany:
                  type: string
                vehicleYear:
                  type: number
                  maximum: 9999
                  minimum: 1000
                licenceNumber:
                  type: string
                  description: Image url of licence
                vehicleNumber:
                  type: string
                vehicleImages:
                  type: array
                  items:
                    type: object
                    properties:
                      original:
                        type: string
                        x-convert:
                          trim: true
                      thumbnail:
                        type: string
                        x-convert:
                          trim: true
                    required:
                    - original
                    - thumbnail
                  description: 'insert array of images for vehicle [{ ''original'': ''string'', ''thumbnail'': ''string'' }]'
                isPrimary:
                  type: boolean
              required:
              - vehicleType
              - vehicleCompany
              - vehicleYear
              - licenceNumber
              - vehicleNumber
  /driver/registerFromEmail:
    post:
      summary: Register new Driver via Email
      operationId: postDriverRegisterfromemail
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: utc offset
        name: utcoffset
        in: header
        required: true
        schema:
          type: number
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                  pattern: /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/
                lastName:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/
                email:
                  type: string
                password:
                  type: string
                  minLength: 6
                  description: password must contains minimum 6 character
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                companyName:
                  type: string
                  minLength: 2
                  pattern: /^[a-zA-Z ]+$/
                countryCode:
                  type: string
                  minLength: 2
                companyAddress:
                  type: string
                  minLength: 2
                deviceToken:
                  type: string
                  description: android/ios device token
                appVersion:
                  type: string
                latitude:
                  type: number
                  maximum: 90
                  minimum: -90
                longitude:
                  type: number
                  maximum: 180
                  minimum: -180
                city:
                  type: string
                  description: user address city
                state:
                  type: string
                  description: user address state
                zipCode:
                  type: string
                  description: zipcode of user address
                referralCode:
                  type: string
                  maxLength: 14
                  minLength: 7
                vehicleModelName:
                  type: string
                licenceNumber:
                  type: string
                  minLength: 4
                MCNumber:
                  type: string
                vehicleType:
                  type: string
                  enum:
                  - BIKE
                  - LITE
                  description: Vehicle Type 1-BIKE, 0-LITE
                carType:
                  type: number
                  description: Vehicle Type 1-BIKE, 0-LITE
                vehicleColor:
                  type: string
                vehicleYear:
                  type: number
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - ANDROID
                  - IOS
                image:
                  type: object
                  description: image url
                bankName:
                  type: string
                  description: Name of the bank of the picker. For Accounting
                accountNumber:
                  type: string
                accountOwnerName:
                  type: string
                  description: Name of the person who owns the account
                identityNumber:
                  type: string
                  description: Driver's identity number
                accountType:
                  type: string
              required:
              - name
              - lastName
              - email
              - password
              - mobile
              - countryCode
              - latitude
              - longitude
              - vehicleModelName
              - MCNumber
              - vehicleType
              - carType
              - vehicleColor
              - vehicleYear
              - deviceType
  /driver/deleteVehicle:
    delete:
      summary: soft delete vehicle data
      operationId: deleteDriverDeletevehicle
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Driver
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                vehicleNumber:
                  type: string
                  description: vehicle Number which is to be deleted
              required:
              - vehicleNumber
components:
  schemas:
    currentLocation:
      type: object
      properties:
        type:
          type: string
          enum:
          - Point
        longitude:
          type: number
          minimum: -180
          maximum: 180
          x-constraint:
            precision: 6
        latitude:
          type: number
          minimum: -90
          maximum: 90
          x-constraint:
            precision: 6
      required:
      - type
      - longitude
      - latitude
    Model_36:
      type: object
      properties:
        moneyAccepted:
          type: boolean
          default: true
        bookingID:
          type: string
          minLength: 24
          maxLength: 24
      required:
      - moneyAccepted
      - bookingID
    Model_37:
      type: object
      properties:
        isTrackingOn:
          type: string
          enum:
          - true
          - false
        currentLocation:
          $ref: '#/components/schemas/currentLocation'
      required:
      - isTrackingOn
