swagger: '2.0'
info:
  title: Picker Production Documentation accounting card API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
host: api.pickerexpress.com
basePath: /
schemes:
- http
tags:
- name: card
paths:
  /paymentez/card/default:
    put:
      summary: Delete card ustomer From paymentez
      operationId: putPaymentezCardDefault
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - type: string
        name: cardToken
        in: formData
        required: true
      consumes:
      - application/x-www-form-urlencoded
      tags:
      - card
      responses:
        default:
          schema:
            type: string
          description: Successful
  /paymentez/delete/card:
    put:
      summary: Delete card ustomer From paymentez
      operationId: putPaymentezDeleteCard
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - type: string
        name: cardToken
        in: formData
        required: true
      consumes:
      - application/x-www-form-urlencoded
      tags:
      - card
      responses:
        default:
          schema:
            type: string
          description: Successful
