openapi: 3.2.0
info:
  title: Picker Production Documentation Ticket API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Ticket
paths:
  /api/cancelBookingChatbot:
    post:
      summary: Cancel a booking from chatbot
      operationId: postApiCancelbookingchatbot
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Ticket
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_57'
  /api/createTicketChatbot:
    post:
      summary: Create a ticket from chatbot
      operationId: postApiCreateticketchatbot
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Ticket
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_58'
components:
  schemas:
    Model_58:
      type: object
      properties:
        bookingID:
          type: string
        email:
          type: string
        phone:
          type: string
        proof:
          type: string
        title:
          type: string
    Model_57:
      type: object
      properties:
        bookingID:
          type: string
        phone:
          type: string
