openapi: 3.2.0
info:
  title: Picker Production Documentation Notification API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Notification
paths:
  /notification/getAllNotification:
    get:
      summary: Get All Notification Of Admin
      operationId: getNotificationGetallnotification
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Required only if markAllAsRead is true
        name: isAdminNotification
        in: query
        required: false
        schema:
          type: boolean
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Notification
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /notification/clearNotification:
    put:
      summary: Clear Admin Notification
      operationId: putNotificationClearnotification
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Notification
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                isAdminNotification:
                  type: boolean
                  description: True if notifications are for admin
  /notification/readNotification:
    put:
      summary: Read Admin Notification
      operationId: putNotificationReadnotification
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Notification
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                notificationID:
                  type: array
                  items:
                    type: string
                  description: Array of notification IDs
                markAllAsRead:
                  type: boolean
                  default: false
                isAdminNotification:
                  type: boolean
                  description: Required only if markAllAsRead is true
              required:
              - markAllAsRead
  /notification/receivedNotification:
    put:
      summary: Mark booking notification as received
      operationId: putNotificationReceivednotification
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Notification
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bookingID:
                  type: string
                  maxLength: 24
                  minLength: 24
              required:
              - bookingID
