openapi: 3.2.0
info:
  title: Picker Production Documentation App Version API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: appVersion
paths:
  /appVersion/getCurrentVersions:
    get:
      summary: get current versions of app
      operationId: getAppversionGetcurrentversions
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - appVersion
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /appVersion/checkCriticalAppVersions:
    post:
      summary: Check criticality of app
      operationId: postAppversionCheckcriticalappversions
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - appVersion
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                currentVersion:
                  type: string
                  description: Current Version of App
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - ANDROID
                  - IOS
                  description: Type of the Device
              required:
              - currentVersion
              - deviceType
  /appVersion/setAppVersions:
    post:
      summary: set current and critical versions for apps
      operationId: postAppversionSetappversions
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - appVersion
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                latestIOSVersion:
                  type: number
                  description: Latest IOS version
                latestAndroidVersion:
                  type: number
                  description: Latest Android Version
                latestWebID:
                  type: number
                criticalAndroidVersion:
                  type: number
                  description: Critical Android Version
                criticalIOSVersion:
                  type: number
                  description: Critical IOS Version
                criticalWebID:
                  type: number
                  description: Critical Web Id
                updateMessageAtPopup:
                  type: string
                  description: Update message to be shown in Popup
                updateTitleAtPopup:
                  type: string
                  description: Email of the person
                latestIOSCPVersion:
                  type: number
                  description: Latest IOS version
                latestAndroidCPVersion:
                  type: number
                  description: Latest Android Version
                criticalAndroidCPVersion:
                  type: number
                  description: Critical Android Version
                criticalIOSCPVersion:
                  type: number
                  description: Critical IOS Version
                latestIOSSPVersion:
                  type: number
                  description: Latest IOS version
                latestAndroidSPVersion:
                  type: number
                  description: Latest Android Version
                criticalAndroidSPVersion:
                  type: number
                  description: Critical Android Version
                criticalIOSSPVersion:
                  type: number
                  description: Critical IOS Version
