openapi: 3.2.0
info:
  title: Picker Production Documentation List API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: List
paths:
  /customer/list/card:
    get:
      summary: list of cards
      operationId: getCustomerListCard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - List
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /customer/list/service/location:
    get:
      summary: Get List Of all service loation
      operationId: getCustomerListServiceLocation
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - description: 'DELIVERY PICKUP '
        name: addressType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - DELIVERY
            - PICKUP
      - description: ' HOME OFFICE'
        name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - HOME
          - OFFICE
      tags:
      - List
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
