openapi: 3.2.0
info:
  title: Picker Production Documentation Review API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Review
paths:
  /review/listAverageRating:
    get:
      summary: Review and Rating for Driver
      operationId: getReviewListaveragerating
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: list average reviews of single user only
        name: userID
        in: query
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: limit data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Review
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /review/listDetailedReview:
    get:
      summary: Review and Rating for Driver
      operationId: getReviewListdetailedreview
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: userID of user to list reviews
        name: userID
        in: query
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: booking ID to which booking belongs
        name: bookingID
        in: query
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: true to list only reviews done by user else all the reviews based on booking or other users
        name: showOnlyMyReviws
        in: query
        required: true
        schema:
          type: boolean
          default: false
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: limit data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Review
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /review/giveReviewAndRating:
    post:
      summary: Review and Rating for Driver & Business
      operationId: postReviewGivereviewandrating
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Review
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bookingID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: booking ID to which booking belongs
                userID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of driver
                review:
                  type: string
                  description: Review for driver
                rating:
                  type: number
                  maximum: 10
                  minimum: 0
                  description: Rating for driver
                califications:
                  type: array
                  items:
                    type: string
                    enum:
                    - RUDE
                    - LATE
                    - INEFFICIENT
                    - KIND
                    - FAST
                    - EFFICIENT
                driverTip:
                  type: number
                  maximum: 3
                  minimum: 0
                  description: Tip for driver
                businessReview:
                  type: string
                  description: Review for business
                businessRating:
                  type: number
                  maximum: 10
                  minimum: 0
                  description: Rating for business
                businessCalifications:
                  type: array
                  items:
                    type: string
                    enum:
                    - RUDE
                    - LATE
                    - INEFFICIENT
                    - KIND
                    - FAST
                    - EFFICIENT
              required:
              - bookingID
              - rating
