openapi: 3.2.0
info:
  title: Picker Production Documentation Product API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Product
paths:
  /customer/addRemoveFavorite:
    post:
      summary: Customer can add or remove his favourite business or product
      operationId: postCustomerAddremovefavorite
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Product
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                favoriteID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the product or business selected
                type:
                  type: string
                  enum:
                  - PRODUCT
                  - BUSINESS
                  description: If the selected favorite is product or business
                isFavorite:
                  type: boolean
              required:
              - favoriteID
              - type
              - isFavorite
