openapi: 3.2.0
info:
  title: Picker Production Documentation Business API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Business
paths:
  /api/webhooks:
    get:
      summary: Return the webhooks that the user is subscribed to
      operationId: getApiWebhooks
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    post:
      summary: Add a webhook to subscribe to an event
      operationId: postApiWebhooks
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_61'
    delete:
      summary: Delete a webhook the user is subscribed to
      operationId: deleteApiWebhooks
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_81'
  /business/getAccountInfoIntegrationDashboard:
    get:
      summary: Get General info about specific business
      operationId: getBusinessGetaccountinfointegrationdashboard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: userId
        in: query
        required: false
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getAssociatedBusiness:
    get:
      summary: Get General info about businesses
      operationId: getBusinessGetassociatedbusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: storeType
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: sortField
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBookingsDataByDatesDashboard:
    get:
      summary: Get General info about businesses
      operationId: getBusinessGetbookingsdatabydatesdashboard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: fromDate
        in: query
        required: true
        schema:
          type: string
      - name: toDate
        in: query
        required: true
        schema:
          type: string
      - name: isSemester
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBookingsIntegrationDashboard:
    get:
      summary: Get General info about businesses
      operationId: getBusinessGetbookingsintegrationdashboard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: userID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBusinessInfoAfterLanding:
    get:
      summary: Get business info for landing
      operationId: getBusinessGetbusinessinfoafterlanding
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: businessID
        in: query
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBusinessesGeneralInfo:
    get:
      summary: Get General info about businesses
      operationId: getBusinessGetbusinessesgeneralinfo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/landing:
    get:
      summary: Get business info for landing
      operationId: getBusinessLanding
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: businessId
        in: query
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/reports:
    get:
      summary: Get business booking reports
      operationId: getBusinessReports
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/turnOffOnBusinessById:
    get:
      summary: Get General info about specific business
      operationId: getBusinessTurnoffonbusinessbyid
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: businessUserId
        in: query
        required: true
        schema:
          type: string
      - name: businessId
        in: query
        required: true
        schema:
          type: string
      - name: currentStatus
        in: query
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/addCategoryToBusiness:
    put:
      summary: Adds a businessCategory to the business
      operationId: putBusinessAddcategorytobusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                businessCategoryID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the business category
              required:
              - businessCategoryID
  /business/changeProductStatus:
    put:
      summary: Change product status to active or inactive
      operationId: putBusinessChangeproductstatus
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                status:
                  type: string
                productID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the product
              required:
              - status
              - productID
  /business/confirmInformation:
    put:
      summary: Fill information of the business after creation
      operationId: putBusinessConfirminformation
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                companyName:
                  type: string
                  minLength: 2
                imageLogo:
                  type: object
                  description: image url
                imageFront:
                  type: object
                  description: image url
                businessCategories:
                  type: array
                  items:
                    type: string
                  maxItems: 3
                  description: Categories that the business is part of. Just the ID
                productTypes:
                  type: array
                  items:
                    type: string
                  maxItems: 3
                  description: Product types that the business is part of. Just the ID
                fullAddress:
                  type: string
                  minLength: 2
                  description: Full address of the business' location.
                latitude:
                  type: number
                  description: Latitude of the business' location.
                longitude:
                  type: number
                  description: Longitude of the business' location.
                schedule:
                  type: array
                  items:
                    type: object
                    properties:
                      day:
                        type: number
                        minimum: 0
                        maximum: 6
                      open:
                        type: string
                        description: Hour the business opens HH:mm
                      close:
                        type: string
                        description: Hour the business closes HH:mm
                      isOpen:
                        type: boolean
                    required:
                    - day
                    - isOpen
                    optional:
                    - open
                    - close
                role:
                  type: string
              required:
              - companyName
              - fullAddress
              - latitude
              - longitude
              - schedule
              - role
  /business/editProduct:
    put:
      summary: Edits the information of a product
      operationId: putBusinessEditproduct
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: false
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                image:
                  type: object
                  description: image url
                timeToPrepare:
                  type: number
                isActive:
                  type: boolean
                price:
                  type: number
                description:
                  type: string
                category:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the category of the product
                _id:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the product
                details:
                  type: array
                  items:
                    type: string
                isDeleted:
                  type: boolean
                productType:
                  type: string
                  description: Type of product. Related to the categories that the business belongs to.
                commission:
                  type: number
                  maximum: 100
                  minimum: 0
                  description: Commission charged to the product
                images:
                  type: array
                  items:
                    type: object
                    properties:
                      image:
                        type: object
                        description: Image object with original and thumbnail
                        properties:
                          thumbnail:
                            type: string
                          original:
                            type: string
                        required:
                        - thumbnail
                        - original
                        name: image
                      isDefault:
                        type: boolean
                        description: If the image is the default product's image
                    required:
                    - image
                    - isDefault
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags to find the product
              required:
              - name
              - timeToPrepare
              - price
              - description
              - category
              - _id
              - commission
              - images
  /business/editProductDetail:
    put:
      summary: Edit the details of a product
      operationId: putBusinessEditproductdetail
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                detailID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the product detail
                type:
                  type: string
                  enum:
                  - SIMPLE
                  - MULTIPLE
                  - TEXT
                  description: 'Type of detail: SIMPLE | MULTIPLE | TEXT'
                default:
                  type: string
                  description: ID of the option that is selected as default
                isObligatory:
                  type: boolean
                  description: Indicates if the detail is obligatory
                options:
                  type: array
                  items:
                    type: string
                  description: Options to show to the customer
                text:
                  type: string
                  description: Description of the detail
              required:
              - detailID
              - type
              - isObligatory
  /business/goOnOffDuty:
    put:
      summary: Go on or off duty
      operationId: putBusinessGoonoffduty
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                onDutyFlag:
                  type: boolean
                  description: New value of onDutyFlag
              required:
              - onDutyFlag
  /business/setNewPassword:
    put:
      summary: Set New Password
      operationId: putBusinessSetnewpassword
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                mobile:
                  type: string
                  description: Phone number that is being verified
                password:
                  type: string
                  minLength: 6
                  description: password must contains minimum 6 character
              required:
              - mobile
              - password
  /business/updateProductCategory:
    put:
      summary: Update a product category
      operationId: putBusinessUpdateproductcategory
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                _id:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the product category
              required:
              - name
              - _id
  /admin/restartSearch:
    post:
      summary: Restart driver search of selected booking
      operationId: postAdminRestartsearch
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bookingID:
                  type: string
                  maxLength: 24
                  minLength: 24
                preSelectedProviders:
                  type: array
                  items:
                    type: string
                tip:
                  type: number
                cancelOnlySelectedProviders:
                  type: boolean
                isAdmin:
                  type: boolean
                isBusiness:
                  type: boolean
              required:
              - bookingID
  /api/validateApiPickup:
    post:
      operationId: postApiValidateapipickup
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_60'
      summary: Post api validateapipickup
      x-summary-source: derived
  /business/addBusiness:
    post:
      summary: Register a new business via Email
      operationId: postBusinessAddbusiness
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - ANDROID
                  - IOS
                deviceToken:
                  type: string
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                countryCode:
                  type: string
                  description: '+593'
                companyName:
                  type: string
                  minLength: 2
                imageLogo:
                  type: object
                  description: image url
                imageFront:
                  type: object
                  description: image url
                fullAddress:
                  type: string
                  minLength: 2
                addressReference:
                  type: string
                exterior:
                  type: string
                interior:
                  type: string
                zipCode:
                  type: string
                country:
                  type: string
                city:
                  type: string
                latitude:
                  type: number
                longitude:
                  type: number
                businessCategories:
                  type: array
                  items:
                    type: string
                  maxItems: 3
                  description: Categories that the business is part of. Just the ID
                schedule:
                  type: array
                  items:
                    type: object
                    properties:
                      day:
                        type: number
                        minimum: 0
                        maximum: 6
                      open:
                        type: string
                      close:
                        type: string
                      isOpen:
                        type: boolean
                    required:
                    - day
                    - isOpen
                    optional:
                    - open
                    - close
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags to find the business
              required:
              - email
              - deviceType
              - mobile
              - countryCode
              - companyName
              - fullAddress
  /business/addProductDetail:
    post:
      summary: Add a new detail to a product
      operationId: postBusinessAddproductdetail
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                productID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the product this detail belongs to
                type:
                  type: string
                  enum:
                  - SIMPLE
                  - MULTIPLE
                  - TEXT
                  description: 'Type of detail: SIMPLE | MULTIPLE | TEXT'
                default:
                  type: string
                  description: ID of the option that is selected as default
                isObligatory:
                  type: boolean
                  description: Indicates if the detail is obligatory
                options:
                  type: array
                  items:
                    type: string
                  description: Options to show to the customer
                text:
                  type: string
                  description: Description of the detail
              required:
              - productID
              - type
              - isObligatory
  /business/createBusinessForUser:
    post:
      summary: Create a business for a user and assign to it
      operationId: postBusinessCreatebusinessforuser
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                country:
                  type: string
                currency:
                  type: string
                options:
                  type: array
                  items:
                    type: string
                  description: Options for business
                storeType:
                  type: string
              required:
              - country
              - currency
              - storeType
  /business/createProduct:
    post:
      summary: Register a new product of a business
      operationId: postBusinessCreateproduct
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                image:
                  type: object
                  description: image url
                timeToPrepare:
                  type: number
                isActive:
                  type: boolean
                price:
                  type: number
                description:
                  type: string
                categoryID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the category of the product
                details:
                  type: array
                  items:
                    type: string
                productType:
                  type: string
                  description: Type of product. Related to the categories that the business belongs to.
                commission:
                  type: number
                  maximum: 100
                  minimum: 0
                  description: Commission charged to the product
                images:
                  type: array
                  items:
                    type: object
                    properties:
                      image:
                        type: object
                        description: Image object with original and thumbnail
                        properties:
                          thumbnail:
                            type: string
                          original:
                            type: string
                        required:
                        - thumbnail
                        - original
                        name: image
                      isDefault:
                        type: boolean
                        description: If the image is the default product's image
                    required:
                    - image
                    - isDefault
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags to find the product
              required:
              - name
              - timeToPrepare
              - isActive
              - price
              - commission
              - images
  /business/createProductByUserId:
    post:
      summary: Register a new product of a business
      operationId: postBusinessCreateproductbyuserid
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: businessUserId
        in: query
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                image:
                  type: object
                  description: image url
                timeToPrepare:
                  type: number
                isActive:
                  type: boolean
                price:
                  type: number
                description:
                  type: string
                categoryID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the category of the product
                details:
                  type: array
                  items:
                    type: string
                productType:
                  type: string
                  description: Type of product. Related to the categories that the business belongs to.
                commission:
                  type: number
                  maximum: 100
                  minimum: 0
                  description: Commission charged to the product
                images:
                  type: array
                  items:
                    type: object
                    properties:
                      image:
                        type: object
                        description: Image object with original and thumbnail
                        properties:
                          thumbnail:
                            type: string
                          original:
                            type: string
                        required:
                        - thumbnail
                        - original
                        name: image
                      isDefault:
                        type: boolean
                        description: If the image is the default product's image
                    required:
                    - image
                    - isDefault
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags to find the product
              required:
              - name
              - timeToPrepare
              - isActive
              - price
              - commission
              - images
  /business/createProductCategory:
    post:
      summary: Register a new product category
      operationId: postBusinessCreateproductcategory
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/
              required:
              - name
  /business/createProductCategoryByUserId:
    post:
      summary: Register a new product category
      operationId: postBusinessCreateproductcategorybyuserid
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: businessUserId
        in: query
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/
              required:
              - name
  /business/forgotPassword:
    post:
      summary: Sets the deleted flag of the product to true
      operationId: postBusinessForgotpassword
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: false
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                mobile:
                  type: string
              required:
              - mobile
  /business/generateDynamicLink:
    post:
      summary: Generate a dynamic link for business
      operationId: postBusinessGeneratedynamiclink
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_66'
  /business/registerFromEmail:
    post:
      summary: Register a new business via Email
      operationId: postBusinessRegisterfromemail
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                lastName:
                  type: string
                  minLength: 2
                email:
                  type: string
                password:
                  type: string
                  minLength: 6
                  description: password must contains minimum 6 character
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - ANDROID
                  - IOS
                deviceToken:
                  type: string
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                countryCode:
                  type: string
                  description: '+593'
                companyName:
                  type: string
                  minLength: 2
                imageLogo:
                  type: object
                  description: image url
                imageFront:
                  type: object
                  description: image url
                businessCategories:
                  type: array
                  items:
                    type: string
                  maxItems: 3
                  description: Categories that the business is part of. Just the ID
                fullAddress:
                  type: string
                  minLength: 2
                latitude:
                  type: number
                longitude:
                  type: number
                schedule:
                  type: array
                  items:
                    type: object
                    properties:
                      day:
                        type: number
                        minimum: 0
                        maximum: 6
                      open:
                        type: string
                      close:
                        type: string
                      isOpen:
                        type: boolean
                    required:
                    - day
                    - isOpen
                    optional:
                    - open
                    - close
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags to find the business
              required:
              - name
              - lastName
              - email
              - password
              - deviceType
              - mobile
              - countryCode
              - companyName
              - fullAddress
              - schedule
  /business/setProductAndCategoriesOrder:
    post:
      summary: Generate a dynamic link for business
      operationId: postBusinessSetproductandcategoriesorder
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_68'
  /business/updateBusiness:
    post:
      summary: Update business data
      operationId: postBusinessUpdatebusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                lastName:
                  type: string
                  minLength: 2
                email:
                  type: string
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                countryCode:
                  type: string
                imageLogo:
                  type: object
                  description: image url
                imageFront:
                  type: object
                  description: image url
                companyName:
                  type: string
                  minLength: 2
                productTypes:
                  type: array
                  items:
                    type: string
                    description: add sub category business
                schedule:
                  type: array
                  items:
                    type: object
                    properties:
                      day:
                        type: number
                        minimum: 0
                        maximum: 6
                      open:
                        type: string
                      close:
                        type: string
                      isOpen:
                        type: boolean
                    required:
                    - day
                    - isOpen
                    optional:
                    - open
                    - close
                fullAddress:
                  type: string
                  minLength: 2
                  description: Name of the address of the business' location
                latitude:
                  type: number
                longitude:
                  type: number
                businessCategories:
                  type: array
                  items:
                    type: string
                  maxItems: 3
                  description: Categories that the business is part of. Just the ID
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags to find the business
                role:
                  type: string
                  default: business
                paymentMethod:
                  type: string
                country:
                  type: string
                currency:
                  type: string
                options:
                  type: array
                  items:
                    type: string
                  description: Options for business
              required:
              - name
              - lastName
              - mobile
              - companyName
  /business/updateBusinessByUserId:
    post:
      summary: Update business data
      operationId: postBusinessUpdatebusinessbyuserid
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: businessUserId
        in: query
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                lastName:
                  type: string
                  minLength: 2
                email:
                  type: string
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                countryCode:
                  type: string
                imageLogo:
                  type: object
                  description: image url
                frontImage:
                  type: object
                  description: image url
                companyName:
                  type: string
                  minLength: 2
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags to find the business
                schedule:
                  type: array
                  items:
                    type: object
                    properties:
                      day:
                        type: number
                        minimum: 0
                        maximum: 6
                      open:
                        type: string
                      close:
                        type: string
                      isOpen:
                        type: boolean
                    required:
                    - day
                    - isOpen
                    optional:
                    - open
                    - close
                fullAddress:
                  type: string
                  minLength: 2
                  description: Name of the address of the business' location
                addressReference:
                  type: string
                country:
                  type: string
                city:
                  type: string
                exterior:
                  type: string
                interior:
                  type: string
                zipCode:
                  type: string
                latitude:
                  type: number
                longitude:
                  type: number
                businessCategories:
                  type: array
                  items:
                    type: string
                  maxItems: 3
                  description: Categories that the business is part of. Just the ID
                paymentMethod:
                  type: string
                currency:
                  type: string
                options:
                  type: array
                  items:
                    type: string
                  description: Options for business
                billingData:
                  type: object
                  description: Billing data
                description:
                  type: string
                  minLength: 2
  /business/updatePaymentMethodByUserId:
    post:
      summary: Update business payment method
      operationId: postBusinessUpdatepaymentmethodbyuserid
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: businessUserId
        in: query
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                paymentMethod:
                  type: string
                  enum:
                  - BILLING_CARD
                  - BILLING_TRANSFER
              required:
              - paymentMethod
  /business/verifyOTP:
    post:
      summary: Verify OTP for mobile
      operationId: postBusinessVerifyotp
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_70'
  /customer/addRemoveFavorite:
    post:
      summary: Customer can add or remove his favourite business or product
      operationId: postCustomerAddremovefavorite
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                favoriteID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the product or business selected
                type:
                  type: string
                  enum:
                  - PRODUCT
                  - BUSINESS
                  description: If the selected favorite is product or business
                isFavorite:
                  type: boolean
              required:
              - favoriteID
              - type
              - isFavorite
  /business/deleteCategory:
    delete:
      summary: Delete a category and all its products
      operationId: deleteBusinessDeletecategory
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                categoryID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the product
              required:
              - categoryID
  /business/deleteProduct:
    delete:
      summary: Sets the deleted flag of the product to true
      operationId: deleteBusinessDeleteproduct
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: false
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _id:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the product
  /business/deleteProductDetail:
    delete:
      summary: Deletes the detail of a product
      operationId: deleteBusinessDeleteproductdetail
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                detailID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the product detail
              required:
              - detailID
  /business/removeCategoryFromBusiness:
    delete:
      summary: Removes a category from the business businessCategories array
      operationId: deleteBusinessRemovecategoryfrombusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Business
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                businessCategoryID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the business category
              required:
              - businessCategoryID
components:
  schemas:
    Model_70:
      type: object
      properties:
        mobile:
          type: string
          description: Phone number that is being verified
        OTPCode:
          type: number
          description: OTP sent via SMS to the user
          minimum: 1000
          maximum: 9999
      required:
      - mobile
      - OTPCode
    Model_81:
      type: object
      properties:
        type:
          type: string
          description: Type of event to delete
      required:
      - type
    Model_68:
      type: object
      properties:
        products:
          $ref: '#/components/schemas/products'
          type: array
        categories:
          $ref: '#/components/schemas/products'
          type: array
      required:
      - products
      - categories
    Model_60:
      type: object
      properties:
        type:
          type: string
          enum:
          - PICKUP
          - DELIVERY
      required:
      - type
    products:
      type: array
      items:
        $ref: '#/components/schemas/Model_67'
    Model_61:
      type: object
      properties:
        type:
          type: string
          description: Type of event to subscribe to
        url:
          type: string
        header:
          type: string
      required:
      - type
      - url
    Model_67:
      type: object
      properties:
        id:
          type: string
        order:
          type: number
      required:
      - id
      - order
    Model_66:
      type: object
      properties:
        businessID:
          type: string
          description: UserID of the business
      required:
      - businessID
