openapi: 3.2.0
info:
  title: Picker Production Documentation Booking API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Booking
paths:
  /admin/bookings:
    get:
      summary: Get list of bookings
      operationId: getAdminBookings
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 12
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          default: 0
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - x-constraint:
          single: true
        name: currentStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 7
            - 6
            - 8
            - 11
            - 12
            - 13
            - 20
            - 21
            - 22
            - 10
            - 25
            - 23
            - 27
            - 28
            - 32
            - 34
            - 33
            - 29
            - 31
      - name: typeText
        in: query
        required: false
        schema:
          type: string
          enum:
          - PICKUP_AND_DELIVER
          - BUY_AND_DELIVER
          - MARKETPLACE
          - SHOP_ORDER
          - CORPORATE
          - WHITE_LABEL
      - name: sortField
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: searchBooking
        in: query
        required: false
        schema:
          type: string
      - name: customer
        in: query
        required: false
        schema:
          type: string
      - name: driver
        in: query
        required: false
        schema:
          type: string
      - name: business
        in: query
        required: false
        schema:
          type: string
      - name: superRegionID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/userBookings:
    get:
      summary: Get list of bookings from an user
      operationId: getAdminUserbookings
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 12
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          default: 0
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: customer
        in: query
        required: false
        schema:
          type: string
      - name: driver
        in: query
        required: false
        schema:
          type: string
      - name: business
        in: query
        required: false
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/warningBookings:
    get:
      summary: Get list of bookings
      operationId: getAdminWarningbookings
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 12
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          default: 0
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: sortField
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: adminResponsableID
        in: query
        required: false
        schema:
          type: string
      - name: superRegionID
        in: query
        required: false
        schema:
          type: string
      - name: currency
        in: query
        required: false
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /api/getBookingDetails:
    get:
      summary: Get all details from a selected booking
      operationId: getApiGetbookingdetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: bookingID
        in: query
        required: false
        schema:
          type: number
      - name: id
        in: query
        required: false
        schema:
          type: string
      - name: externalID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /api/getChatbotBooking:
    get:
      summary: Get all details from a selected booking using chatbot
      operationId: getApiGetchatbotbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Field bookingNumericId
        name: bookingID
        in: query
        required: true
        schema:
          type: number
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /api/getDriver:
    get:
      summary: Get drivers registered by the user
      operationId: getApiGetdriver
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: email
        in: query
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /api/getDriverById:
    get:
      summary: Get driver by id
      operationId: getApiGetdriverbyid
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: query
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /api/getDrivers:
    get:
      summary: Get drivers registered by the user
      operationId: getApiGetdrivers
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /api/getPastBooking:
    get:
      summary: Get Past Booking For User
      operationId: getApiGetpastbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: skip
        in: query
        required: false
        schema:
          type: integer
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - description: 0-Pending, 1-Accepted, 2-Arrived, 3-WAY_TO_DELIVER, 4-Arrived At Delivery, 5-Completed6-Cancelled By Admin, 7-Cancelled
        x-constraint:
          single: true
        name: currentStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 7
            - 6
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /booking/getAllAvailabeBooking:
    get:
      summary: Get All Availabe Booking For serviceProvider and Driver
      operationId: getBookingGetallavailabebooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /booking/getAllBids:
    get:
      summary: Get All Bid Request
      operationId: getBookingGetallbids
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Booking id for the bids
        name: bookingID
        in: query
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /booking/getAllBookingDetails:
    get:
      summary: Get All Deatils of Particular Booking For serviceProvider and Driver
      operationId: getBookingGetallbookingdetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: query
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /booking/getBookingDetails:
    get:
      summary: Get All Deatils of Particular Booking For serviceProvider and Driver
      operationId: getBookingGetbookingdetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: id
        in: query
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /booking/getBookingReport:
    get:
      summary: Get booking report data for user
      operationId: getBookingGetbookingreport
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: _id of the booking selected
        name: bookingID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /booking/getBookingRoute:
    get:
      summary: Get path for specific booking
      operationId: getBookingGetbookingroute
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Booking ID to fetch the track history
        name: bookingID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: objectId
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /booking/getOngoingBooking:
    get:
      summary: Get Ongoing Booking For User
      operationId: getBookingGetongoingbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /booking/getPastBooking:
    get:
      summary: Get Past Booking For User
      operationId: getBookingGetpastbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: skip
        in: query
        required: false
        schema:
          type: integer
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: orderDate
        in: query
        required: false
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: dateTo
        in: query
        required: false
        schema:
          type: string
          format: date
      - description: 0-Pending, 1-Accepted, 2-Arrived, 3-WAY_TO_DELIVER, 4-Arrived At Delivery, 5-Completed, 7-Cancelled, 8-Cancelled By Driver, 10-Cancelled Request, 11-Rejected By Customer, 12-Not Found, 20-On Hold, 21-On Deck, 22-Ready for pickup
        x-constraint:
          single: true
        name: currentStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 7
            - 6
            - 8
            - 11
            - 12
            - 13
            - 20
            - 21
            - 22
            - 10
            - 25
            - 23
            - 27
            - 28
            - 29
      - name: typeText
        in: query
        required: false
        schema:
          type: string
          enum:
          - PICKUP_AND_DELIVER
          - BUY_AND_DELIVER
          - MARKETPLACE
          - SHOP_ORDER
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /booking/getProductList:
    get:
      summary: Get list of products from the booking
      operationId: getBookingGetproductlist
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: _id of the booking selected
        name: bookingID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /booking/preCheckout:
    get:
      summary: Get deliveryFee and details for checkout screen
      operationId: getBookingPrecheckout
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Distance between pickup & delivery location
        name: distance
        in: query
        required: true
        schema:
          type: number
          minimum: 0
      - x-constraint:
          precision: 6
        name: pickupLongitude
        in: query
        required: true
        schema:
          type: number
          maximum: 180
          minimum: -180
      - x-constraint:
          precision: 6
        name: pickupLatitude
        in: query
        required: true
        schema:
          type: number
          maximum: 90
          minimum: -90
      - description: Array of products the customer will buy
        name: products
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
    post:
      summary: Get delivery details for pre checkout view
      operationId: postBookingPrecheckout
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_63'
  /customer/getPastBooking:
    get:
      summary: Get Past Booking For Customer
      operationId: getCustomerGetpastbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: skip
        in: query
        required: false
        schema:
          type: integer
      - name: startDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: orderDate
        in: query
        required: false
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - x-constraint:
          single: true
        name: currentStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 7
            - 6
            - 8
            - 11
            - 12
            - 13
            - 20
            - 21
            - 22
            - 10
            - 25
            - 23
            - 27
            - 28
            - 29
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /api/workspace/getBookingDetails:
    get:
      summary: Get all details from a selected booking
      operationId: getApiWorkspaceGetbookingdetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: bookingID
        in: query
        required: false
        schema:
          type: number
      - name: id
        in: query
        required: false
        schema:
          type: string
      - name: externalID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/assignResponsable:
    put:
      summary: Assign user as responsable for a booking
      operationId: putAdminAssignresponsable
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_5'
  /admin/changeBookingDriver:
    put:
      summary: Change the driver of a selected booking
      operationId: putAdminChangebookingdriver
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_7'
  /api/rateChatbotBooking:
    put:
      summary: Rate a booking from chatbot
      operationId: putApiRatechatbotbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_13'
  /booking/addProofOfDelivery:
    put:
      summary: When a booking it's completed the delivery send a picture that should save in…
      operationId: putBookingAddproofofdelivery
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_16'
  /booking/assignBookingManually:
    put:
      summary: Send booking notification manually to sp/driver
      operationId: putBookingAssignbookingmanually
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userID:
                  type: string
                  description: User id of service provider
                role:
                  type: string
                  enum:
                  - driver
                  - serviceProvider
                bookingID:
                  type: string
                  description: Booking ID
                assignConfirm:
                  type: boolean
                  description: If booking was check for have provider assign
                manualAssignReason:
                  type: string
                  description: Reason of the assign
                isAdmin:
                  type: boolean
              required:
              - userID
              - role
              - bookingID
              - assignConfirm
              - manualAssignReason
  /booking/assignBookingRandomly:
    put:
      summary: Remove driver from booking and start new driver search
      operationId: putBookingAssignbookingrandomly
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bookingID:
                  type: string
              required:
              - bookingID
  /booking/assignManualRequest:
    put:
      summary: Send booking notification request manually to driver
      operationId: putBookingAssignmanualrequest
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userID:
                  type: string
                  description: User ID of driver
                bookingID:
                  type: string
                  description: Booking ID
                manualRequestReason:
                  type: string
                  description: Reason of the manual request assign
              required:
              - userID
              - bookingID
              - manualRequestReason
  /booking/bookingAcceptReject:
    put:
      summary: Accept-Reject Booking
      operationId: putBookingBookingacceptreject
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bookingID:
                  type: string
                  maxLength: 24
                  minLength: 24
                bookingCurrentStatus:
                  type: number
                  enum:
                  - 1
                  - 9
                bookingCurrentStatusText:
                  type: string
                  enum:
                  - ACCEPTED
                  - REJECTED_BY_DRIVER
                latitude:
                  type: number
                  description: Driver's current location
                longitude:
                  type: number
                  description: Driver's current location
              required:
              - bookingID
              - bookingCurrentStatus
              - bookingCurrentStatusText
  /booking/cancelBooking:
    put:
      summary: Cancel Booking
      operationId: putBookingCancelbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_17'
  /booking/cancelBookingFromBusiness:
    put:
      summary: Cancel Booking From Business
      operationId: putBookingCancelbookingfrombusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_18'
  /booking/cancelBookingRequest:
    put:
      summary: Cancel Booking
      operationId: putBookingCancelbookingrequest
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_19'
  /booking/changePaymentMethod:
    put:
      summary: Change payment method of the selected booking
      operationId: putBookingChangepaymentmethod
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_20'
  /booking/editOrderRequest:
    put:
      summary: Edit the selected order request and send notification to customer
      operationId: putBookingEditorderrequest
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_21'
  /booking/getCancellationChargeInfo:
    put:
      summary: Cancel Booking
      operationId: putBookingGetcancellationchargeinfo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_19'
  /booking/makeDonation:
    put:
      summary: Make a donation after the booking
      operationId: putBookingMakedonation
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_22'
  /booking/notDelivered:
    put:
      summary: Mark a booking as not delivered to the customer
      operationId: putBookingNotdelivered
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_23'
  /booking/notShow:
    put:
      summary: Validate && set booking as a Not Show
      operationId: putBookingNotshow
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_24'
  /booking/rejectBooking:
    put:
      summary: When a booking is in ON HOLD, the business and admin can reject it.
      operationId: putBookingRejectbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_25'
  /booking/restartSearchAutomaticAccept:
    put:
      summary: Restarts the driver search after driver doesnt login in automatic acceptation
      operationId: putBookingRestartsearchautomaticaccept
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_26'
  /booking/restartTime:
    put:
      summary: Restart time of the selected booking
      operationId: putBookingRestarttime
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bookingID:
                  type: string
                  description: Booking ID
              required:
              - bookingID
  /booking/selectBidByCustomer:
    put:
      summary: Select Bid
      operationId: putBookingSelectbidbycustomer
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_27'
  /booking/setBookingIssue:
    put:
      summary: Set issue for a booking
      operationId: putBookingSetbookingissue
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_28'
  /booking/setCancellationReason:
    put:
      summary: Set reason of cancellation for a booking
      operationId: putBookingSetcancellationreason
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_29'
  /booking/validateCodeOfProof:
    put:
      summary: Validate the code that driver send
      operationId: putBookingValidatecodeofproof
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_30'
  /booking/play/pause:
    put:
      summary: start time and pause time
      operationId: putBookingPlayPause
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_44'
  /admin/shareMyRide:
    post:
      summary: Get SMR for selected booking
      operationId: postAdminSharemyride
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_19'
  /api/pushShopifyOrder:
    post:
      summary: Handle shopify integration with push system
      operationId: postApiPushshopifyorder
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /api/pushSpoonityOrder:
    post:
      summary: Handle spoonity integration with push system
      operationId: postApiPushspoonityorder
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /api/pushVtexOrder:
    post:
      summary: Handle vtex integration with push system
      operationId: postApiPushvtexorder
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /api/saveShopifyConfig:
    post:
      summary: Handle shopify integration with push system
      operationId: postApiSaveshopifyconfig
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /api/sendChatbotBookingRate:
    post:
      summary: Rating a booking from chatbot
      operationId: postApiSendchatbotbookingrate
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_59'
  /booking/createBooking:
    post:
      summary: Create a new booking
      operationId: postBookingCreatebooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                deliveryCity:
                  type: string
                  maxLength: 50
                  minLength: 3
                deliveryState:
                  type: string
                  default: N/A
                  maxLength: 50
                  minLength: 3
                deliveryZipCode:
                  type: string
                  default: N/A
                  maxLength: 20
                deliveryAddress:
                  type: string
                  minLength: 2
                deliveryLongitude:
                  type: number
                  maximum: 180
                  minimum: -180
                deliveryLatitude:
                  type: number
                  maximum: 90
                  minimum: -90
                deliveryReferences:
                  type: string
                saveDeliveryAddress:
                  type: boolean
                  default: false
                pickupLongitude:
                  type: number
                  maximum: 180
                  minimum: -180
                pickupLatitude:
                  type: number
                  maximum: 90
                  minimum: -90
                pickupCity:
                  type: string
                  maxLength: 50
                  minLength: 3
                pickupState:
                  type: string
                  default: N/A
                  maxLength: 50
                  minLength: 3
                pickupZipCode:
                  type: string
                  default: N/A
                  maxLength: 20
                pickupAddress:
                  type: string
                  minLength: 2
                pickupReferences:
                  type: string
                savePickupAddress:
                  type: boolean
                  default: false
                pickupDateTimeFrom:
                  type: string
                  default: '2026-07-13T16:15:38.356Z'
                bookingNotes:
                  type: string
                isLaterBooking:
                  type: boolean
                  default: false
                carType:
                  type: number
                  description: 'Type of vehicle for this booking. Bike: 1, Lite: 0'
                carName:
                  type: string
                  enum:
                  - BIKE
                  - LITE
                  description: Type of vehicle for this booking
                paymentMethod:
                  type: string
                  enum:
                  - CARD
                  - CASH
                  description: Payment method for the booking. CARD or CASH
                bookingType:
                  type: number
                  enum:
                  - 0
                  - 1
                promoAliasID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: Promo to be used for this booking
                regionID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: Region this booking belongs to
                billedDistance:
                  type: number
                  minimum: 0
                  description: Total distance from pickup to delivery location
                oneSignalId:
                  type: string
                  description: Customer's id from oneSignal
                realPhone:
                  type: string
                realPositionLatitude:
                  type: number
                  maximum: 180
                  minimum: -180
                realPositionLongitude:
                  type: number
                  maximum: 180
                  minimum: -180
                minimumDriverCash:
                  type: number
                  maximum: 200
                  minimum: 0
                  description: Minimum amount the driver has to have to accept this booking
                productReferencesImages:
                  type: array
                  items:
                    type: object
                    properties:
                      original:
                        type: string
                      thumbnail:
                        type: string
                    optional:
                    - original
                    - thumbnail
                  description: Image reference array for products
                subtype:
                  type: string
                  enum:
                  - SHOP
                  - PICKUP
                  - DELIVER
                  - BUSINESS_SHOP
                  - BUSINESS_DELIVER
                  - PICKUP_AND_DELIVER
                contact:
                  type: object
                  description: Information for the booking's contact
                tipBusiness:
                  type: number
                  minimum: 0
                  description: Tip for the driver
              required:
              - deliveryCity
              - deliveryAddress
              - deliveryLongitude
              - deliveryLatitude
              - pickupLongitude
              - pickupLatitude
              - pickupCity
              - pickupAddress
              - carType
              - carName
              - paymentMethod
              - bookingType
              - billedDistance
  /booking/createMarketPlaceBooking:
    post:
      summary: Create Booking Request for Market Place
      operationId: postBookingCreatemarketplacebooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                businessID:
                  type: string
                  description: ID of the business the order is for
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productID:
                        type: string
                        description: ID of the product selected
                      quantity:
                        type: number
                        description: Amount of that product selected
                      details:
                        type: array
                        description: Array of the details the user selected for this product
                        items:
                          type: object
                          properties:
                            _id:
                              type: string
                              description: ID of the product detail selected
                            options:
                              type: array
                              description: Array of options selected for this product detail
                              items:
                                type: string
                              collectionFormat: multi
                              name: options
                            text:
                              type: string
                              description: Product-detail text shown to the user
                            additionalInformation:
                              type: string
                              description: Additional information for the product
                          required:
                          - _id
                          optional:
                          - options
                          - text
                          - additionalInformation
                        collectionFormat: multi
                        name: details
                    required:
                    - productID
                    - quantity
                    optional:
                    - details
                  description: Array of the products selected for the order
                productReferencesImages:
                  type: array
                  items:
                    type: object
                    properties:
                      original:
                        type: string
                      thumbnail:
                        type: string
                    optional:
                    - original
                    - thumbnail
                  description: Image reference array for products
                pickupDateTimeFrom:
                  type: string
                  default: '2026-07-13T16:15:38.360Z'
                deliveryCity:
                  type: string
                  default: N/A
                  maxLength: 50
                  minLength: 3
                deliveryState:
                  type: string
                  default: N/A
                  maxLength: 50
                  minLength: 3
                deliveryZipCode:
                  type: string
                  default: N/A
                  maxLength: 20
                  pattern: /^[a-zA-Z0-9 ]+$/
                deliveryAddress:
                  type: string
                  minLength: 2
                deliveryLongitude:
                  type: number
                  maximum: 180
                  minimum: -180
                deliveryLatitude:
                  type: number
                  maximum: 90
                  minimum: -90
                deliveryReferences:
                  type: string
                bookingNotes:
                  type: string
                bookingType:
                  type: number
                  enum:
                  - 2
                billedDistance:
                  type: number
                  minimum: 0
                  description: Distance between point A and point B
                oneSignalId:
                  type: string
                  description: Id from One Signal
                realPhone:
                  type: string
                realPositionLatitude:
                  type: number
                  maximum: 180
                  minimum: -180
                  description: Customer's real position.
                realPositionLongitude:
                  type: number
                  maximum: 180
                  minimum: -180
                  description: Customer's real position.
                paymentMethod:
                  type: string
                  enum:
                  - CASH
                  - CARD
                  default: CASH
                  description: Payment method for booking selected by the customer
              required:
              - businessID
              - products
              - deliveryAddress
              - deliveryLongitude
              - deliveryLatitude
              - bookingType
  /booking/makeBidByDriver:
    post:
      summary: Make an order request for a booking
      operationId: postBookingMakebidbydriver
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_62'
  /booking/restartSearch:
    post:
      summary: Restarts the driver search for the selected booking
      operationId: postBookingRestartsearch
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_26'
  /booking/sendOrderRequestNotification:
    post:
      summary: Send the notification of the selected order request from the booking to the…
      operationId: postBookingSendorderrequestnotification
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_64'
  /booking/validateBooking:
    post:
      summary: Check if a booking can create in Picker
      operationId: postBookingValidatebooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: bookingID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                longitude:
                  type: number
                  maximum: 180
                  minimum: -180
                  description: Delivery longitude coordinate.
                latitude:
                  type: number
                  maximum: 90
                  minimum: -90
                  description: Delivery latitude coordinate.
                city:
                  type: string
                  default: N/A
                  maxLength: 50
                  minLength: 3
                country:
                  type: string
                address:
                  type: string
                  minLength: 2
                zipCode:
                  type: string
                customerName:
                  type: string
                  minLength: 3
                customerLastName:
                  type: string
                customerEmail:
                  type: string
                customerMobile:
                  type: string
                customerCountryCode:
                  type: string
                  default: '+593'
                reference:
                  type: string
                  default: N/A
                  minLength: 3
                sendSMR:
                  type: boolean
                  default: false
                orderAmount:
                  type: number
                  default: 0
                  minimum: 0
              required:
              - longitude
              - latitude
              - address
  /public/sentReportToUser:
    post:
      summary: Sent Booking Reports
      operationId: postPublicSentreporttouser
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                usersIds:
                  type: array
                  items:
                    type: string
              required:
              - usersIds
  /booking/deleteOrderRequest:
    delete:
      summary: Delete the selected order request from the booking
      operationId: deleteBookingDeleteorderrequest
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Booking
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_82'
components:
  schemas:
    bookingIssuesIds:
      type: array
      description: Array of booking issue ids
      items:
        type: string
        minLength: 24
        maxLength: 24
    Model_17:
      type: object
      properties:
        bookingID:
          type: string
        reasonForRejection:
          type: string
        cancelLongitude:
          type: number
          minimum: -180
          maximum: 180
          x-constraint:
            precision: 6
        cancelLatitude:
          type: number
          minimum: -90
          maximum: 90
          x-constraint:
            precision: 6
        cancelReason:
          type: string
        isAdmin:
          type: boolean
      required:
      - bookingID
    Model_16:
      type: object
      properties:
        bookingID:
          type: string
          description: ID of the booking to add.
        proofOfDelivery:
          type: string
          description: URL or code of the photo
      required:
      - bookingID
      - proofOfDelivery
    Model_27:
      type: object
      properties:
        bookingID:
          type: string
          description: ID of the booking this order request belongs to
        status:
          type: number
          enum:
          - 1
          - 2
      required:
      - bookingID
      - status
    Model_22:
      type: object
      properties:
        amount:
          type: number
          description: Amount to donate
          enum:
          - 1
          - 2
          - 3
        bookingID:
          type: string
          description: Booking ID
          x-constraint:
            length: 24
      required:
      - amount
      - bookingID
    Model_64:
      type: object
      properties:
        bookingID:
          type: string
          description: ID of the booking the order request belongs to
        orderID:
          type: string
          description: ID of the order request to send the notification
      required:
      - bookingID
      - orderID
    Model_62:
      type: object
      properties:
        bookingID:
          type: string
          description: ID of the booking this order request belongs to
        bidValue:
          type: number
        latitude:
          type: number
          description: Driver's current location
        longitude:
          type: number
          description: Driver's current location
      required:
      - bookingID
      - bidValue
    Model_18:
      type: object
      properties:
        bookingID:
          type: string
        reasonForRejection:
          type: string
        cancelLongitude:
          type: number
          minimum: -180
          maximum: 180
          x-constraint:
            precision: 6
        cancelLatitude:
          type: number
          minimum: -90
          maximum: 90
          x-constraint:
            precision: 6
        cancelReason:
          type: string
      required:
      - bookingID
    Model_19:
      type: object
      properties:
        bookingID:
          type: string
      required:
      - bookingID
    Model_23:
      type: object
      properties:
        bookingID:
          type: string
          description: ID of the booking to update.
        notDeliveredReason:
          type: string
          enum:
          - LOCATION_NOT_FOUND
          - PICKUP_NOT_RECEIVED
          - NOT_ANSWER
          - WRONG_LOCATION
      required:
      - bookingID
      - notDeliveredReason
    Model_24:
      type: object
      properties:
        bookingID:
          type: string
        latitude:
          type: number
          description: Driver's current location
        longitude:
          type: number
          description: Driver's current location
      required:
      - bookingID
    Model_82:
      type: object
      properties:
        bookingID:
          type: string
          description: ID of the booking the order request belongs to
        orderID:
          type: string
          description: ID of the order request to delete
      required:
      - bookingID
      - orderID
    Model_20:
      type: object
      properties:
        paymentMethod:
          type: string
          enum:
          - CARD
          - CASH
        bookingID:
          type: string
          description: Booking ID
          x-constraint:
            length: 24
      required:
      - paymentMethod
      - bookingID
    Model_5:
      type: object
      properties:
        bookingID:
          type: string
        userID:
          type: string
      required:
      - bookingID
      - userID
    rating:
      type: object
      properties:
        driver:
          type: number
        business:
          type: number
      required:
      - driver
      - business
    Model_59:
      type: object
      properties:
        title:
          type: string
        bookingID:
          type: string
        rating:
          type: string
        comment:
          type: string
        workspaceName:
          type: string
        businessName:
          type: string
        customerName:
          type: string
      required:
      - bookingID
      - rating
      - comment
    Model_28:
      type: object
      properties:
        bookingID:
          type: string
          description: _id of the booking selected
          minLength: 24
          maxLength: 24
        bookingIssuesIds:
          $ref: '#/components/schemas/bookingIssuesIds'
          type: array
      required:
      - bookingID
      - bookingIssuesIds
    Model_63:
      type: object
      properties:
        distance:
          type: number
          description: Distance between pickup & delivery location
          minimum: 0
        pickupLongitude:
          type: number
          minimum: -180
          maximum: 180
          x-constraint:
            precision: 6
        pickupLatitude:
          type: number
          minimum: -90
          maximum: 90
          x-constraint:
            precision: 6
      required:
      - distance
      - pickupLongitude
      - pickupLatitude
    Model_29:
      type: object
      properties:
        bookingID:
          type: string
          description: ID of the booking to set the cancel reason
        reasonForRejection:
          type: string
          description: Cancel reason
      required:
      - bookingID
    Model_7:
      type: object
      properties:
        bookingID:
          type: string
        driverID:
          type: string
      required:
      - bookingID
      - driverID
    Model_44:
      type: object
      properties:
        bookingID:
          type: string
          description: enter booking ID for which play pause going on is to be made
        startTime:
          type: boolean
      required:
      - bookingID
      - startTime
    Model_21:
      type: object
      properties:
        bookingID:
          type: string
          description: ID of the booking the order request belongs to
        amount:
          type: number
          description: New order amount
          minimum: 0
      required:
      - bookingID
      - amount
    Model_30:
      type: object
      properties:
        bookingID:
          type: string
          description: ID of the booking to add.
        proofOfDelivery:
          type: string
          description: Code of proof
      required:
      - bookingID
      - proofOfDelivery
    Model_13:
      type: object
      properties:
        bookingID:
          type: string
        rating:
          $ref: '#/components/schemas/rating'
      required:
      - bookingID
      - rating
    Model_26:
      type: object
      properties:
        bookingID:
          type: string
          description: ID of the booking to restart the search
          x-constraint:
            length: 24
      required:
      - bookingID
    Model_25:
      type: object
      properties:
        bookingID:
          type: string
          description: ID of the booking to reject.
      required:
      - bookingID
