openapi: 3.2.0
info:
  title: Picker Production Documentation Dashboard API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Dashboard
paths:
  /bookings/getAllBookingsDashBoard:
    get:
      summary: Get General info about businesses
      operationId: getBookingsGetallbookingsdashboard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
      - name: to
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: onlyPast
        in: query
        required: false
        schema:
          type: boolean
      - name: onlyActives
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Dashboard
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /bookings/getCoportatesAllBookings:
    get:
      summary: Get General info about businesses
      operationId: getBookingsGetcoportatesallbookings
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: from
        in: query
        required: false
        schema:
          type: string
      - name: to
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        required: false
        schema:
          type: string
      - name: onlyPast
        in: query
        required: false
        schema:
          type: boolean
      - name: onlyActives
        in: query
        required: false
        schema:
          type: boolean
      - description: ID of the selected user to filter its bookings
        name: userID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Dashboard
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /bookings/getCorporateBookingsByUserId:
    get:
      summary: Get coportates orders by businessId
      operationId: getBookingsGetcorporatebookingsbyuserid
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: userId
        in: query
        required: true
        schema:
          type: string
      tags:
      - Dashboard
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getAccountInfoIntegrationDashboard:
    get:
      summary: Get General info about specific business
      operationId: getBusinessGetaccountinfointegrationdashboard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: userId
        in: query
        required: false
        schema:
          type: string
      tags:
      - Dashboard
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getAssociatedBusiness:
    get:
      summary: Get General info about businesses
      operationId: getBusinessGetassociatedbusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: storeType
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: search
        in: query
        required: false
        schema:
          type: string
      - name: sortField
        in: query
        required: false
        schema:
          type: string
      - name: sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Dashboard
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBookingsDataByDatesDashboard:
    get:
      summary: Get General info about businesses
      operationId: getBusinessGetbookingsdatabydatesdashboard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: fromDate
        in: query
        required: true
        schema:
          type: string
      - name: toDate
        in: query
        required: true
        schema:
          type: string
      - name: isSemester
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Dashboard
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBookingsIntegrationDashboard:
    get:
      summary: Get General info about businesses
      operationId: getBusinessGetbookingsintegrationdashboard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: userID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Dashboard
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBusinessesGeneralInfo:
    get:
      summary: Get General info about businesses
      operationId: getBusinessGetbusinessesgeneralinfo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      tags:
      - Dashboard
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/turnOffOnBusinessById:
    get:
      summary: Get General info about specific business
      operationId: getBusinessTurnoffonbusinessbyid
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: businessUserId
        in: query
        required: true
        schema:
          type: string
      - name: businessId
        in: query
        required: true
        schema:
          type: string
      - name: currentStatus
        in: query
        required: true
        schema:
          type: string
      tags:
      - Dashboard
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
