openapi: 3.2.0
info:
  title: Picker Production Documentation Admin API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Admin
paths:
  /admin/sendEmailTo:
    post:
      summary: Send email to user
      operationId: postAdminSendemailto
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_52'
      tags:
      - Admin
  /admin/sendInvoiceEmail:
    post:
      summary: Send booking's invoice to email
      operationId: postAdminSendinvoiceemail
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_53'
      tags:
      - Admin
  /accounting/getAPICharges:
    get:
      summary: Return the amount to charge all API users
      operationId: getAccountingGetapicharges
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /accounting/getAllBusinessesBalanceTransactionDetails:
    get:
      summary: Get all the marketplace transactions in a date range
      operationId: getAccountingGetallbusinessesbalancetransactiondetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: true
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: download
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /accounting/getAllBusinessesTransactions:
    get:
      summary: Get businesses transactions grouped by business
      operationId: getAccountingGetallbusinessestransactions
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: false
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: false
        schema:
          type: string
      - description: Limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: Skip data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      - description: Name of the business
        name: searchUser
        in: query
        required: false
        schema:
          type: string
      - name: download
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /accounting/getAllBusinessesTransactionsSummary:
    get:
      summary: Get summary of all business transactions
      operationId: getAccountingGetallbusinessestransactionssummary
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: false
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: false
        schema:
          type: string
      - description: Name of the business
        name: searchUser
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /accounting/getAllDriversBonusTransactions:
    get:
      summary: Get the order amount of all pickers CC transactions in the date range requested
      operationId: getAccountingGetalldriversbonustransactions
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: Skip data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      - description: Name of picker
        name: searchUser
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /accounting/getAllDriversDeliveryTransactions:
    get:
      operationId: getAccountingGetalldriversdeliverytransactions
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: true
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: download
        in: query
        required: false
        schema:
          type: boolean
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - description: Name of picker
        name: searchUser
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      summary: Get accounting getalldriversdeliverytransactions
      x-summary-source: derived
  /accounting/getAllDriversDeliveryTransactionsSummary:
    get:
      summary: Get summary of all driver's delivery transactions
      operationId: getAccountingGetalldriversdeliverytransactionssummary
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: false
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: false
        schema:
          type: string
      - description: Name of the business
        name: searchUser
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /accounting/getCompanyTransactions:
    get:
      summary: Get all company transactions in a date range
      operationId: getAccountingGetcompanytransactions
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: true
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: download
        in: query
        required: false
        schema:
          type: boolean
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /accounting/getDriverDeliveryTransactionsDetails:
    get:
      summary: Get all delivery transactions of the driver selected
      operationId: getAccountingGetdriverdeliverytransactionsdetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: ID of the driver to filter transactions
        name: pickerID
        in: query
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: true
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /accounting/getPickerBonusTransactionsDetails:
    get:
      summary: Get the order amount of all pickers CC transactions in the date range requested
      operationId: getAccountingGetpickerbonustransactionsdetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: false
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: false
        schema:
          type: string
      - description: ID of the driver to filter transactions
        name: pickerID
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/addBusinessAccessToUser:
    get:
      summary: Get Business By ID
      operationId: getAdminAddbusinessaccesstouser
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: ID of the business
        name: businessID
        in: query
        required: true
        schema:
          type: string
      - description: ID of the user
        name: userID
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/assignReasons:
    get:
      summary: Returns the list of all Cancel Reasons
      operationId: getAdminAssignreasons
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/cancelBookingReasons:
    get:
      summary: Returns the list of all Cancel Reasons
      operationId: getAdminCancelbookingreasons
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/deleteBusinessAccessToUser:
    get:
      summary: Get Business By ID
      operationId: getAdminDeletebusinessaccesstouser
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: ID of the business
        name: businessID
        in: query
        required: true
        schema:
          type: string
      - description: ID of the user
        name: userID
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/driversWorkBalance:
    get:
      summary: Get drivers work balance information
      operationId: getAdminDriversworkbalance
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: number
          minimum: 0
      - name: limit
        in: query
        required: false
        schema:
          type: number
          minimum: 0
      - name: searchUser
        in: query
        required: false
        schema:
          type: string
          minLength: 3
      - name: superRegionID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getAllAvailabeBooking:
    get:
      summary: Get All Availabe Booking
      operationId: getAdminGetallavailabebooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: skip data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getAllBusinesses:
    get:
      summary: Get users registered as business
      operationId: getAdminGetallbusinesses
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: status
        in: query
        required: true
        schema:
          type: string
      - description: Business' name, email or company name
        name: searchUser
        in: query
        required: false
        schema:
          type: string
      - description: Field to order the results
        name: orderBy
        in: query
        required: false
        schema:
          type: string
      - description: 'Order criteria: ASC | DESC'
        name: sort
        in: query
        required: false
        schema:
          type: string
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: limit data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getAllBusinessesTransactions:
    get:
      operationId: getAdminGetallbusinessestransactions
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: false
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: false
        schema:
          type: string
      - description: Limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: Skip data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      - description: Name of the business
        name: searchUser
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      summary: Get admin getallbusinessestransactions
      x-summary-source: derived
  /admin/getAllCancelReasons:
    get:
      summary: Returns the list of all Cancel Reasons available
      operationId: getAdminGetallcancelreasons
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getAllDriverTags:
    get:
      summary: Returns the list of all Driver Tags available
      operationId: getAdminGetalldrivertags
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getAllPickersBalanceTransactions:
    get:
      summary: Get total of all balance transactions of the pickers
      operationId: getAdminGetallpickersbalancetransactions
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: true
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: true
        schema:
          type: string
      - description: Limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: Skip data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      - description: user email or name
        name: searchUser
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getAllPickersOrderTransactions:
    get:
      summary: Get the order amount of all pickers CC transactions in the date range requested
      operationId: getAdminGetallpickersordertransactions
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: false
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: false
        schema:
          type: string
      - description: Limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: Skip data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      - description: Name of picker
        name: searchUser
        in: query
        required: false
        schema:
          type: string
      - name: download
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getAllUsers:
    get:
      summary: Get List Of All Customers by Role[serviceProvider, customer, driver, business]
      operationId: getAdminGetallusers
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: role of user order is  customer/driver/serviceProvider/admin/business
        name: role
        in: query
        required: true
        schema:
          type: string
          enum:
          - all
          - customer
          - driver
          - serviceProvider
          - admin
          - business
      - name: isBlocked
        in: query
        required: true
        schema:
          type: string
          enum:
          - all
          - true
          - false
      - name: isDeleted
        in: query
        required: true
        schema:
          type: string
          enum:
          - all
          - true
          - false
      - name: isAdminVerified
        in: query
        required: true
        schema:
          type: string
          enum:
          - all
          - true
          - false
      - description: list only users created by self if true else all
        name: createdBySelf
        in: query
        required: false
        schema:
          type: boolean
      - description: user email or name
        name: searchUser
        in: query
        required: false
        schema:
          type: string
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: limit data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      - description: Filter users that belong to this Super Region
        name: superRegionID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getBanners:
    get:
      summary: Returns the banners that match the query
      operationId: getAdminGetbanners
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Status of the banners to query
        name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - ALL
          default: ACTIVE
      - description: Type of the banners to query
        name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - BUSINESS
          - CATEGORY
      - description: Amount of results to return
        name: limit
        in: query
        required: false
        schema:
          type: number
      - description: Amount of results to skip from the search
        name: skip
        in: query
        required: false
        schema:
          type: number
      - name: latitude
        in: query
        required: false
        schema:
          type: number
      - name: longitude
        in: query
        required: false
        schema:
          type: number
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getBookingDetails:
    get:
      summary: Get All Deatils of a Particular Booking
      operationId: getAdminGetbookingdetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: booking id
        name: id
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getBookingInfo:
    get:
      summary: Get info of Booking & Review
      operationId: getAdminGetbookinginfo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: bookingID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getBookingTransactions:
    get:
      summary: Get all the transactions related to the booking
      operationId: getAdminGetbookingtransactions
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: ID of the booking
        name: bookingID
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getBookingsStats:
    get:
      summary: Get Dashboard Count
      operationId: getAdminGetbookingsstats
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: utcOffset
        in: query
        required: true
        schema:
          type: number
      - description: Filter users that belong to this Super Region
        name: superRegionID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getBusinessBalanceTransactionDetails:
    get:
      summary: Get all the marketplace transactions of a selected business in a date range
      operationId: getAdminGetbusinessbalancetransactiondetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: User ID of the business
        name: businessID
        in: query
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: true
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getBusinessByName:
    get:
      summary: Get Business By Name
      operationId: getAdminGetbusinessbyname
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Name of the business
        name: businessName
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getBusinessInfo:
    get:
      summary: Get all business info by its ID
      operationId: getAdminGetbusinessinfo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: ID of the business
        name: userID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getBusinessesByIds:
    get:
      summary: Get Business By ID
      operationId: getAdminGetbusinessesbyids
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: ID of the business
        name: businessIDS
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getCSVDataForAdmin:
    get:
      summary: Get CSV report data
      operationId: getAdminGetcsvdataforadmin
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        required: false
        schema:
          type: string
      - name: CSVtype
        in: query
        required: true
        schema:
          type: string
          enum:
          - seviceRequest
          - completedRequest
          - paymentReceived
          - newPicker
          - newCustomer
          - activeInactiveCustomers
          - promosUsed
          - pickupDetails
          - paymentezTCTransactions
          - ignoredPickers
          - customerSatisfaction
          - newServiceRequestReport
          - newCompletedRequestReport
          - inactiveDrivers
          - bonusReport
          - blockedUsersReport
          - rechargesReport
          - fraudReport
          - corporateUsersReport
          - mrrReport
          - walletTransactionsReport
          - notCompletedReport
          - financeTSR
          - workspacesReport
          - businessDeliveryProvidersReport
      - name: amount
        in: query
        required: false
        schema:
          type: number
      - name: unit
        in: query
        required: false
        schema:
          type: string
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: limit data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getDashboardCount:
    get:
      summary: Get Dashboard Count
      operationId: getAdminGetdashboardcount
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - description: Filter users that belong to this Super Region
        name: superRegionID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getDriverBanners:
    get:
      summary: Returns the banners that match the query
      operationId: getAdminGetdriverbanners
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Status of the banners to query
        name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - ALL
          default: ACTIVE
      - description: Type of the banners to query
        name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - BUSINESS
          - CATEGORY
      - description: Amount of results to return
        name: limit
        in: query
        required: false
        schema:
          type: number
      - description: Amount of results to skip from the search
        name: skip
        in: query
        required: false
        schema:
          type: number
      - name: latitude
        in: query
        required: false
        schema:
          type: number
      - name: longitude
        in: query
        required: false
        schema:
          type: number
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getOngoingBooking:
    get:
      summary: Get Ongoing Booking
      operationId: getAdminGetongoingbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: skip data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getPastBooking:
    get:
      summary: Get Past Booking
      operationId: getAdminGetpastbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: skip data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      - name: startDate
        in: query
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        required: false
        schema:
          type: string
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: orderDate
        in: query
        required: false
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: dateTo
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: driver
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: business
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: user email or name
        name: searchBooking
        in: query
        required: false
        schema:
          type: string
      - description: Type of bookings to filter
        name: typeText
        in: query
        required: false
        schema:
          type: string
      - description: 0 pending,  1-accepted, 2- Arrived , 3-WAY_TO_DELIVER, 4- arrived at delivery, 7-cancelled, 8 - cancelled by driver, 11- rejected by customer, 12- not foudn 5-completed
        x-constraint:
          single: true
        name: currentStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 10
            - 11
            - 12
            - 13
            - 19
            - 20
            - 21
            - 22
            - 25
            - 23
            - 27
            - 28
            - 29
      - description: Numeric type of booking
        name: bookingType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            enum:
            - 0
            - 2
            - 3
            - 4
            - 5
      - description: Filter bookings that belong to this Super Region
        name: superRegionID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getPickerBalanceTransactionsDetails:
    get:
      summary: Get total of all balance transactions of the pickers
      operationId: getAdminGetpickerbalancetransactionsdetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: ID of the picekr to give the bonus/penalty
        name: pickerID
        in: query
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: true
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - ITEM
          - DELIVERY
          - ALL
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getPickerDetails:
    get:
      summary: Get Picker details. Average rating, bookings stats
      operationId: getAdminGetpickerdetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: pickerID
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getPickerOrderTransactionDetails:
    get:
      summary: Get all ITEM transactions from the selected driver
      operationId: getAdminGetpickerordertransactiondetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: false
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: false
        schema:
          type: string
      - description: ID of the driver to get his transactions
        name: pickerID
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getPickerPay:
    get:
      summary: Get Picker Pay
      operationId: getAdminGetpickerpay
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Start date of the search on ISO format
        name: startDate
        in: query
        required: true
        schema:
          type: string
      - description: End date of the search on ISO format
        name: endDate
        in: query
        required: true
        schema:
          type: string
      - description: ID of the driver whose transactions are to be shown
        name: pickerID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getServiceProviderInfo:
    get:
      summary: Get all information from service provider
      operationId: getAdminGetserviceproviderinfo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: serviceProviderID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getTransactionsByCode:
    get:
      summary: Returns the transaction and booking information of the matching transaction
      operationId: getAdminGettransactionsbycode
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Transaction's authentication code
        name: code
        in: query
        required: true
        schema:
          type: string
      - description: Amount of transactions to return
        name: limit
        in: query
        required: false
        schema:
          type: number
      - description: Amount of transactions to skip from the search
        name: skip
        in: query
        required: false
        schema:
          type: number
      - description: Search transactions from this date
        name: startDate
        in: query
        required: false
        schema:
          type: string
      - description: Search transactions until this date
        name: endDate
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getUserCardInfo:
    get:
      summary: Get user card info
      operationId: getAdminGetusercardinfo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: _id
        in: query
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getUserHistory:
    get:
      summary: Get history of user
      operationId: getAdminGetuserhistory
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: user id
        name: userID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/listDefaultSettings:
    get:
      summary: set admin default settings
      operationId: getAdminListdefaultsettings
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/searchAuthorizationCode:
    get:
      summary: Get Transaction by Authorization Code]
      operationId: getAdminSearchauthorizationcode
      parameters:
      - name: authCode
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/userDetails:
    get:
      summary: Get List Of All Customers by Role[serviceProvider, customer, driver]
      operationId: getAdminUserdetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: userID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /billing/driversBills:
    get:
      summary: Get bills created for drivers
      operationId: getBillingDriversbills
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        schema:
          type: string
      - name: driver
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: limit
        in: query
        required: false
        schema:
          type: number
          minimum: 0
      - name: skip
        in: query
        required: false
        schema:
          type: number
          minimum: 0
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /billing/getAllUsersName:
    get:
      summary: Get names of all users in DB
      operationId: getBillingGetallusersname
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Role of the users for the search
        name: role
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /billing/getBillDetails:
    get:
      summary: Get details related to the bill
      operationId: getBillingGetbilldetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: ID of the bill to check its details
        name: billID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /bookingIssues/getBookingIssues:
    get:
      summary: get all booking issues
      operationId: getBookingissuesGetbookingissues
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /business/getBookings:
    get:
      summary: Get Past Booking
      operationId: getBusinessGetbookings
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: skip data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      - name: startDate
        in: query
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        required: false
        schema:
          type: string
      - name: dateFrom
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: orderDate
        in: query
        required: false
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: dateTo
        in: query
        required: false
        schema:
          type: string
          format: date
      - name: businessArray
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - description: user email or name
        name: searchBooking
        in: query
        required: false
        schema:
          type: string
      - description: Type of bookings to filter
        name: typeText
        in: query
        required: false
        schema:
          type: string
      - description: 0 pending,  1-accepted, 2- Arrived , 3-WAY_TO_DELIVER, 4- arrived at delivery, 7-cancelled, 8 - cancelled by driver, 11- rejected by customer, 12- not foudn 5-completed
        x-constraint:
          single: true
        name: currentStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 10
            - 11
            - 12
            - 13
            - 19
            - 20
            - 21
            - 22
            - 25
            - 23
            - 27
            - 28
            - 29
      - description: Numeric type of booking
        name: bookingType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            enum:
            - 0
            - 2
            - 3
            - 4
            - 5
      - description: Filter bookings that belong to this Super Region
        name: superRegionID
        in: query
        required: false
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /client/getMessage:
    get:
      summary: Returns a message for a text banner
      operationId: getClientGetmessage
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: messageId
        in: query
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /serviceProvider/getAllDrivers:
    get:
      summary: Get List Of All Customers by Role[serviceProvider, customer, driver, business]
      operationId: getServiceproviderGetalldrivers
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: isBlocked
        in: query
        required: true
        schema:
          type: string
          enum:
          - all
          - true
          - false
      - name: isDeleted
        in: query
        required: true
        schema:
          type: string
          enum:
          - all
          - true
          - false
      - name: isAdminVerified
        in: query
        required: true
        schema:
          type: string
          enum:
          - all
          - true
          - false
      - description: list only users created by self if true else all
        name: createdBySelf
        in: query
        required: false
        schema:
          type: boolean
      - description: user email or name
        name: searchUser
        in: query
        required: false
        schema:
          type: string
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: limit data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /serviceProvider/getPastBooking:
    get:
      summary: Get Past Booking
      operationId: getServiceproviderGetpastbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: skip data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      - name: startDate
        in: query
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        required: false
        schema:
          type: string
      - name: orderDate
        in: query
        required: false
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: driver
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: business
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: user email or name
        name: searchBooking
        in: query
        required: false
        schema:
          type: string
      - description: Type of bookings to filter
        name: typeText
        in: query
        required: false
        schema:
          type: string
      - description: 0 pending,  1-accepted, 2- Arrived , 3-WAY_TO_DELIVER, 4- arrived at delivery, 7-cancelled, 8 - cancelled by driver, 11- rejected by customer, 12- not foudn 5-completed
        x-constraint:
          single: true
        name: currentStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 10
            - 11
            - 12
            - 13
            - 19
            - 20
            - 21
            - 22
            - 25
            - 23
            - 27
            - 28
            - 29
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /accounting/aproveRejectTransaction:
    put:
      summary: Approve or reject a list of transactions
      operationId: putAccountingAproverejecttransaction
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_1'
  /accounting/refundBalanceTransactions:
    put:
      summary: Registers transaction refund for the selected balance transactions
      operationId: putAccountingRefundbalancetransactions
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_2'
  /admin/addDriverToBusiness:
    put:
      summary: Add driver to business
      operationId: putAdminAdddrivertobusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_3'
  /admin/approveProduct:
    put:
      summary: Admin approves the edition of a product by the business
      operationId: putAdminApproveproduct
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_4'
  /admin/assignDriverToServiceProvider:
    put:
      summary: Block Users
      operationId: putAdminAssigndrivertoserviceprovider
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                serviceProviderID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: user id
                driverID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: user id
              required:
              - serviceProviderID
              - driverID
  /admin/blockOption:
    put:
      summary: Block Users
      operationId: putAdminBlockoption
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: user id
                isBlocked:
                  type: boolean
                reason:
                  type: string
                  description: Reason for block-unblock
                isFraud:
                  type: boolean
                  description: If true, add customer's last booking's real position to danger zone
                reasonOption:
                  type: string
                  description: Set a reason between the choises
              required:
              - userID
              - isBlocked
              - reason
              - reasonOption
  /admin/cancelBooking:
    put:
      summary: Cancel Booking
      operationId: putAdminCancelbooking
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_6'
  /admin/changeDriverPaymentType:
    put:
      summary: Change the way the drivers are going to get paid for a booking
      operationId: putAdminChangedriverpaymenttype
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                paymentType:
                  type: string
                  enum:
                  - PERCENTAGE
                  - ABSOLUTE
                  - OVER_MINIMUM
                  description: Payment type of the drivers
                paymentValue:
                  type: number
                  minimum: 0
                  description: Payment value of the drivers
              required:
              - paymentType
              - paymentValue
  /admin/changeTransactionStatus:
    put:
      summary: Change the status of the transactions selected
      operationId: putAdminChangetransactionstatus
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_9'
  /admin/deactivateAPI:
    put:
      summary: Deactivate API usage for the selected user
      operationId: putAdminDeactivateapi
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userID:
                  type: string
                  description: ID from the business to update. UserID
              required:
              - userID
  /admin/editBanner:
    put:
      summary: Creates a banner in the db
      operationId: putAdminEditbanner
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bannerID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the banner to edit
                type:
                  type: string
                  enum:
                  - BUSINESS
                  - CATEGORY
                  description: Type of banner to create
                status:
                  type: string
                  enum:
                  - ACTIVE
                  - INACTIVE
                  description: Type of banner to create
                description:
                  type: string
                name:
                  type: string
                  description: Name of the banner
                image:
                  type: object
                  description: Image to show in the banner
  /admin/penaltyToWorkBalance:
    put:
      summary: Add penalty to Work Balance
      operationId: putAdminPenaltytoworkbalance
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_10'
  /admin/rejectProduct:
    put:
      summary: Admin rejects the edition or the creation of a product by the business
      operationId: putAdminRejectproduct
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_4'
  /admin/removeDriverFromBusiness:
    put:
      summary: Remove driver from business
      operationId: putAdminRemovedriverfrombusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_3'
  /admin/setProviderData:
    put:
      summary: Set delivery provider data to selected booking
      operationId: putAdminSetproviderdata
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bookingID:
                  type: string
                  maxLength: 24
                  minLength: 24
                selectedProvider:
                  type: string
                  description: Name of the selected delivery provider
                deliveryFee:
                  type: number
                  minimum: 0
                  description: Delivery fee without markup
                driverName:
                  type: string
                driverTag:
                  type: string
                driverID:
                  type: string
                trackingLink:
                  type: string
                  default: ''
              required:
              - bookingID
              - selectedProvider
              - deliveryFee
              - driverName
  /admin/updateBusiness:
    put:
      summary: Business Update profile
      operationId: putAdminUpdatebusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_11'
  /admin/updateBusinessStatus:
    put:
      summary: Update the status of the business
      operationId: putAdminUpdatebusinessstatus
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userID:
                  type: string
                  description: ID from the business to update. UserID
                status:
                  type: string
                  enum:
                  - APPROVED
                  - REJECTED
                  - ACTIVE
              required:
              - userID
  /admin/updateCustomer:
    put:
      summary: Customer can Update his/her Profile
      operationId: putAdminUpdatecustomer
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _id:
                  type: string
                  description: Customer userID to be updated
                name:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-Z ]+$/
                lastName:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-Z ]+$/
                companyName:
                  type: string
                  minLength: 2
                  pattern: /^[a-zA-Z ]+$/
                companyAddress:
                  type: string
                  minLength: 2
                latitude:
                  type: number
                longitude:
                  type: number
                city:
                  type: string
                  description: user address city
                state:
                  type: string
                  description: user address state
                zipCode:
                  type: string
                  description: zipcode of user address
                image:
                  type: object
                email:
                  type: string
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                countryCode:
                  type: string
                tag:
                  type: string
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - ANDROID
                  - IOS
                fareSettings:
                  type: array
                  items:
                    type: object
                    properties:
                      carType:
                        type: number
                      carName:
                        type: string
                      cancellationPolicy:
                        type: string
                      minimumCancellationFee:
                        type: number
                      commissionCharge:
                        type: number
                      baseFare:
                        type: number
                        minimum: 0
                      perKmCharge:
                        type: number
                        minimum: 0
                      perMinuteCharge:
                        type: number
                        minimum: 0
                      freeTime:
                        type: number
                        minimum: 0
                      baseDistance:
                        type: number
                        minimum: 0
                      cancellationFreeTimeInSecond:
                        type: number
                        minimum: 0
                      averageTime:
                        type: number
                        minimum: 0
                      notShowTimeLimit:
                        type: number
                        description: Amount to charge to the customer for a NOT SHOW
                        minimum: 0
                      notShowCustomerCharge:
                        type: number
                        description: Amount to charge to the customer for a NOT SHOW
                        minimum: 0
                      notShowDriverCommission:
                        type: number
                        description: Amount to pay to the driver for a NOT SHOW
                        minimum: 0
                      kmRanges:
                        type: array
                        items:
                          type: object
                          properties:
                            min:
                              type: number
                              minimum: 0
                              maximum: 1000
                            max:
                              type: number
                              minimum: 0
                              maximum: 1000
                            amount:
                              type: number
                              minimum: 0
                          required:
                          - min
                          - max
                          - amount
                        collectionFormat: multi
                        name: kmRanges
                    required:
                    - carType
                    optional:
                    - carName
                    - cancellationPolicy
                    - minimumCancellationFee
                    - commissionCharge
                    - baseFare
                    - perKmCharge
                    - perMinuteCharge
                    - freeTime
                    - baseDistance
                    - cancellationFreeTimeInSecond
                    - averageTime
                    - notShowTimeLimit
                    - notShowCustomerCharge
                    - notShowDriverCommission
              required:
              - _id
  /admin/updateDriver:
    put:
      summary: Driver Update profile
      operationId: putAdminUpdatedriver
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _id:
                  type: string
                  description: Customer userID to be updated
                name:
                  type: string
                  minLength: 2
                  pattern: /^[a-zA-Z ]+$/
                lastName:
                  type: string
                companyName:
                  type: string
                  minLength: 2
                  pattern: /^[a-zA-Z ]+$/
                companyAddress:
                  type: string
                  minLength: 2
                city:
                  type: string
                  description: user address city
                state:
                  type: string
                  description: user address state
                zipCode:
                  type: string
                  description: zipcode of user address
                latitude:
                  type: number
                longitude:
                  type: number
                image:
                  type: object
                email:
                  type: string
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                countryCode:
                  type: string
                tag:
                  type: string
                paymentType:
                  type: string
                  enum:
                  - PERCENTAGE
                  - ABSOLUTE
                  - OVER_MINIMUM
                  - PERCENTAGE_MINIMUM
                paymentValue:
                  type: number
              required:
              - _id
  /admin/updatePicker:
    put:
      summary: Update driver information
      operationId: putAdminUpdatepicker
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _id:
                  type: string
                  description: ID of the driver to be updated
                name:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-Z ]+$/
                lastName:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-Z ]+$/
                latitude:
                  type: number
                longitude:
                  type: number
                onDutyFlag:
                  type: boolean
                  description: Flag about is the driver ready for work
                image:
                  type: object
                email:
                  type: string
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                countryCode:
                  type: string
                vehicleColor:
                  type: string
                vehicleType:
                  type: string
                  enum:
                  - BIKE
                  - LITE
                  description: 'Vehicle type: 1->BIKE, 0->LITE'
                vehicleModelName:
                  type: string
                MCNumber:
                  type: string
                vehicleYear:
                  type: number
                tag:
                  type: string
                type:
                  type: string
                  enum:
                  - STARTER
                  - SENIOR
                  - MCGYVER
                  - PREMIUM
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - ANDROID
                  - IOS
                paymentType:
                  type: string
                  enum:
                  - PERCENTAGE
                  - ABSOLUTE
                  - OVER_MINIMUM
                  - PERCENTAGE_MINIMUM
                paymentValue:
                  type: number
                bankName:
                  type: string
                  description: Name of the bank of the picker. For Accounting
                accountNumber:
                  type: string
                accountOwnerName:
                  type: string
                  description: Name of the person who owns the account
                identityNumber:
                  type: string
                  description: Driver's identity number
                accountingType:
                  type: string
                  enum:
                  - OLD
                  - NEW
                superRegionID:
                  type: string
                isSmallFleetsDriver:
                  type: boolean
                  description: Select if the driver is part of a small fleet
              required:
              - _id
  /admin/updateServiceProvider:
    put:
      summary: Service Provider Update profile
      operationId: putAdminUpdateserviceprovider
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _id:
                  type: string
                  description: Customer userID to be updated
                registrationType:
                  type: string
                  description: Individual or Company
                companyName:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-Z0-9 ]+$/
                name:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-Z ]+$/
                lastName:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-Z ]+$/
                companyAddress:
                  type: string
                  minLength: 2
                city:
                  type: string
                  description: user address city
                state:
                  type: string
                  description: user address state
                zipCode:
                  type: string
                  description: zipcode of user address
                image:
                  type: string
                  description: image url
              required:
              - _id
  /admin/verifyUser:
    put:
      summary: Verify Users
      operationId: putAdminVerifyuser
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Admin
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _id:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: user id
                workBalance:
[...]
