swagger: '2.0'
info:
  title: Picker Production Documentation accounting ticket API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
host: api.pickerexpress.com
basePath: /
schemes:
- http
tags:
- name: ticket
paths:
  /api/cancelBookingChatbot:
    post:
      summary: Cancel a booking from chatbot
      operationId: postApiCancelbookingchatbot
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Model 57'
      tags:
      - ticket
      responses:
        default:
          schema:
            type: string
          description: Successful
  /api/createTicketChatbot:
    post:
      summary: Create a ticket from chatbot
      operationId: postApiCreateticketchatbot
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Model 58'
      tags:
      - ticket
      responses:
        default:
          schema:
            type: string
          description: Successful
definitions:
  Model 58:
    type: object
    properties:
      bookingID:
        type: string
      email:
        type: string
      phone:
        type: string
      proof:
        type: string
      title:
        type: string
  Model 57:
    type: object
    properties:
      bookingID:
        type: string
      phone:
        type: string
