openapi: 3.2.0
info:
  title: Picker Production Documentation Booking Assignment API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: bookingAssignment
paths:
  /bookingAssignment/listBookingFloatSetting:
    get:
      summary: Round settings for booking floating
      operationId: getBookingassignmentListbookingfloatsetting
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: typeOfAlgo
        in: query
        required: false
        schema:
          type: string
          enum:
          - Manual
          - Broadcast
          - Round Robin
      - name: forWhom
        in: query
        required: false
        schema:
          type: string
          enum:
          - serviceProvider
          - driver
      - description: for booking float methods of specific serviceProvider
        name: serviceProviderID
        in: query
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: Limit number of records
        name: limit
        in: query
        schema:
          type: number
      - description: Skip number of records
        name: skip
        in: query
        schema:
          type: number
      tags:
      - bookingAssignment
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /bookingAssignment/updateBookingFloatSetting:
    put:
      summary: Update Round settings for booking floating
      operationId: putBookingassignmentUpdatebookingfloatsetting
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - bookingAssignment
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                typeOfAlgo:
                  type: string
                  enum:
                  - Manual
                  - Broadcast
                  - Round Robin
                forWhom:
                  type: string
                  enum:
                  - serviceProvider
                  - driver
                serviceProviderID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: Booking float setting for particular serviceProvider once he accepts bookings and forward booking to drivers
                distanceRange:
                  type: number
                  description: should be in meters, will be visible
                requestExpiresIn:
                  type: number
                  description: waiting time for request expires
                reAttempt:
                  type: number
                  description: Total re attempts if not accepted within time expires
                increaseDistanceBy:
                  type: number
                  description: If reattempts are more than 0, for Broadcast, then it is required
                percentageHikeInBookingPrice:
                  type: number
                  description: Price hike of booking if failed at first round not for 0th round
                adminCutFromBooking:
                  type: number
                  description: Admin percentage cut on booking before floating to service providers
              required:
              - typeOfAlgo
              - forWhom
              - distanceRange
              - requestExpiresIn
              - reAttempt
  /bookingAssignment/bookingFloatSetting:
    post:
      summary: Round settings for booking floating
      operationId: postBookingassignmentBookingfloatsetting
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - bookingAssignment
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                typeOfAlgo:
                  type: string
                  enum:
                  - Manual
                  - Broadcast
                  - Round Robin
                forWhom:
                  type: string
                  enum:
                  - serviceProvider
                  - driver
                serviceProviderID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: Booking float setting for particular serviceProvider once he accepts bookings and forward booking to drivers
                distanceRange:
                  type: number
                  description: should be in meters, will be visible
                requestExpiresIn:
                  type: number
                  description: waiting time for request expires
                reAttempt:
                  type: number
                  description: Total re attempts if not accepted within time expires
                increaseDistanceBy:
                  type: number
                  description: If reattempts are more than 0, for Broadcast, then it is required
                percentageHikeInBookingPrice:
                  type: number
                  description: Price hike of booking if failed at first round not for 0th round
                adminCutFromBooking:
                  type: number
                  description: Admin percentage cut on booking before floating to service providers
              required:
              - typeOfAlgo
              - forWhom
              - distanceRange
              - requestExpiresIn
              - reAttempt
