openapi: 3.2.0
info:
  title: Picker Production Documentation Support API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Support
paths:
  /getContactUsDetails:
    get:
      summary: Get List Of All Contacts support]
      operationId: getGetcontactusdetails
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      tags:
      - Support
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getQueryByCustomer:
    get:
      summary: Get List Of All Contacts support]
      operationId: getAdminGetquerybycustomer
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      tags:
      - Support
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /customer/bookingPaymentHistory:
    get:
      summary: Get List Of All customer payments]
      operationId: getCustomerBookingpaymenthistory
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: userID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      tags:
      - Support
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /customer/bookingPaymentPending:
    get:
      summary: Get List Of All customer payments]
      operationId: getCustomerBookingpaymentpending
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: userID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      tags:
      - Support
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /customer/totalPayments:
    get:
      summary: Get List Of All customer payments]
      operationId: getCustomerTotalpayments
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      tags:
      - Support
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /vehicles/pricing:
    get:
      summary: Get List Of All fares support
      operationId: getVehiclesPricing
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - description: Type of vehicle for the booking
        name: carType
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
      - description: region id for the booking
        name: regionID
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: super region id for the booking
        name: superRegionID
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Support
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /vehicles/userPricing:
    get:
      summary: Get List Of All fares support]
      operationId: getVehiclesUserpricing
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: carType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: number
      - name: promoId
        in: query
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - description: region ID is optional
        name: regionID
        in: query
        required: false
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - name: billedDistance
        in: query
        required: false
        schema:
          type: number
      tags:
      - Support
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/support/updateContact:
    put:
      summary: update Contacts support]
      operationId: putAdminSupportUpdatecontact
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Support
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_43'
components:
  schemas:
    phone:
      type: object
      properties:
        countryCode:
          type: string
        phoneNumber:
          type: string
        isAvailable:
          type: boolean
    Model_43:
      type: object
      properties:
        _id:
          type: string
          minLength: 24
          maxLength: 24
          x-convert:
            trim: true
        phone:
          $ref: '#/components/schemas/phone'
        contactMail:
          $ref: '#/components/schemas/contactMail'
        webAddress:
          $ref: '#/components/schemas/webAddress'
        reachUs:
          $ref: '#/components/schemas/webAddress'
        isAvailable:
          type: boolean
      required:
      - _id
    webAddress:
      type: object
      properties:
        address:
          type: string
        isAvailable:
          type: boolean
    contactMail:
      type: object
      properties:
        email:
          type: string
        isAvailable:
          type: boolean
