swagger: '2.0'
info:
  title: Picker Production Documentation accounting businesses API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
host: api.pickerexpress.com
basePath: /
schemes:
- http
tags:
- name: businesses
paths:
  /customer/getFavorites:
    get:
      summary: Get list favorite products and businesses from user.
      operationId: getCustomerGetfavorites
      parameters:
      - type: number
        name: limit
        in: query
        required: false
      - type: number
        name: skip
        in: query
        required: false
      - type: number
        name: latitude
        in: query
        required: false
      - type: number
        name: longitude
        in: query
        required: false
      tags:
      - businesses
      responses:
        default:
          schema:
            type: string
          description: Successful
  /customer/search:
    get:
      summary: Search businesses and products by searchText.
      operationId: getCustomerSearch
      parameters:
      - type: number
        name: limit
        in: query
        required: false
      - type: number
        name: skip
        in: query
        required: false
      - type: string
        minLength: 3
        name: searchText
        in: query
        required: true
      - type: number
        name: latitude
        in: query
        required: false
      - type: number
        name: longitude
        in: query
        required: false
      tags:
      - businesses
      responses:
        default:
          schema:
            type: string
          description: Successful
