openapi: 3.2.0
info:
  title: Picker Production Documentation Fares API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: fares
paths:
  /admin/fares/pricing:
    put:
      summary: Update selected fare
      operationId: putAdminFaresPricing
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - fares
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                carType:
                  type: array
                  items:
                    type: number
                carName:
                  type: string
                cancellationPolicy:
                  type: string
                minimumCancellationFee:
                  type: number
                commissionCharge:
                  type: number
                baseFarebelow3:
                  type: number
                baseFare:
                  type: number
                perKmCharge:
                  type: number
                perMinuteCharge:
                  type: number
                regionID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: region ID is required
                superRegionID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: super region ID is required
                freeTime:
                  type: number
                  minimum: 0
                baseDistance:
                  type: number
                  minimum: 0
                kmRanges:
                  type: array
                  items:
                    type: object
                    properties:
                      min:
                        type: number
                        minimum: 0
                        maximum: 1000
                      max:
                        type: number
                        minimum: 0
                        maximum: 1000
                      amount:
                        type: number
                        minimum: 0
                    required:
                    - min
                    - max
                    - amount
                notShowTimeLimit:
                  type: number
                  minimum: 0
                  description: Amount to charge to the customer for a NOT SHOW
                notShowCustomerCharge:
                  type: number
                  minimum: 0
                  description: Amount to charge to the customer for a NOT SHOW
                notShowDriverCommission:
                  type: number
                  minimum: 0
                  description: Amount to pay to the driver for a NOT SHOW
                rainCharge:
                  type: number
                  maximum: 1000
                  minimum: 0
                  description: Amount to charge when region indicates it is raining
                rushHourIncreaseType:
                  type: string
                  enum:
                  - PERCENTAGE
                  - FIXED
                rushHourIncreaseCoefficient:
                  type: number
                  minimum: 0
              required:
              - carType
