openapi: 3.2.0
info:
  title: Picker Production Documentation Anti Fraud API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: anti Fraud
paths:
  /admin/getTransactionFraudInformation:
    get:
      summary: Returns all the booking and customer's information of a transaction
      operationId: getAdminGettransactionfraudinformation
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: ID from the paymenteztransactions collection
        name: transactionID
        in: query
        required: true
        schema:
          type: string
      tags:
      - anti Fraud
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/setBookingFraud:
    put:
      summary: Saves fraud information for a booking
      operationId: putAdminSetbookingfraud
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - anti Fraud
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bookingID:
                  type: string
                  description: ID of the booking to set its fraud information
                isFraud:
                  type: boolean
                  description: If the booking is marked as fraud or not
                reason:
                  type: string
                transactions:
                  type: array
                  items:
                    type: string
              required:
              - bookingID
              - isFraud
