openapi: 3.2.0
info:
  title: Picker Production Documentation Favorite API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Favorite
paths:
  /customer/getFavorites:
    get:
      summary: Get list favorite products and businesses from user
      operationId: getCustomerGetfavorites
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: latitude
        in: query
        required: false
        schema:
          type: number
      - name: longitude
        in: query
        required: false
        schema:
          type: number
      tags:
      - Favorite
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /customer/search:
    get:
      summary: Search businesses and products by searchText
      operationId: getCustomerSearch
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: searchText
        in: query
        required: true
        schema:
          type: string
          minLength: 3
      - name: latitude
        in: query
        required: false
        schema:
          type: number
      - name: longitude
        in: query
        required: false
        schema:
          type: number
      tags:
      - Favorite
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
