openapi: 3.2.0
info:
  title: Picker Production Documentation Stripe Pay API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: stripePay
paths:
  /stripe/checkUniqueCard:
    get:
      summary: Check Unique Card For Customer
      operationId: getStripeCheckuniquecard
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: cardToken
        in: query
        required: true
        schema:
          type: string
      tags:
      - stripePay
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /stripe/fullyRefundAmount:
    put:
      summary: Refund Full Amount
      operationId: putStripeFullyrefundamount
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - stripePay
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chargeId:
                  type: string
              required:
              - chargeId
  /stripe/makeChargeForHoldPayment:
    put:
      summary: Make charge for hold payment
      operationId: putStripeMakechargeforholdpayment
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - stripePay
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chargeId:
                  type: string
                amount:
                  type: string
              required:
              - chargeId
              - amount
  /stripe/makeHoldPayment:
    put:
      summary: Make Hold Payment
      operationId: putStripeMakeholdpayment
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - stripePay
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                description:
                  type: string
                amountToCharge:
                  type: string
                stripeCustomerId:
                  type: string
                cardId:
                  type: string
              required:
              - description
              - amountToCharge
              - stripeCustomerId
              - cardId
  /stripe/partialRefundAmount:
    put:
      summary: Refund Partial Amount
      operationId: putStripePartialrefundamount
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - stripePay
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                chargeId:
                  type: string
                amount:
                  type: string
              required:
              - chargeId
              - amount
  /stripe/updateDefaultCard:
    put:
      summary: Update Default Card For Customer
      operationId: putStripeUpdatedefaultcard
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - stripePay
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                stripeCustomerId:
                  type: string
                cardId:
                  type: string
              required:
              - stripeCustomerId
              - cardId
  /stripe/chargeCreditCard:
    post:
      summary: Charge Amount From Card
      operationId: postStripeChargecreditcard
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - stripePay
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_74'
  /stripe/createStripeCustomer:
    post:
      summary: Create Customer For Stripe
      operationId: postStripeCreatestripecustomer
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - stripePay
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                cardTokenToCharge:
                  type: string
                email:
                  type: string
              required:
              - cardTokenToCharge
              - email
  /stripe/makePayment:
    post:
      summary: Make Payment From Stripe
      operationId: postStripeMakepayment
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - stripePay
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                stripeCustomerId:
                  type: string
                amountToCharge:
                  type: string
                cardId:
                  type: string
                currency:
                  type: string
              required:
              - stripeCustomerId
              - amountToCharge
              - cardId
  /stripe/deleteCard:
    delete:
      summary: Delete Card For Customer
      operationId: deleteStripeDeletecard
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - stripePay
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                stripeCustomerId:
                  type: string
                cardId:
                  type: string
              required:
              - stripeCustomerId
              - cardId
components:
  schemas:
    Model_74:
      type: object
      properties:
        stripeCustomerId:
          type: string
        amount:
          type: string
        currency:
          type: string
        userId:
          type: string
      required:
      - stripeCustomerId
      - amount
