swagger: '2.0'
info:
  title: Picker Production Documentation accounting support API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
host: api.pickerexpress.com
basePath: /
schemes:
- http
tags:
- name: support
paths:
  /getContactUsDetails:
    get:
      summary: Get List Of All Contacts support]
      operationId: getGetcontactusdetails
      parameters:
      - type: number
        name: limit
        in: query
        required: false
      - type: number
        name: skip
        in: query
        required: false
      tags:
      - support
      responses:
        default:
          schema:
            type: string
          description: Successful
  /admin/getQueryByCustomer:
    get:
      summary: Get List Of All Contacts support]
      operationId: getAdminGetquerybycustomer
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - type: number
        name: limit
        in: query
        required: false
      - type: number
        name: skip
        in: query
        required: false
      tags:
      - support
      responses:
        default:
          schema:
            type: string
          description: Successful
  /customer/bookingPaymentHistory:
    get:
      summary: Get List Of All customer payments]
      operationId: getCustomerBookingpaymenthistory
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - type: string
        minLength: 24
        maxLength: 24
        name: userID
        in: query
        required: true
      - type: number
        name: limit
        in: query
        required: false
      - type: number
        name: skip
        in: query
        required: false
      tags:
      - support
      responses:
        default:
          schema:
            type: string
          description: Successful
  /customer/bookingPaymentPending:
    get:
      summary: Get List Of All customer payments]
      operationId: getCustomerBookingpaymentpending
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - type: string
        minLength: 24
        maxLength: 24
        name: userID
        in: query
        required: true
      - type: number
        name: limit
        in: query
        required: false
      - type: number
        name: skip
        in: query
        required: false
      tags:
      - support
      responses:
        default:
          schema:
            type: string
          description: Successful
  /customer/totalPayments:
    get:
      summary: Get List Of All customer payments]
      operationId: getCustomerTotalpayments
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - type: number
        name: limit
        in: query
        required: false
      - type: number
        name: skip
        in: query
        required: false
      tags:
      - support
      responses:
        default:
          schema:
            type: string
          description: Successful
  /vehicles/pricing:
    get:
      summary: Get List Of All fares support
      operationId: getVehiclesPricing
      parameters:
      - type: number
        name: limit
        in: query
        required: false
      - type: number
        name: skip
        in: query
        required: false
      - type: array
        description: Type of vehicle for the booking
        items:
          type: number
        collectionFormat: multi
        name: carType
        in: query
      - type: string
        description: region id for the booking
        minLength: 24
        maxLength: 24
        name: regionID
        in: query
        required: false
      - type: string
        description: super region id for the booking
        minLength: 24
        maxLength: 24
        name: superRegionID
        in: query
        required: false
      tags:
      - support
      responses:
        default:
          schema:
            type: string
          description: Successful
  /vehicles/userPricing:
    get:
      summary: Get List Of All fares support]
      operationId: getVehiclesUserpricing
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - type: number
        name: limit
        in: query
        required: false
      - type: number
        name: skip
        in: query
        required: false
      - type: array
        items:
          type: number
        collectionFormat: multi
        name: carType
        in: query
        required: false
      - type: string
        minLength: 24
        maxLength: 24
        name: promoId
        in: query
      - type: string
        description: region ID is optional
        minLength: 24
        maxLength: 24
        name: regionID
        in: query
        required: false
      - type: number
        name: billedDistance
        in: query
        required: false
      tags:
      - support
      responses:
        default:
          schema:
            type: string
          description: Successful
  /admin/support/updateContact:
    put:
      summary: update Contacts support]
      operationId: putAdminSupportUpdatecontact
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Model 43'
      tags:
      - support
      responses:
        default:
          schema:
            type: string
          description: Successful
definitions:
  webAddress:
    type: object
    properties:
      address:
        type: string
      isAvailable:
        type: boolean
  contactMail:
    type: object
    properties:
      email:
        type: string
      isAvailable:
        type: boolean
  Model 43:
    type: object
    properties:
      _id:
        type: string
        minLength: 24
        maxLength: 24
        x-convert:
          trim: true
      phone:
        $ref: '#/definitions/phone'
      contactMail:
        $ref: '#/definitions/contactMail'
      webAddress:
        $ref: '#/definitions/webAddress'
      reachUs:
        $ref: '#/definitions/webAddress'
      isAvailable:
        type: boolean
    required:
    - _id
  phone:
    type: object
    properties:
      countryCode:
        type: string
      phoneNumber:
        type: string
      isAvailable:
        type: boolean
