openapi: 3.2.0
info:
  title: Picker Production Documentation Delivery Partner API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: deliveryPartner
paths:
  /deliveryPartnerMarketingData/registerMarketingData:
    post:
      summary: Create delivery partner marketing data
      operationId: postDeliverypartnermarketingdataRegistermarketingdata
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - deliveryPartner
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                deliveriesNumber:
                  type: string
                  minLength: 3
                makeSendAndCollect:
                  type: string
                  minLength: 2
                coverageDistance:
                  type: string
                baseFare:
                  type: number
                coverageCities:
                  type: array
                  items:
                    type: string
                country:
                  type: string
              required:
              - deliveriesNumber
              - makeSendAndCollect
              - coverageDistance
              - baseFare
