openapi: 3.2.0
info:
  title: Picker Production Documentation Social API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Social
paths:
  /social/login:
    post:
      summary: Login via facebook1/google or other social media account
      operationId: postSocialLogin
      parameters:
      - description: en/ar/es
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Social
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  pattern: /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/
                lastName:
                  type: string
                  pattern: /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/
                email:
                  type: string
                role:
                  type: string
                  enum:
                  - customer
                  - business
                  description: role of user
                latitude:
                  type: number
                  maximum: 90
                  minimum: -90
                longitude:
                  type: number
                  maximum: 180
                  minimum: -180
                appVersion:
                  type: string
                deviceToken:
                  type: string
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - IOS
                  - ANDROID
                  description: type of the device current using
                socialType:
                  type: string
                  enum:
                  - Facebook
                  - Apple
                  - Google
                  - GoogleApp
                  description: social media type
                socialID:
                  type: string
                accessToken:
                  type: string
                  description: access token to verify the user
                image:
                  type: object
                  description: image url
                deviceID:
                  type: string
                  description: Unique ID of the device
              required:
              - name
              - lastName
              - email
              - role
              - deviceType
              - socialType
              - socialID
              - accessToken
  /social/verify:
    post:
      summary: Add the user's social login credentials
      operationId: postSocialVerify
      parameters:
      - description: en/ar/es
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Social
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                lastName:
                  type: string
                  minLength: 2
                email:
                  type: string
                socialType:
                  type: string
                  enum:
                  - Facebook
                  description: social media type
                socialID:
                  type: string
              required:
              - name
              - lastName
              - email
              - socialType
              - socialID
