openapi: 3.2.0
info:
  title: Picker Production Documentation Customer API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Customer
paths:
  /booking/getAmountlogs:
    get:
      summary: get order amount logs
      operationId: getBookingGetamountlogs
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: bookingID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /customer/availableServiceProvider:
    get:
      summary: Round settings for booking floating
      operationId: getCustomerAvailableserviceprovider
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: serviceID
        in: query
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 24
      - x-constraint:
          precision: 6
        name: pickupLongitude
        in: query
        required: true
        schema:
          type: number
          maximum: 180
          minimum: -180
      - x-constraint:
          precision: 6
        name: pickupLatitude
        in: query
        required: true
        schema:
          type: number
          maximum: 90
          minimum: -90
      - description: distance range to float booking
        name: radius
        in: query
        schema:
          type: number
      - description: Limit number of records
        name: limit
        in: query
        schema:
          type: number
      - description: Skip number of records
        name: skip
        in: query
        schema:
          type: number
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /customer/bookingAddresses:
    get:
      summary: Sends Reset Password Token To User
      operationId: getCustomerBookingaddresses
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: addressType
        in: query
        required: true
        schema:
          type: string
          enum:
          - DELIVERY
          - PICKUP
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: limit data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /customer/getFavorites:
    get:
      summary: Get list favorite products and businesses from user
      operationId: getCustomerGetfavorites
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: latitude
        in: query
        required: false
        schema:
          type: number
      - name: longitude
        in: query
        required: false
        schema:
          type: number
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /customer/listServiceLocation:
    get:
      summary: Get list Of all service location
      operationId: getCustomerListservicelocation
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - description: 'DELIVERY PICKUP '
        name: addressType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - DELIVERY
            - PICKUP
      - description: ' HOME OFFICE'
        name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - HOME
          - OFFICE
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /customer/search:
    get:
      summary: Search businesses and products by searchText
      operationId: getCustomerSearch
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: number
      - name: skip
        in: query
        required: false
        schema:
          type: number
      - name: searchText
        in: query
        required: true
        schema:
          type: string
          minLength: 3
      - name: latitude
        in: query
        required: false
        schema:
          type: number
      - name: longitude
        in: query
        required: false
        schema:
          type: number
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /userMarketingData/getAllUserMarketingData:
    get:
      summary: Returns the list of all User Marketing Questions available
      operationId: getUsermarketingdataGetallusermarketingdata
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/addFavoritePicker:
    put:
      summary: Add favorite pickers of a customer
      operationId: putAdminAddfavoritepicker
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                customerID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the customer
                pickerIDs:
                  type: array
                  items:
                    type: string
                  enum:
                  - isJoi: true
                    _type: string
                    _settings: null
                    _valids:
                      _set: []
                    _invalids:
                      _set:
                      - ''
                    _tests:
                    - name: min
                      arg: 24
                    - name: max
                      arg: 24
                    _refs: []
                    _flags:
                      presence: required
                    _description: null
                    _unit: null
                    _notes: []
                    _tags: []
                    _examples: []
                    _meta: []
                    _inner: {}
                  description: Array of IDs of the drivers selected as favorite
              required:
              - customerID
              - pickerIDs
  /customer/addReferralCode:
    put:
      summary: Add usage of referral code by customer
      operationId: putCustomerAddreferralcode
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                referralCode:
                  type: string
              required:
              - referralCode
  /customer/driverSearch:
    put:
      summary: Search Driver Near Address
      operationId: putCustomerDriversearch
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_34'
  /customer/orderReceived:
    put:
      summary: orderReceived key update
      operationId: putCustomerOrderreceived
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_35'
  /customer/updateProfile:
    put:
      summary: Customer can Update his/her Profile
      operationId: putCustomerUpdateprofile
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-Z ]+$/
                lastName:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-Z ]+$/
                companyName:
                  type: string
                  minLength: 2
                  pattern: /^[a-zA-Z ]+$/
                companyAddress:
                  type: string
                  minLength: 2
                latitude:
                  type: number
                longitude:
                  type: number
                dateOfBirth:
                  type: string
                identityNumber:
                  type: string
                image:
                  type: object
                city:
                  type: string
                  description: user address city
                state:
                  type: string
                  description: user address state
                zipCode:
                  type: string
                  description: zipcode of user address
                email:
                  type: string
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                countryCode:
                  type: string
                  default: '+593'
  /user/confirmInformation:
    put:
      summary: Customer can Update his/her Profile
      operationId: putUserConfirminformation
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+$/
                lastName:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+$/
                companyName:
                  type: string
                  minLength: 2
                companyAddress:
                  type: string
                  minLength: 2
                latitude:
                  type: number
                longitude:
                  type: number
                dateOfBirth:
                  type: string
                identityNumber:
                  type: string
                image:
                  type: object
                city:
                  type: string
                  description: user address city
                state:
                  type: string
                  description: user address state
                zipCode:
                  type: string
                  description: zipcode of user address
                email:
                  type: string
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                countryCode:
                  type: string
                  default: '+593'
                role:
                  type: string
                password:
                  type: string
              required:
              - role
              - password
  /update/customer/service/location:
    put:
      summary: Customer can update his favourite service location
      operationId: putUpdateCustomerServiceLocation
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_46'
  /customer/addQueryToAdmin:
    post:
      summary: Add query to admin
      operationId: postCustomerAddquerytoadmin
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model_71'
  /customer/addRemoveFavorite:
    post:
      summary: Customer can add or remove his favourite business or product
      operationId: postCustomerAddremovefavorite
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                favoriteID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the product or business selected
                type:
                  type: string
                  enum:
                  - PRODUCT
                  - BUSINESS
                  description: If the selected favorite is product or business
                isFavorite:
                  type: boolean
              required:
              - favoriteID
              - type
              - isFavorite
  /customer/registerFromEmail:
    post:
      summary: Register a new customer via Email
      operationId: postCustomerRegisterfromemail
      parameters:
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/
                lastName:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/
                email:
                  type: string
                password:
                  type: string
                  minLength: 6
                  description: password must contains minimum 6 characters
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                countryCode:
                  type: string
                appVersion:
                  type: number
                dateOfBirth:
                  type: string
                identityNumber:
                  type: string
                deviceType:
                  type: string
                  enum:
                  - WEB
                  - ANDROID
                  - IOS
                deviceToken:
                  type: string
                image:
                  type: object
                  description: image url
                role:
                  type: string
                  enum:
                  - customer
                  - business
                  - deliveryPartner
                  default: customer
              required:
              - name
              - lastName
              - email
              - password
              - mobile
              - countryCode
              - appVersion
              - deviceType
              - role
  /userMarketingData/registerUserMarketingData:
    post:
      summary: create User Marketing Data
      operationId: postUsermarketingdataRegisterusermarketingdata
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                categoryCompany:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/
                monthlyDeliveries:
                  type: string
                  minLength: 3
                employeesCompany:
                  type: string
                  minLength: 3
              required:
              - categoryCompany
              - monthlyDeliveries
              - employeesCompany
  /customer/service/location:
    post:
      summary: Customer can add his favourite service location
      operationId: postCustomerServiceLocation
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                placeID:
                  type: string
                title:
                  type: string
                fullAddress:
                  type: string
                companyName:
                  type: string
                  minLength: 2
                  pattern: /^[a-zA-Z ]+$/
                companyAddress:
                  type: string
                  minLength: 2
                city:
                  type: string
                  minLength: 2
                state:
                  type: string
                  minLength: 2
                zipCode:
                  type: string
                  minLength: 2
                addressType:
                  type: string
                  enum:
                  - DELIVERY
                  - PICKUP
                  description: ' DELIVERY PICKUP '
                type:
                  type: string
                  enum:
                  - HOME
                  - OFFICE
                  - OTHERS
                  description: ' HOME OFFICE OTHERS'
                latitude:
                  type: number
                longitude:
                  type: number
              required:
              - addressType
  /customer/remove/service/location:
    delete:
      summary: delete service location of customer
      operationId: deleteCustomerRemoveServiceLocation
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - x-constraint:
          single: true
        name: locationId
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            minLength: 24
            maxLength: 24
      tags:
      - Customer
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    locationDetails:
      type: object
      description: It is an object having different keys
      properties:
        latitude:
          type: number
          minimum: -90
          maximum: 90
        longitude:
          type: number
          minimum: -180
          maximum: 180
        addressLine1:
          type: string
          x-convert:
            trim: true
        addressLine2:
          type: string
          x-convert:
            trim: true
        city:
          type: string
          x-convert:
            uppercase: true
            trim: true
        state:
          type: string
          x-convert:
            uppercase: true
            trim: true
        country:
          type: string
          x-convert:
            uppercase: true
            trim: true
        zipCode:
          type: string
          x-convert:
            trim: true
      required:
      - latitude
      - longitude
      - addressLine1
      - city
      - state
      - zipCode
    Model_46:
      type: object
      properties:
        locationId:
          type: string
          description: required if location id update
          minLength: 24
          maxLength: 24
        companyName:
          type: string
          minLength: 2
          pattern: /^[a-zA-Z ]+$/
          x-convert:
            trim: true
        companyAddress:
          type: string
          minLength: 2
          x-convert:
            trim: true
        city:
          type: string
          minLength: 2
          x-convert:
            trim: true
        state:
          type: string
          minLength: 2
          x-convert:
            trim: true
        zipCode:
          type: string
          minLength: 2
          x-convert:
            trim: true
        addressType:
          type: string
          description: '  DELIVERY PICKUP'
          enum:
          - DELIVERY
          - PICKUP
        type:
          type: string
          description: ' HOME OFFICE'
          enum:
          - HOME
          - OFFICE
        latitude:
          type: number
        longitude:
          type: number
      required:
      - addressType
      - latitude
      - longitude
    Model_71:
      type: object
      properties:
        bookingID:
          type: string
          minLength: 24
          maxLength: 24
        query:
          type: string
        role:
          type: string
          description: role of user
          enum:
          - customer
          - driver
      required:
      - role
    Model_35:
      type: object
      properties:
        bookingID:
          type: string
          minLength: 24
          maxLength: 24
        orderReceived:
          type: boolean
          default: false
      required:
      - bookingID
      - orderReceived
    Model_34:
      type: object
      properties:
        locationDetails:
          $ref: '#/components/schemas/locationDetails'
      required:
      - locationDetails
