openapi: 3.2.0
info:
  title: Picker Production Documentation Promo API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: promo
paths:
  /promo/getAllUserPromo:
    get:
      summary: delete referral scheme by admin
      operationId: getPromoGetalluserpromo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: role of user order is  customer/driver
        name: role
        in: query
        schema:
          type: string
          enum:
          - customer
          - driver
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: limit data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - promo
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /promo/listAllPromo:
    get:
      summary: delete referral scheme by admin
      operationId: getPromoListallpromo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: role of user order is  customer/driver
        name: role
        in: query
        schema:
          type: string
          enum:
          - customer
          - driver
      - name: status
        in: query
        schema:
          type: string
          enum:
          - PAST
          - ACTIVE
      - description: limit data in response
        name: limit
        in: query
        required: false
        schema:
          type: integer
      - description: limit data from response
        name: skip
        in: query
        required: false
        schema:
          type: integer
      tags:
      - promo
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /promo/promoDetails:
    get:
      summary: delete referral scheme by admin
      operationId: getPromoPromodetails
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: alias
        in: query
        required: true
        schema:
          type: string
      tags:
      - promo
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /promo/addPromo:
    post:
      summary: set referral scheme
      operationId: postPromoAddpromo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - promo
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                promoSchemeType:
                  type: string
                  enum:
                  - Promo for all users
                  - Role Specific Promo
                  - Region Specific Promo
                  - Role and Region Specific promo
                  - Not valid for commerce
                  - Workspace Promo
                  description: type of promo scheme to be used
                noOfPromoUsers:
                  type: number
                  description: total number of times promo can be used, infinite in case of empty
                alias:
                  type: string
                  description: Promo that should be displayed to user
                individualUserPromoAttempt:
                  type: number
                  description: total number of times promo can be used by single user, infinite in case of empty
                minimumBookingPrice:
                  type: number
                  default: 0
                  description: Minimum price of booking on which promo will be applied
                cashback:
                  type: number
                  description: cashback for user who used promo
                percentage:
                  type: number
                  description: '% off for user who used promo'
                expirePromoDate:
                  type: string
                  description: Expiry Date of the promo
                hoursToExpire:
                  type: string
                  description: Expiry hours of the promo
                role:
                  type: string
                  enum:
                  - customer
                  - driver
                  description: role of user order is  customer/driver
                regionID:
                  type: array
                  items:
                    type: string
                    description: region ID is optional
                    minLength: 24
                    maxLength: 24
                maximumDeliveryFee:
                  type: number
                  minimum: 0
                  description: Maximum price to which this promo is applicable
                availableAllRegions:
                  type: boolean
                  description: Indicates if the promo is available for all regions
                message:
                  type: object
                  description: Notification to send to customer segment
              required:
              - promoSchemeType
              - alias
              - minimumBookingPrice
              - regionID
              - availableAllRegions
  /promo/checkPromo:
    post:
      summary: check promo availability
      operationId: postPromoCheckpromo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - promo
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                alias:
                  type: string
              required:
              - alias
  /promo/deletePromo:
    delete:
      summary: delete referral scheme by admin
      operationId: deletePromoDeletepromo
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - promo
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                alias:
                  type: string
                  description: Referral pattern to delete
              required:
              - alias
