openapi: 3.2.0
info:
  title: Picker Production Documentation Booking Issues API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: BookingIssues
paths:
  /bookingIssues/getBookingIssues:
    get:
      summary: get all booking issues
      operationId: getBookingissuesGetbookingissues
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - BookingIssues
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /bookingIssues/registerBookingIssue:
    post:
      summary: add a new booking issue
      operationId: postBookingissuesRegisterbookingissue
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - BookingIssues
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/
                details:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/
                key:
                  type: string
                  minLength: 3
              required:
              - name
              - details
              - key
