openapi: 3.2.0
info:
  title: Picker Production Documentation Card API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Card
paths:
  /paymentez/card/default:
    put:
      summary: Delete card ustomer From paymentez
      operationId: putPaymentezCardDefault
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Card
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                cardToken:
                  type: string
              required:
              - cardToken
  /paymentez/delete/card:
    put:
      summary: Delete card ustomer From paymentez
      operationId: putPaymentezDeleteCard
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Card
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                cardToken:
                  type: string
              required:
              - cardToken
