openapi: 3.2.0
info:
  title: Picker Production Documentation Banner API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Banner
paths:
  /admin/getBanners:
    get:
      summary: Returns the banners that match the query
      operationId: getAdminGetbanners
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Status of the banners to query
        name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - ALL
          default: ACTIVE
      - description: Type of the banners to query
        name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - BUSINESS
          - CATEGORY
      - description: Amount of results to return
        name: limit
        in: query
        required: false
        schema:
          type: number
      - description: Amount of results to skip from the search
        name: skip
        in: query
        required: false
        schema:
          type: number
      - name: latitude
        in: query
        required: false
        schema:
          type: number
      - name: longitude
        in: query
        required: false
        schema:
          type: number
      tags:
      - Banner
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/getDriverBanners:
    get:
      summary: Returns the banners that match the query
      operationId: getAdminGetdriverbanners
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - description: Status of the banners to query
        name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          - ALL
          default: ACTIVE
      - description: Type of the banners to query
        name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - BUSINESS
          - CATEGORY
      - description: Amount of results to return
        name: limit
        in: query
        required: false
        schema:
          type: number
      - description: Amount of results to skip from the search
        name: skip
        in: query
        required: false
        schema:
          type: number
      - name: latitude
        in: query
        required: false
        schema:
          type: number
      - name: longitude
        in: query
        required: false
        schema:
          type: number
      tags:
      - Banner
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /client/getMessage:
    get:
      summary: Returns a message for a text banner
      operationId: getClientGetmessage
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: messageId
        in: query
        required: true
        schema:
          type: string
      tags:
      - Banner
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /admin/editBanner:
    put:
      summary: Creates a banner in the db
      operationId: putAdminEditbanner
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Banner
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                bannerID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the banner to edit
                type:
                  type: string
                  enum:
                  - BUSINESS
                  - CATEGORY
                  description: Type of banner to create
                status:
                  type: string
                  enum:
                  - ACTIVE
                  - INACTIVE
                  description: Type of banner to create
                description:
                  type: string
                name:
                  type: string
                  description: Name of the banner
                image:
                  type: object
                  description: Image to show in the banner
  /admin/createBanner:
    post:
      summary: Creates a banner in the db
      operationId: postAdminCreatebanner
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Banner
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - BUSINESS
                  - CATEGORY
                  description: Type of banner to create
                businessID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: UserID of the business this banner belongs to
                categoryID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the category this banner belongs to
                description:
                  type: string
                  maxLength: 35
                  description: Description of banner to create
                image:
                  type: object
                  description: Image to show in the banner
              required:
              - type
              - description
              - image
