swagger: '2.0'
info:
  title: Picker Production Documentation accounting bookings API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
host: api.pickerexpress.com
basePath: /
schemes:
- http
tags:
- name: bookings
paths:
  /bookings/getAllBookingsDashBoard:
    get:
      summary: Get General info about businesses
      operationId: getBookingsGetallbookingsdashboard
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - type: integer
        name: limit
        in: query
        required: false
      - type: integer
        name: page
        in: query
        required: false
      - type: string
        name: status
        in: query
        required: false
      - type: string
        name: from
        in: query
        required: false
      - type: string
        name: to
        in: query
        required: false
      - type: string
        name: orderBy
        in: query
        required: false
      - type: boolean
        name: onlyPast
        in: query
        required: false
      - type: boolean
        name: onlyActives
        in: query
        required: false
      tags:
      - bookings
      responses:
        default:
          schema:
            type: string
          description: Successful
  /bookings/getCoportatesAllBookings:
    get:
      summary: Get General info about businesses
      operationId: getBookingsGetcoportatesallbookings
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - type: integer
        name: limit
        in: query
        required: false
      - type: integer
        name: page
        in: query
        required: false
      - type: string
        name: status
        in: query
        required: false
      - type: string
        name: from
        in: query
        required: false
      - type: string
        name: to
        in: query
        required: false
      - type: string
        name: orderBy
        in: query
        required: false
      - type: boolean
        name: onlyPast
        in: query
        required: false
      - type: boolean
        name: onlyActives
        in: query
        required: false
      - type: string
        description: ID of the selected user to filter its bookings
        name: userID
        in: query
        required: false
      tags:
      - bookings
      responses:
        default:
          schema:
            type: string
          description: Successful
  /bookings/getCorporateBookingsByUserId:
    get:
      summary: Get coportates orders by businessId
      operationId: getBookingsGetcorporatebookingsbyuserid
      parameters:
      - type: string
        description: Bearer Token
        name: authorization
        in: header
        required: true
      - type: string
        description: en/ar
        name: content-language
        in: header
        required: true
      - type: integer
        name: limit
        in: query
        required: false
      - type: integer
        name: page
        in: query
        required: false
      - type: string
        name: userId
        in: query
        required: true
      tags:
      - bookings
      responses:
        default:
          schema:
            type: string
          description: Successful
