openapi: 3.2.0
info:
  title: Picker Production Documentation Usermarketing Data API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: UsermarketingData
paths:
  /userMarketingData/getAllUserMarketingData:
    get:
      summary: Returns the list of all User Marketing Questions available
      operationId: getUsermarketingdataGetallusermarketingdata
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - UsermarketingData
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
  /userMarketingData/registerUserMarketingData:
    post:
      summary: create User Marketing Data
      operationId: postUsermarketingdataRegisterusermarketingdata
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - UsermarketingData
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                categoryCompany:
                  type: string
                  minLength: 3
                  pattern: /^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+$/
                monthlyDeliveries:
                  type: string
                  minLength: 3
                employeesCompany:
                  type: string
                  minLength: 3
              required:
              - categoryCompany
              - monthlyDeliveries
              - employeesCompany
