openapi: 3.2.0
info:
  title: Picker Production Documentation Update API
  version: V1.0.0
  contact:
    name: RV
    email: rachit.verma@nextjuggernaut.com
servers:
- url: http://api.pickerexpress.com/
tags:
- name: Update
paths:
  /business/addCategoryToBusiness:
    put:
      summary: Adds a businessCategory to the business
      operationId: putBusinessAddcategorytobusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Update
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                businessCategoryID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the business category
              required:
              - businessCategoryID
  /business/updateBusiness:
    post:
      summary: Update business data
      operationId: postBusinessUpdatebusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Update
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                lastName:
                  type: string
                  minLength: 2
                email:
                  type: string
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                countryCode:
                  type: string
                imageLogo:
                  type: object
                  description: image url
                imageFront:
                  type: object
                  description: image url
                companyName:
                  type: string
                  minLength: 2
                productTypes:
                  type: array
                  items:
                    type: string
                    description: add sub category business
                schedule:
                  type: array
                  items:
                    type: object
                    properties:
                      day:
                        type: number
                        minimum: 0
                        maximum: 6
                      open:
                        type: string
                      close:
                        type: string
                      isOpen:
                        type: boolean
                    required:
                    - day
                    - isOpen
                    optional:
                    - open
                    - close
                fullAddress:
                  type: string
                  minLength: 2
                  description: Name of the address of the business' location
                latitude:
                  type: number
                longitude:
                  type: number
                businessCategories:
                  type: array
                  items:
                    type: string
                  maxItems: 3
                  description: Categories that the business is part of. Just the ID
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags to find the business
                role:
                  type: string
                  default: business
                paymentMethod:
                  type: string
                country:
                  type: string
                currency:
                  type: string
                options:
                  type: array
                  items:
                    type: string
                  description: Options for business
              required:
              - name
              - lastName
              - mobile
              - companyName
  /business/updateBusinessByUserId:
    post:
      summary: Update business data
      operationId: postBusinessUpdatebusinessbyuserid
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: businessUserId
        in: query
        required: true
        schema:
          type: string
      tags:
      - Update
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 2
                lastName:
                  type: string
                  minLength: 2
                email:
                  type: string
                mobile:
                  type: string
                  minLength: 5
                  pattern: /^[0-9]+$/
                countryCode:
                  type: string
                imageLogo:
                  type: object
                  description: image url
                frontImage:
                  type: object
                  description: image url
                companyName:
                  type: string
                  minLength: 2
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags to find the business
                schedule:
                  type: array
                  items:
                    type: object
                    properties:
                      day:
                        type: number
                        minimum: 0
                        maximum: 6
                      open:
                        type: string
                      close:
                        type: string
                      isOpen:
                        type: boolean
                    required:
                    - day
                    - isOpen
                    optional:
                    - open
                    - close
                fullAddress:
                  type: string
                  minLength: 2
                  description: Name of the address of the business' location
                addressReference:
                  type: string
                country:
                  type: string
                city:
                  type: string
                exterior:
                  type: string
                interior:
                  type: string
                zipCode:
                  type: string
                latitude:
                  type: number
                longitude:
                  type: number
                businessCategories:
                  type: array
                  items:
                    type: string
                  maxItems: 3
                  description: Categories that the business is part of. Just the ID
                paymentMethod:
                  type: string
                currency:
                  type: string
                options:
                  type: array
                  items:
                    type: string
                  description: Options for business
                billingData:
                  type: object
                  description: Billing data
                description:
                  type: string
                  minLength: 2
  /business/updatePaymentMethodByUserId:
    post:
      summary: Update business payment method
      operationId: postBusinessUpdatepaymentmethodbyuserid
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      - name: businessUserId
        in: query
        required: true
        schema:
          type: string
      tags:
      - Update
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                paymentMethod:
                  type: string
                  enum:
                  - BILLING_CARD
                  - BILLING_TRANSFER
              required:
              - paymentMethod
  /business/removeCategoryFromBusiness:
    delete:
      summary: Removes a category from the business businessCategories array
      operationId: deleteBusinessRemovecategoryfrombusiness
      parameters:
      - description: Bearer Token
        name: authorization
        in: header
        required: true
        schema:
          type: string
      - description: en/ar
        name: content-language
        in: header
        required: true
        schema:
          type: string
      tags:
      - Update
      responses:
        default:
          description: Successful
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                businessCategoryID:
                  type: string
                  maxLength: 24
                  minLength: 24
                  description: ID of the business category
              required:
              - businessCategoryID
