{"swagger":"2.0","host":"api.pickerexpress.com","basePath":"/","schemes":["http"],"info":{"title":"Picker Production Documentation","version":"V1.0.0","contact":{"name":"RV","email":"rachit.verma@nextjuggernaut.com"}},"tags":[],"paths":{"/cancel":{"get":{"summary":"Get All Cancel Request","operationId":"getCancel","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"bookingId","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["cancel"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/getContactUsDetails":{"get":{"summary":"Get List Of All Contacts support]","operationId":"getGetcontactusdetails","parameters":[{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false}],"tags":["support"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/health-check":{"get":{"summary":"Get health check","operationId":"getHealthcheck","consumes":["application/x-www-form-urlencoded"],"tags":["health-check"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/mass-delivery":{"get":{"summary":"Get all mass delivery registers","operationId":"getMassdelivery","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"skip","in":"query","required":false},{"type":"string","format":"date","name":"startDate","in":"query","required":false},{"type":"string","format":"date","name":"endDate","in":"query","required":false},{"type":"array","x-constraint":{"single":true},"items":{"type":"number","enum":[0,5]},"collectionFormat":"multi","name":"currentStatus","in":"query","required":false},{"type":"number","name":"massDeliveryID","in":"query","required":false}],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/share-my-ride":{"get":{"summary":"Get booking for share-my-ride","operationId":"getSharemyride","parameters":[{"type":"string","name":"token","in":"query","required":true}],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}},"post":{"summary":"Get token to share ride","operationId":"postSharemyride","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model 19"}}],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/{param*}":{"get":{"summary":"for front end static rendering","operationId":"getParam","tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/accounting/getAPICharges":{"get":{"summary":"Return the amount to charge all API users","operationId":"getAccountingGetapicharges","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"startDate","in":"query","required":true},{"type":"string","name":"endDate","in":"query","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/accounting/getAllBusinessesBalanceTransactionDetails":{"get":{"summary":"Get all the marketplace transactions in a date range","operationId":"getAccountingGetallbusinessesbalancetransactiondetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":true},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":true},{"type":"boolean","name":"download","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/accounting/getAllBusinessesTransactions":{"get":{"summary":"Get businesses transactions grouped by business","operationId":"getAccountingGetallbusinessestransactions","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":false},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":false},{"type":"integer","description":"Limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"Skip data from response","name":"skip","in":"query","required":false},{"type":"string","description":"Name of the business","name":"searchUser","in":"query","required":false},{"type":"boolean","name":"download","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/accounting/getAllBusinessesTransactionsSummary":{"get":{"summary":"Get summary of all business transactions","operationId":"getAccountingGetallbusinessestransactionssummary","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":false},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":false},{"type":"string","description":"Name of the business","name":"searchUser","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/accounting/getAllDriversBonusTransactions":{"get":{"summary":"Get the order amount of all pickers CC transactions in the date range requested.","operationId":"getAccountingGetalldriversbonustransactions","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","description":"Limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"Skip data from response","name":"skip","in":"query","required":false},{"type":"string","description":"Name of picker","name":"searchUser","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/accounting/getAllDriversDeliveryTransactions":{"get":{"operationId":"getAccountingGetalldriversdeliverytransactions","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":true},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":true},{"type":"boolean","name":"download","in":"query","required":false},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false},{"type":"string","description":"Name of picker","name":"searchUser","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/accounting/getAllDriversDeliveryTransactionsSummary":{"get":{"summary":"Get summary of all driver's delivery transactions","operationId":"getAccountingGetalldriversdeliverytransactionssummary","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":false},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":false},{"type":"string","description":"Name of the business","name":"searchUser","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/accounting/getCompanyTransactions":{"get":{"summary":"Get all company transactions in a date range","operationId":"getAccountingGetcompanytransactions","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":true},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":true},{"type":"boolean","name":"download","in":"query","required":false},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/accounting/getDriverDeliveryTransactionsDetails":{"get":{"summary":"Get all delivery transactions of the driver selected","operationId":"getAccountingGetdriverdeliverytransactionsdetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"ID of the driver to filter transactions","name":"pickerID","in":"query","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":true},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/accounting/getPickerBonusTransactionsDetails":{"get":{"summary":"Get the order amount of all pickers CC transactions in the date range requested.","operationId":"getAccountingGetpickerbonustransactionsdetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":false},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":false},{"type":"string","description":"ID of the driver to filter transactions","name":"pickerID","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/addBusinessAccessToUser":{"get":{"summary":"Get Business By ID","operationId":"getAdminAddbusinessaccesstouser","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"ID of the business","name":"businessID","in":"query","required":true},{"type":"string","description":"ID of the user","name":"userID","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/assignReasons":{"get":{"summary":"Returns the list of all Cancel Reasons","operationId":"getAdminAssignreasons","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/bookings":{"get":{"summary":"Get list of bookings","operationId":"getAdminBookings","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","default":12,"name":"limit","in":"query","required":false},{"type":"integer","default":0,"name":"skip","in":"query","required":false},{"type":"string","format":"date","name":"startDate","in":"query","required":false},{"type":"string","format":"date","name":"endDate","in":"query","required":false},{"type":"array","x-constraint":{"single":true},"items":{"type":"number","enum":[0,1,2,3,4,5,7,6,8,11,12,13,20,21,22,10,25,23,27,28,32,34,33,29,31]},"collectionFormat":"multi","name":"currentStatus","in":"query","required":false},{"type":"string","enum":["PICKUP_AND_DELIVER","BUY_AND_DELIVER","MARKETPLACE","SHOP_ORDER","CORPORATE","WHITE_LABEL"],"name":"typeText","in":"query","required":false},{"type":"string","name":"sortField","in":"query","required":false},{"type":"string","name":"sortOrder","in":"query","required":false},{"type":"string","name":"searchBooking","in":"query","required":false},{"type":"string","name":"customer","in":"query","required":false},{"type":"string","name":"driver","in":"query","required":false},{"type":"string","name":"business","in":"query","required":false},{"type":"string","name":"superRegionID","in":"query","required":false}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/cancelBookingReasons":{"get":{"summary":"Returns the list of all Cancel Reasons","operationId":"getAdminCancelbookingreasons","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/deleteBusinessAccessToUser":{"get":{"summary":"Get Business By ID","operationId":"getAdminDeletebusinessaccesstouser","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"ID of the business","name":"businessID","in":"query","required":true},{"type":"string","description":"ID of the user","name":"userID","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/driversWorkBalance":{"get":{"summary":"Get drivers work balance information","operationId":"getAdminDriversworkbalance","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","minimum":0,"name":"skip","in":"query","required":false},{"type":"number","minimum":0,"name":"limit","in":"query","required":false},{"type":"string","minLength":3,"name":"searchUser","in":"query","required":false},{"type":"string","name":"superRegionID","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getAllAvailabeBooking":{"get":{"summary":"Get All Availabe Booking","operationId":"getAdminGetallavailabebooking","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","description":"limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"skip data from response","name":"skip","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getAllBusinesses":{"get":{"summary":"Get users registered as business","operationId":"getAdminGetallbusinesses","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"status","in":"query","required":true},{"type":"string","description":"Business' name, email or company name","name":"searchUser","in":"query","required":false},{"type":"string","description":"Field to order the results","name":"orderBy","in":"query","required":false},{"type":"string","description":"Order criteria: ASC | DESC","name":"sort","in":"query","required":false},{"type":"integer","description":"limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"limit data from response","name":"skip","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getAllBusinessesTransactions":{"get":{"operationId":"getAdminGetallbusinessestransactions","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":false},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":false},{"type":"integer","description":"Limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"Skip data from response","name":"skip","in":"query","required":false},{"type":"string","description":"Name of the business","name":"searchUser","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getAllCancelReasons":{"get":{"summary":"Returns the list of all Cancel Reasons available","operationId":"getAdminGetallcancelreasons","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin","cancelReason"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getAllDriverTags":{"get":{"summary":"Returns the list of all Driver Tags available","operationId":"getAdminGetalldrivertags","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin","driverTag"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getAllPickersBalanceTransactions":{"get":{"summary":"Get total of all balance transactions of the pickers","operationId":"getAdminGetallpickersbalancetransactions","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":true},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":true},{"type":"integer","description":"Limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"Skip data from response","name":"skip","in":"query","required":false},{"type":"string","description":"user email or name","name":"searchUser","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getAllPickersOrderTransactions":{"get":{"summary":"Get the order amount of all pickers CC transactions in the date range requested.","operationId":"getAdminGetallpickersordertransactions","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":false},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":false},{"type":"integer","description":"Limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"Skip data from response","name":"skip","in":"query","required":false},{"type":"string","description":"Name of picker","name":"searchUser","in":"query","required":false},{"type":"boolean","name":"download","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getAllUsers":{"get":{"summary":"Get List Of All Customers by Role[serviceProvider, customer, driver, business]","operationId":"getAdminGetallusers","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"role of user order is  customer/driver/serviceProvider/admin/business","enum":["all","customer","driver","serviceProvider","admin","business"],"name":"role","in":"query","required":true},{"type":"string","enum":["all",true,false],"name":"isBlocked","in":"query","required":true},{"type":"string","enum":["all",true,false],"name":"isDeleted","in":"query","required":true},{"type":"string","enum":["all",true,false],"name":"isAdminVerified","in":"query","required":true},{"type":"boolean","description":"list only users created by self if true else all","name":"createdBySelf","in":"query","required":false},{"type":"string","description":"user email or name","name":"searchUser","in":"query","required":false},{"type":"integer","description":"limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"limit data from response","name":"skip","in":"query","required":false},{"type":"string","description":"Filter users that belong to this Super Region","name":"superRegionID","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getBanners":{"get":{"summary":"Returns the banners that match the query","operationId":"getAdminGetbanners","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Status of the banners to query","default":"ACTIVE","enum":["ACTIVE","INACTIVE","ALL"],"name":"status","in":"query","required":false},{"type":"string","description":"Type of the banners to query","enum":["BUSINESS","CATEGORY"],"name":"type","in":"query","required":false},{"type":"number","description":"Amount of results to return","name":"limit","in":"query","required":false},{"type":"number","description":"Amount of results to skip from the search","name":"skip","in":"query","required":false},{"type":"number","name":"latitude","in":"query","required":false},{"type":"number","name":"longitude","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin","banner"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getBookingDetails":{"get":{"summary":"Get All Deatils of a Particular Booking","operationId":"getAdminGetbookingdetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"booking id","minLength":24,"maxLength":24,"name":"id","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getBookingInfo":{"get":{"summary":"Get info of Booking & Review","operationId":"getAdminGetbookinginfo","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","minLength":24,"maxLength":24,"name":"bookingID","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getBookingTransactions":{"get":{"summary":"Get all the transactions related to the booking","operationId":"getAdminGetbookingtransactions","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"ID of the booking","name":"bookingID","in":"query","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getBookingsStats":{"get":{"summary":"Get Dashboard Count","operationId":"getAdminGetbookingsstats","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"startDate","in":"query","required":true},{"type":"string","name":"endDate","in":"query","required":true},{"type":"number","name":"utcOffset","in":"query","required":true},{"type":"string","description":"Filter users that belong to this Super Region","name":"superRegionID","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getBusinessBalanceTransactionDetails":{"get":{"summary":"Get all the marketplace transactions of a selected business in a date range","operationId":"getAdminGetbusinessbalancetransactiondetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"User ID of the business","name":"businessID","in":"query","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":true},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getBusinessByName":{"get":{"summary":"Get Business By Name","operationId":"getAdminGetbusinessbyname","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Name of the business","name":"businessName","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getBusinessInfo":{"get":{"summary":"Get all business info by its ID","operationId":"getAdminGetbusinessinfo","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"ID of the business","minLength":24,"maxLength":24,"name":"userID","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getBusinessesByIds":{"get":{"summary":"Get Business By ID","operationId":"getAdminGetbusinessesbyids","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"ID of the business","name":"businessIDS","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getCSVDataForAdmin":{"get":{"summary":"Get CSV report data","operationId":"getAdminGetcsvdataforadmin","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"startDate","in":"query","required":false},{"type":"string","name":"endDate","in":"query","required":false},{"type":"string","enum":["seviceRequest","completedRequest","paymentReceived","newPicker","newCustomer","activeInactiveCustomers","promosUsed","pickupDetails","paymentezTCTransactions","ignoredPickers","customerSatisfaction","newServiceRequestReport","newCompletedRequestReport","inactiveDrivers","bonusReport","blockedUsersReport","rechargesReport","fraudReport","corporateUsersReport","mrrReport","walletTransactionsReport","notCompletedReport","financeTSR","workspacesReport","businessDeliveryProvidersReport"],"name":"CSVtype","in":"query","required":true},{"type":"number","name":"amount","in":"query","required":false},{"type":"string","name":"unit","in":"query","required":false},{"type":"integer","description":"limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"limit data from response","name":"skip","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getDashboardCount":{"get":{"summary":"Get Dashboard Count","operationId":"getAdminGetdashboardcount","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"startDate","in":"query","required":true},{"type":"string","name":"endDate","in":"query","required":true},{"type":"string","description":"Filter users that belong to this Super Region","name":"superRegionID","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getDriverBanners":{"get":{"summary":"Returns the banners that match the query","operationId":"getAdminGetdriverbanners","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Status of the banners to query","default":"ACTIVE","enum":["ACTIVE","INACTIVE","ALL"],"name":"status","in":"query","required":false},{"type":"string","description":"Type of the banners to query","enum":["BUSINESS","CATEGORY"],"name":"type","in":"query","required":false},{"type":"number","description":"Amount of results to return","name":"limit","in":"query","required":false},{"type":"number","description":"Amount of results to skip from the search","name":"skip","in":"query","required":false},{"type":"number","name":"latitude","in":"query","required":false},{"type":"number","name":"longitude","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin","banner"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getOngoingBooking":{"get":{"summary":"Get Ongoing Booking","operationId":"getAdminGetongoingbooking","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","description":"limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"skip data from response","name":"skip","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getPastBooking":{"get":{"summary":"Get Past Booking","operationId":"getAdminGetpastbooking","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","description":"limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"skip data from response","name":"skip","in":"query","required":false},{"type":"string","name":"startDate","in":"query","required":false},{"type":"string","name":"endDate","in":"query","required":false},{"type":"string","format":"date","name":"dateFrom","in":"query","required":false},{"type":"string","enum":["DESC","ASC"],"name":"orderDate","in":"query","required":false},{"type":"string","format":"date","name":"dateTo","in":"query","required":false},{"type":"string","minLength":24,"maxLength":24,"name":"customer","in":"query","required":false},{"type":"string","minLength":24,"maxLength":24,"name":"driver","in":"query","required":false},{"type":"string","minLength":24,"maxLength":24,"name":"business","in":"query","required":false},{"type":"string","description":"user email or name","name":"searchBooking","in":"query","required":false},{"type":"string","description":"Type of bookings to filter","name":"typeText","in":"query","required":false},{"type":"array","description":"0 pending,  1-accepted, 2- Arrived , 3-WAY_TO_DELIVER, 4- arrived at delivery, 7-cancelled, 8 - cancelled by driver, 11- rejected by customer, 12- not foudn 5-completed","x-constraint":{"single":true},"items":{"type":"number","enum":[0,1,2,3,4,5,6,7,8,10,11,12,13,19,20,21,22,25,23,27,28,29]},"collectionFormat":"multi","name":"currentStatus","in":"query","required":false},{"type":"array","description":"Numeric type of booking","items":{"type":"number","enum":[0,2,3,4,5]},"collectionFormat":"multi","name":"bookingType","in":"query","required":false},{"type":"string","description":"Filter bookings that belong to this Super Region","name":"superRegionID","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getPickerBalanceTransactionsDetails":{"get":{"summary":"Get total of all balance transactions of the pickers","operationId":"getAdminGetpickerbalancetransactionsdetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"ID of the picekr to give the bonus/penalty","name":"pickerID","in":"query","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":true},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":true},{"type":"string","enum":["ITEM","DELIVERY","ALL"],"name":"type","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getPickerDetails":{"get":{"summary":"Get Picker details. Average rating, bookings stats","operationId":"getAdminGetpickerdetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"pickerID","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getPickerOrderTransactionDetails":{"get":{"summary":"Get all ITEM transactions from the selected driver","operationId":"getAdminGetpickerordertransactiondetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":false},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":false},{"type":"string","description":"ID of the driver to get his transactions","name":"pickerID","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getPickerPay":{"get":{"summary":"Get Picker Pay","operationId":"getAdminGetpickerpay","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Start date of the search on ISO format","name":"startDate","in":"query","required":true},{"type":"string","description":"End date of the search on ISO format","name":"endDate","in":"query","required":true},{"type":"string","description":"ID of the driver whose transactions are to be shown","name":"pickerID","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getQueryByCustomer":{"get":{"summary":"Get List Of All Contacts support]","operationId":"getAdminGetquerybycustomer","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false}],"tags":["support"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getServiceProviderInfo":{"get":{"summary":"Get all information from service provider","operationId":"getAdminGetserviceproviderinfo","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","minLength":24,"maxLength":24,"name":"serviceProviderID","in":"query","required":true}],"tags":["admin","serviceProvider"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getTransactionFraudInformation":{"get":{"summary":"Returns all the booking and customer's information of a transaction","operationId":"getAdminGettransactionfraudinformation","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"ID from the paymenteztransactions collection","name":"transactionID","in":"query","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["antiFraud"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getTransactionsByCode":{"get":{"summary":"Returns the transaction and booking information of the matching transaction","operationId":"getAdminGettransactionsbycode","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Transaction's authentication code","name":"code","in":"query","required":true},{"type":"number","description":"Amount of transactions to return","name":"limit","in":"query","required":false},{"type":"number","description":"Amount of transactions to skip from the search","name":"skip","in":"query","required":false},{"type":"string","description":"Search transactions from this date","name":"startDate","in":"query","required":false},{"type":"string","description":"Search transactions until this date","name":"endDate","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getUserCardInfo":{"get":{"summary":"Get user card info","operationId":"getAdminGetusercardinfo","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","minLength":24,"maxLength":24,"name":"_id","in":"query"}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/getUserHistory":{"get":{"summary":"Get history of user","operationId":"getAdminGetuserhistory","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"user id","minLength":24,"maxLength":24,"name":"userID","in":"query","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/listDefaultSettings":{"get":{"summary":"set admin default settings","operationId":"getAdminListdefaultsettings","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/searchAuthorizationCode":{"get":{"summary":"Get Transaction by Authorization Code]","operationId":"getAdminSearchauthorizationcode","parameters":[{"type":"string","name":"authCode","in":"query","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/userBookings":{"get":{"summary":"Get list of bookings from an user","operationId":"getAdminUserbookings","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","default":12,"name":"limit","in":"query","required":false},{"type":"integer","default":0,"name":"skip","in":"query","required":false},{"type":"string","format":"date","name":"startDate","in":"query","required":false},{"type":"string","format":"date","name":"endDate","in":"query","required":false},{"type":"string","name":"customer","in":"query","required":false},{"type":"string","name":"driver","in":"query","required":false},{"type":"string","name":"business","in":"query","required":false}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/userDetails":{"get":{"summary":"Get List Of All Customers by Role[serviceProvider, customer, driver]","operationId":"getAdminUserdetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","minLength":24,"maxLength":24,"name":"userID","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/warningBookings":{"get":{"summary":"Get list of bookings","operationId":"getAdminWarningbookings","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","default":12,"name":"limit","in":"query","required":false},{"type":"integer","default":0,"name":"skip","in":"query","required":false},{"type":"string","format":"date","name":"startDate","in":"query","required":false},{"type":"string","format":"date","name":"endDate","in":"query","required":false},{"type":"string","name":"sortField","in":"query","required":false},{"type":"string","name":"sortOrder","in":"query","required":false},{"type":"string","name":"adminResponsableID","in":"query","required":false},{"type":"string","name":"superRegionID","in":"query","required":false},{"type":"string","name":"currency","in":"query","required":false}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/angular4-docs/{param*}":{"get":{"summary":"for angular 4 docs","operationId":"getAngular4docsParam","tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/getBookingDetails":{"get":{"summary":"Get all details from a selected booking","operationId":"getApiGetbookingdetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","name":"bookingID","in":"query","required":false},{"type":"string","name":"id","in":"query","required":false},{"type":"string","name":"externalID","in":"query","required":false}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/getChatbotBooking":{"get":{"summary":"Get all details from a selected booking using chatbot","operationId":"getApiGetchatbotbooking","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","description":"Field bookingNumericId","name":"bookingID","in":"query","required":true}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/getDriver":{"get":{"summary":"Get drivers registered by the user","operationId":"getApiGetdriver","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"email","in":"query","required":true}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/getDriverById":{"get":{"summary":"Get driver by id","operationId":"getApiGetdriverbyid","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"id","in":"query","required":true}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/getDrivers":{"get":{"summary":"Get drivers registered by the user","operationId":"getApiGetdrivers","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"skip","in":"query","required":false}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/getPastBooking":{"get":{"summary":"Get Past Booking For User","operationId":"getApiGetpastbooking","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"skip","in":"query","required":false},{"type":"string","format":"date","name":"startDate","in":"query","required":false},{"type":"string","format":"date","name":"endDate","in":"query","required":false},{"type":"array","description":"0-Pending, 1-Accepted, 2-Arrived, 3-WAY_TO_DELIVER, 4-Arrived At Delivery, 5-Completed6-Cancelled By Admin, 7-Cancelled","x-constraint":{"single":true},"items":{"type":"number","enum":[0,1,2,3,4,5,7,6]},"collectionFormat":"multi","name":"currentStatus","in":"query","required":false}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/api/webhooks":{"get":{"summary":"Return the webhooks that the user is subscribed to","operationId":"getApiWebhooks","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true}],"tags":["business"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}},"post":{"summary":"Add a webhook to subscribe to an event","operationId":"postApiWebhooks","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model 61"}}],"tags":["business"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}},"delete":{"summary":"Delete a webhook the user is subscribed to","operationId":"deleteApiWebhooks","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model 81"}}],"tags":["business"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/appVersion/getCurrentVersions":{"get":{"summary":"get current versions of app","operationId":"getAppversionGetcurrentversions","parameters":[{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["appVersion"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/billing/driversBills":{"get":{"summary":"Get bills created for drivers","operationId":"getBillingDriversbills","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"startDate","in":"query","required":true},{"type":"string","name":"endDate","in":"query","required":true},{"type":"string","minLength":24,"maxLength":24,"name":"driver","in":"query","required":false},{"type":"number","minimum":0,"name":"limit","in":"query","required":false},{"type":"number","minimum":0,"name":"skip","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/billing/getAllUsersName":{"get":{"summary":"Get names of all users in DB","operationId":"getBillingGetallusersname","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Role of the users for the search","name":"role","in":"query","required":true}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/billing/getBillDetails":{"get":{"summary":"Get details related to the bill","operationId":"getBillingGetbilldetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"ID of the bill to check its details","minLength":24,"maxLength":24,"name":"billID","in":"query","required":true}],"tags":["admin","bill"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/booking/getAllAvailabeBooking":{"get":{"summary":"Get All Availabe Booking For serviceProvider and Driver","operationId":"getBookingGetallavailabebooking","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"skip","in":"query","required":false}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/booking/getAllBids":{"get":{"summary":"Get All Bid Request","operationId":"getBookingGetallbids","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Booking id for the bids","name":"bookingID","in":"query","required":true},{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"skip","in":"query","required":false}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/booking/getAllBookingDetails":{"get":{"summary":"Get All Deatils of Particular Booking For serviceProvider and Driver","operationId":"getBookingGetallbookingdetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"id","in":"query","required":true}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/booking/getAmountlogs":{"get":{"summary":"get order amount logs","operationId":"getBookingGetamountlogs","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","minLength":24,"maxLength":24,"name":"bookingID","in":"query","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["customer"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/booking/getBookingDetails":{"get":{"summary":"Get All Deatils of Particular Booking For serviceProvider and Driver","operationId":"getBookingGetbookingdetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"id","in":"query","required":true}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/booking/getBookingReport":{"get":{"summary":"Get booking report data for user","operationId":"getBookingGetbookingreport","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"_id of the booking selected","minLength":24,"maxLength":24,"name":"bookingID","in":"query","required":true}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/booking/getBookingRoute":{"get":{"summary":"Get path for specific booking","operationId":"getBookingGetbookingroute","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"Booking ID to fetch the track history","minLength":24,"maxLength":24,"name":"bookingID","in":"query","required":true},{"type":"boolean","name":"objectId","in":"query","required":false}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/booking/getOngoingBooking":{"get":{"summary":"Get Ongoing Booking For User","operationId":"getBookingGetongoingbooking","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"skip","in":"query","required":false}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/booking/getPastBooking":{"get":{"summary":"Get Past Booking For User","operationId":"getBookingGetpastbooking","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"skip","in":"query","required":false},{"type":"string","format":"date","name":"startDate","in":"query","required":false},{"type":"string","format":"date","name":"endDate","in":"query","required":false},{"type":"string","format":"date","name":"dateFrom","in":"query","required":false},{"type":"string","enum":["DESC","ASC"],"name":"orderDate","in":"query","required":false},{"type":"string","format":"date","name":"dateTo","in":"query","required":false},{"type":"array","description":"0-Pending, 1-Accepted, 2-Arrived, 3-WAY_TO_DELIVER, 4-Arrived At Delivery, 5-Completed, 7-Cancelled, 8-Cancelled By Driver, 10-Cancelled Request, 11-Rejected By Customer, 12-Not Found, 20-On Hold, 21-On Deck, 22-Ready for pickup","x-constraint":{"single":true},"items":{"type":"number","enum":[0,1,2,3,4,5,7,6,8,11,12,13,20,21,22,10,25,23,27,28,29]},"collectionFormat":"multi","name":"currentStatus","in":"query","required":false},{"type":"string","enum":["PICKUP_AND_DELIVER","BUY_AND_DELIVER","MARKETPLACE","SHOP_ORDER"],"name":"typeText","in":"query","required":false}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/booking/getProductList":{"get":{"summary":"Get list of products from the booking","operationId":"getBookingGetproductlist","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"_id of the booking selected","minLength":24,"maxLength":24,"name":"bookingID","in":"query","required":true}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/booking/preCheckout":{"get":{"summary":"Get deliveryFee and details for checkout screen","operationId":"getBookingPrecheckout","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","description":"Distance between pickup & delivery location","minimum":0,"name":"distance","in":"query","required":true},{"type":"number","minimum":-180,"maximum":180,"x-constraint":{"precision":6},"name":"pickupLongitude","in":"query","required":true},{"type":"number","minimum":-90,"maximum":90,"x-constraint":{"precision":6},"name":"pickupLatitude","in":"query","required":true},{"type":"array","description":"Array of products the customer will buy","items":{"type":"string"},"collectionFormat":"multi","name":"products","in":"query","required":true}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}},"post":{"summary":"Get delivery details for pre checkout view","operationId":"postBookingPrecheckout","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model 63"}}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/bookingAssignment/listBookingFloatSetting":{"get":{"summary":"Round settings for booking floating","operationId":"getBookingassignmentListbookingfloatsetting","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","enum":["Manual","Broadcast","Round Robin"],"name":"typeOfAlgo","in":"query","required":false},{"type":"string","enum":["serviceProvider","driver"],"name":"forWhom","in":"query","required":false},{"type":"string","description":"for booking float methods of specific serviceProvider","minLength":24,"maxLength":24,"name":"serviceProviderID","in":"query"},{"type":"number","description":"Limit number of records","name":"limit","in":"query"},{"type":"number","description":"Skip number of records","name":"skip","in":"query"}],"consumes":["application/x-www-form-urlencoded"],"tags":["bookingAssignment"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/bookingIssues/getBookingIssues":{"get":{"summary":"get all booking issues","operationId":"getBookingissuesGetbookingissues","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin","BookingIssues"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/bookings/getAllBookingsDashBoard":{"get":{"summary":"Get General info about businesses","operationId":"getBookingsGetallbookingsdashboard","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"page","in":"query","required":false},{"type":"string","name":"status","in":"query","required":false},{"type":"string","name":"from","in":"query","required":false},{"type":"string","name":"to","in":"query","required":false},{"type":"string","name":"orderBy","in":"query","required":false},{"type":"boolean","name":"onlyPast","in":"query","required":false},{"type":"boolean","name":"onlyActives","in":"query","required":false}],"tags":["user","dashboard","bookings"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/bookings/getCoportatesAllBookings":{"get":{"summary":"Get General info about businesses","operationId":"getBookingsGetcoportatesallbookings","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"page","in":"query","required":false},{"type":"string","name":"status","in":"query","required":false},{"type":"string","name":"from","in":"query","required":false},{"type":"string","name":"to","in":"query","required":false},{"type":"string","name":"orderBy","in":"query","required":false},{"type":"boolean","name":"onlyPast","in":"query","required":false},{"type":"boolean","name":"onlyActives","in":"query","required":false},{"type":"string","description":"ID of the selected user to filter its bookings","name":"userID","in":"query","required":false}],"tags":["user","dashboard","bookings"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/bookings/getCorporateBookingsByUserId":{"get":{"summary":"Get coportates orders by businessId","operationId":"getBookingsGetcorporatebookingsbyuserid","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"page","in":"query","required":false},{"type":"string","name":"userId","in":"query","required":true}],"tags":["user","dashboard","bookings"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/categories":{"get":{"summary":"Get all the products from a business","operationId":"getBusinessCategories","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false}],"tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/categoriesByUserId":{"get":{"summary":"Get all the products from a business","operationId":"getBusinessCategoriesbyuserid","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false},{"type":"string","name":"businessUserId","in":"query","required":true}],"tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/checkAvailableNames":{"get":{"summary":"Check if the name of the business is available","operationId":"getBusinessCheckavailablenames","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"name","in":"query","required":true}],"tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getAccountInfoIntegrationDashboard":{"get":{"summary":"Get General info about specific business","operationId":"getBusinessGetaccountinfointegrationdashboard","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"userId","in":"query","required":false}],"tags":["user","dashboard","business"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getAssociatedBusiness":{"get":{"summary":"Get General info about businesses","operationId":"getBusinessGetassociatedbusiness","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"storeType","in":"query","required":false},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false},{"type":"string","name":"search","in":"query","required":false},{"type":"string","name":"sortField","in":"query","required":false},{"type":"string","name":"sortOrder","in":"query","required":false},{"type":"boolean","name":"status","in":"query","required":false}],"tags":["user","dashboard","business"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getBookings":{"get":{"summary":"Get Past Booking","operationId":"getBusinessGetbookings","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","description":"limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"skip data from response","name":"skip","in":"query","required":false},{"type":"string","name":"startDate","in":"query","required":false},{"type":"string","name":"endDate","in":"query","required":false},{"type":"string","format":"date","name":"dateFrom","in":"query","required":false},{"type":"string","enum":["DESC","ASC"],"name":"orderDate","in":"query","required":false},{"type":"string","format":"date","name":"dateTo","in":"query","required":false},{"type":"array","items":{"type":"string"},"collectionFormat":"multi","name":"businessArray","in":"query","required":true},{"type":"string","description":"user email or name","name":"searchBooking","in":"query","required":false},{"type":"string","description":"Type of bookings to filter","name":"typeText","in":"query","required":false},{"type":"array","description":"0 pending,  1-accepted, 2- Arrived , 3-WAY_TO_DELIVER, 4- arrived at delivery, 7-cancelled, 8 - cancelled by driver, 11- rejected by customer, 12- not foudn 5-completed","x-constraint":{"single":true},"items":{"type":"number","enum":[0,1,2,3,4,5,6,7,8,10,11,12,13,19,20,21,22,25,23,27,28,29]},"collectionFormat":"multi","name":"currentStatus","in":"query","required":false},{"type":"array","description":"Numeric type of booking","items":{"type":"number","enum":[0,2,3,4,5]},"collectionFormat":"multi","name":"bookingType","in":"query","required":false},{"type":"string","description":"Filter bookings that belong to this Super Region","name":"superRegionID","in":"query","required":false}],"tags":["admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getBookingsDataByDatesDashboard":{"get":{"summary":"Get General info about businesses","operationId":"getBusinessGetbookingsdatabydatesdashboard","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"fromDate","in":"query","required":true},{"type":"string","name":"toDate","in":"query","required":true},{"type":"boolean","name":"isSemester","in":"query","required":false}],"tags":["user","dashboard","business"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getBookingsIntegrationDashboard":{"get":{"summary":"Get General info about businesses","operationId":"getBusinessGetbookingsintegrationdashboard","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"userID","in":"query","required":false}],"tags":["user","dashboard","business"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getBusinessCategories":{"get":{"summary":"Get the business categories in order","operationId":"getBusinessGetbusinesscategories","parameters":[{"type":"string","enum":["VISIBLE","NOT_VISIBLE","ALL"],"name":"visibility","in":"query","required":false},{"type":"number","description":"The number of catgeories that will be returned for each page","name":"limit","in":"query","required":false},{"type":"number","description":"For pagination effect. On first page it is 0, then for each next page is (page x limit) so it can return the next X categories","name":"skip","in":"query","required":false},{"type":"number","name":"latitude","in":"query","required":false},{"type":"number","name":"longitude","in":"query","required":false}],"tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getBusinessInfo":{"get":{"summary":"Get the business info and its products grouped by category","operationId":"getBusinessGetbusinessinfo","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"ID of the business","minLength":24,"maxLength":24,"name":"businessID","in":"query","required":true}],"tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getBusinessInfoAfterLanding":{"get":{"summary":"Get business info for landing","operationId":"getBusinessGetbusinessinfoafterlanding","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"businessID","in":"query","required":true}],"tags":["business"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getBusinessInfoByUserId":{"get":{"summary":"Get the business info and its products grouped by category","operationId":"getBusinessGetbusinessinfobyuserid","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"ID of the user","minLength":24,"maxLength":24,"name":"userId","in":"query","required":true}],"tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getBusinessesByDistance":{"get":{"summary":"Get the business categories in order","operationId":"getBusinessGetbusinessesbydistance","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","name":"latitude","in":"query","required":false},{"type":"number","name":"longitude","in":"query","required":false},{"type":"string","description":"ID of the business category","minLength":24,"maxLength":24,"name":"category","in":"query","required":false}],"tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getBusinessesBySubcategory":{"get":{"summary":"Get the business of the subcategory ordered by distance to user location","operationId":"getBusinessGetbusinessesbysubcategory","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","name":"latitude","in":"query","required":true},{"type":"number","name":"longitude","in":"query","required":true},{"type":"string","description":"ID of the business category","minLength":24,"maxLength":24,"name":"category","in":"query","required":true},{"type":"string","description":"Name of the subcategory","name":"subcategory","in":"query","required":true}],"tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getBusinessesGeneralInfo":{"get":{"summary":"Get General info about businesses","operationId":"getBusinessGetbusinessesgeneralinfo","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false}],"tags":["user","dashboard","business"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/getStats":{"get":{"summary":"Get the business dashboard information","operationId":"getBusinessGetstats","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"dateTo","in":"query","required":true},{"type":"string","name":"dateFrom","in":"query","required":true}],"tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/landing":{"get":{"summary":"Get business info for landing","operationId":"getBusinessLanding","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"businessId","in":"query","required":true}],"tags":["business"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/products":{"get":{"summary":"Get all the products from a business","operationId":"getBusinessProducts","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false},{"type":"string","description":"ID of the category of the product","minLength":24,"maxLength":24,"name":"categoryID","in":"query","required":false},{"type":"string","description":"ID of the business","minLength":24,"maxLength":24,"name":"businessID","in":"query","required":false},{"type":"string","description":"Status of the products to show","name":"status","in":"query","required":true},{"type":"string","description":"Object path to populate","name":"populates","in":"query","required":false},{"type":"string","description":"Order of the products DESC or ASC","name":"updatedAt","in":"query","required":false}],"tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/reports":{"get":{"summary":"Get business booking reports","operationId":"getBusinessReports","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"startDate","in":"query","required":true},{"type":"string","name":"endDate","in":"query","required":true}],"tags":["business"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/sendSundayReports":{"get":{"summary":"Ping Server","operationId":"getBusinessSendsundayreports","tags":["user"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/business/turnOffOnBusinessById":{"get":{"summary":"Get General info about specific business","operationId":"getBusinessTurnoffonbusinessbyid","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"businessUserId","in":"query","required":true},{"type":"string","name":"businessId","in":"query","required":true},{"type":"string","name":"currentStatus","in":"query","required":true}],"tags":["user","dashboard","business"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/chat/getChatForBooking":{"get":{"summary":"get all chat for booking","operationId":"getChatGetchatforbooking","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","minLength":24,"maxLength":24,"name":"bookingID","in":"query"},{"type":"number","name":"limit","in":"query"},{"type":"number","name":"skip","in":"query"}],"tags":["chat"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/chat/getChatForBookingByComeChat":{"get":{"summary":"get all chat for booking","operationId":"getChatGetchatforbookingbycomechat","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","minLength":24,"maxLength":24,"name":"bookingID","in":"query"},{"type":"number","name":"limit","in":"query"},{"type":"number","name":"skip","in":"query"}],"tags":["chat"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/client/getMessage":{"get":{"summary":"Returns a message for a text banner","operationId":"getClientGetmessage","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"messageId","in":"query","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["admin","banner"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/customer/availableServiceProvider":{"get":{"summary":"Round settings for booking floating","operationId":"getCustomerAvailableserviceprovider","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","minLength":24,"maxLength":24,"name":"serviceID","in":"query","required":true},{"type":"number","minimum":-180,"maximum":180,"x-constraint":{"precision":6},"name":"pickupLongitude","in":"query","required":true},{"type":"number","minimum":-90,"maximum":90,"x-constraint":{"precision":6},"name":"pickupLatitude","in":"query","required":true},{"type":"number","description":"distance range to float booking","name":"radius","in":"query"},{"type":"number","description":"Limit number of records","name":"limit","in":"query"},{"type":"number","description":"Skip number of records","name":"skip","in":"query"}],"consumes":["application/x-www-form-urlencoded"],"tags":["customer"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/customer/bookingAddresses":{"get":{"summary":"Sends Reset Password Token To User","operationId":"getCustomerBookingaddresses","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","enum":["DELIVERY","PICKUP"],"name":"addressType","in":"query","required":true},{"type":"integer","description":"limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"limit data from response","name":"skip","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["customer"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/customer/bookingPaymentHistory":{"get":{"summary":"Get List Of All customer payments]","operationId":"getCustomerBookingpaymenthistory","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","minLength":24,"maxLength":24,"name":"userID","in":"query","required":true},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false}],"tags":["support"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/customer/bookingPaymentPending":{"get":{"summary":"Get List Of All customer payments]","operationId":"getCustomerBookingpaymentpending","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","minLength":24,"maxLength":24,"name":"userID","in":"query","required":true},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false}],"tags":["support"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/customer/getFavorites":{"get":{"summary":"Get list favorite products and businesses from user.","operationId":"getCustomerGetfavorites","parameters":[{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false},{"type":"number","name":"latitude","in":"query","required":false},{"type":"number","name":"longitude","in":"query","required":false}],"tags":["customer","favorite","products","businesses"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/customer/getPastBooking":{"get":{"summary":"Get Past Booking For Customer","operationId":"getCustomerGetpastbooking","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"skip","in":"query","required":false},{"type":"string","format":"date","name":"startDate","in":"query","required":false},{"type":"string","format":"date","name":"endDate","in":"query","required":false},{"type":"string","enum":["DESC","ASC"],"name":"orderDate","in":"query","required":false},{"type":"array","x-constraint":{"single":true},"items":{"type":"number","enum":[0,1,2,3,4,5,7,6,8,11,12,13,20,21,22,10,25,23,27,28,29]},"collectionFormat":"multi","name":"currentStatus","in":"query","required":false}],"tags":["booking"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/customer/listServiceLocation":{"get":{"summary":"Get list Of all service location","operationId":"getCustomerListservicelocation","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false},{"type":"array","description":"DELIVERY PICKUP ","items":{"type":"string","enum":["DELIVERY","PICKUP"]},"collectionFormat":"multi","name":"addressType","in":"query","required":false},{"type":"string","description":" HOME OFFICE","enum":["HOME","OFFICE"],"name":"type","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["customer"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/customer/search":{"get":{"summary":"Search businesses and products by searchText.","operationId":"getCustomerSearch","parameters":[{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false},{"type":"string","minLength":3,"name":"searchText","in":"query","required":true},{"type":"number","name":"latitude","in":"query","required":false},{"type":"number","name":"longitude","in":"query","required":false}],"tags":["customer","favorite","products","businesses"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/customer/totalPayments":{"get":{"summary":"Get List Of All customer payments]","operationId":"getCustomerTotalpayments","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false}],"tags":["support"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/driver/getAllAvailableDriver":{"get":{"summary":"Returns a list of drivers that match the criteria selected","operationId":"getDriverGetallavailabledriver","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false},{"type":"string","minLength":24,"maxLength":24,"name":"regionID","in":"query","required":false},{"type":"string","description":"User's email or name","name":"searchBooking","in":"query","required":false},{"type":"string","name":"searchText","in":"query","required":false},{"type":"number","enum":[1,0],"name":"carType","in":"query","required":true},{"type":"number","description":"Search for drivers near this latitude","name":"latitude","in":"query","required":false},{"type":"number","description":"Search for drivers near this longitude","name":"longitude","in":"query","required":false},{"type":"number","minimum":0,"name":"minimumDriverCash","in":"query","required":false},{"type":"string","name":"bookingID","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["driver"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/driver/getAllAvailableDriverMyFleet":{"get":{"summary":"Returns a list of drivers that match the criteria selected","operationId":"getDriverGetallavailabledrivermyfleet","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","name":"limit","in":"query","required":false},{"type":"number","name":"skip","in":"query","required":false},{"type":"string","minLength":24,"maxLength":24,"name":"regionID","in":"query","required":false},{"type":"string","description":"User's email or name","name":"searchBooking","in":"query","required":false},{"type":"string","name":"searchText","in":"query","required":false},{"type":"number","enum":[1,0],"name":"carType","in":"query","required":true},{"type":"number","description":"Search for drivers near this latitude","name":"latitude","in":"query","required":false},{"type":"number","description":"Search for drivers near this longitude","name":"longitude","in":"query","required":false},{"type":"number","minimum":0,"name":"minimumDriverCash","in":"query","required":false},{"type":"string","name":"bookingID","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["driver"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/driver/getAllDriver":{"get":{"summary":"get all Driver","operationId":"getDriverGetalldriver","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["driver"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/driver/getDriverBalances":{"get":{"summary":"Returns the drivers work balance and total pay","operationId":"getDriverGetdriverbalances","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["driver"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/driver/getDriverTracking":{"get":{"summary":"get all Driver","operationId":"getDriverGetdrivertracking","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"number","enum":[1,0,3],"name":"carType","in":"query","required":true},{"type":"number","enum":[1,2,3],"name":"status","in":"query","required":true},{"type":"string","name":"superRegionID","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["driver"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/driver/getEarnings":{"get":{"summary":"Driver get Earnings","operationId":"getDriverGetearnings","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"startDate","in":"query","required":true},{"type":"string","name":"endDate","in":"query","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["serviceProvider"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/driver/getVehicleDetails":{"get":{"summary":"get vehicle details","operationId":"getDriverGetvehicledetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"boolean","name":"isDeleted","in":"query"},{"type":"integer","description":"limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"limit data from response","name":"skip","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["driver"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/driver/listVehicleTypeAndCompany":{"get":{"summary":"get vehicle type and company","operationId":"getDriverListvehicletypeandcompany","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"boolean","name":"isDeleted","in":"query"},{"type":"integer","description":"limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"limit data from response","name":"skip","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["driver"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/notification/getAllNotification":{"get":{"summary":"Get All Notification Of Admin","operationId":"getNotificationGetallnotification","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"boolean","description":"Required only if markAllAsRead is true","name":"isAdminNotification","in":"query","required":false},{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"skip","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["notification"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/promo/getAllUserPromo":{"get":{"summary":"delete referral scheme by admin","operationId":"getPromoGetalluserpromo","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"role of user order is  customer/driver","enum":["customer","driver"],"name":"role","in":"query"},{"type":"integer","description":"limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"limit data from response","name":"skip","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["promo"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/promo/listAllPromo":{"get":{"summary":"delete referral scheme by admin","operationId":"getPromoListallpromo","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","description":"role of user order is  customer/driver","enum":["customer","driver"],"name":"role","in":"query"},{"type":"string","enum":["PAST","ACTIVE"],"name":"status","in":"query"},{"type":"integer","description":"limit data in response","name":"limit","in":"query","required":false},{"type":"integer","description":"limit data from response","name":"skip","in":"query","required":false}],"consumes":["application/x-www-form-urlencoded"],"tags":["promo"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/promo/promoDetails":{"get":{"summary":"delete referral scheme by admin","operationId":"getPromoPromodetails","parameters":[{"type":"string","description":"Bearer Token","name":"authorization","in":"header","required":true},{"type":"string","description":"en/ar","name":"content-language","in":"header","required":true},{"type":"string","name":"alias","in":"query","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["promo"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/public/reports":{"get":{"summary":"Get Past Booking For Business public","operationId":"getPublicReports","parameters":[{"type":"integer","name":"limit","in":"query","required":false},{"type":"integer","name":"page","in":"query","required":false},{"type":"string","format":"date","name":"startDate","in":"query","required":true},{"type":"string","format":"date","name":"endDate","in":"query","required":true},{"type":"string","name":"token","in":"query","required":true}],"tags":["public","reports"],"res
[...]
